.backdrop {
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
    transition: opacity var(--main-transition),
        visibility var(--main-transition);

    background-color: rgba(0, 0, 0, 0.3);

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }
}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    padding: 50px 10px;

    background-color: var(--white);
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1);
    opacity: 1;

    transition: transform var(--main-transition),
    opacity var(--main-transition); 

    .backdrop.is-hidden & {
        transform: translate(-50%, -50%) scale(0.8);
        opacity: 0.7;
    }

    @include mobile {
        width: 320px;
    }
    @media screen and (min-width: 480px) {
        width: 450px;
    }
    @include tablet {
        width: 580px;
        padding: 50px 70px;
    }
    &::before {
        display: block;
        content: "";

        position: absolute;
        top: 0px;
        left: 0px;
        width: 124px;
        height: 74px;
        background-image: url(../img/reusable/leaf-top-left-124.png);
        background-repeat: no-repeat;
    }

    &::after {
        display: block;
        content: "";

        position: absolute;
        bottom: 2px;
        right: 0;
        transform: rotate(360deg);
        width: 47px;
        height: 36px;
        background-image: url(../img/reusable/blobs-36.png);
        background-repeat: no-repeat;
    }
}

.modal-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: inherit;
    transition: stroke var(--main-transition);

    stroke: var(--grey);
    &:hover,
    &:focus {
        stroke: var(--light-theme-text-color);
    }
}

.modal-title {
    text-align: center;
    margin-bottom: 30px;

    @include font(500, 24px, calc(31px / 24px));
    color: var(--main-accent-color);

    @include tablet {
        @include font(null, 36px, calc(47px / 36px));
        margin-bottom: 30px;
    }
}
.modal-text {
    text-align: center;

    @include font(400, 16px, calc(21px / 16px));
    color: var(--main-accent-color);

    @include tablet {
        @include font(null, 24px, calc(31px / 24px));
    }
}