<section class="guarantee">
    <div class="container">
        <ul class="guar-nav">
            <li class="guar-nav-item">
                <a href="./index.html">Головна /</a>
            </li>
            <li class="guar-nav-item">Гарантія</li>
        </ul>
        <h1 class="guar-top-title">Гарантія якості</h1>
        <ul class="guar-list">
            <li class="guar-item">
                <svg class="guar-icon">
                    <use href="./img/symbol-defs.svg#icon-guarantee-1"></use>
                </svg>
                <div class="guar-item-info-wrap">
                    <h2 class="guar-item-title">Гарантія свіжості</h2>
                    <p class="guar-item-text">Ми вручну збираємо букети тільки зі свіжих квітів найвищої якості</p>
                </div>
            </li>
            <li class="guar-item">
                <svg class="guar-icon">
                    <use href="./img/symbol-defs.svg#icon-guarantee-2"></use>
                </svg>
                <div class="guar-item-info-wrap">
                    <h2 class="guar-item-title">Найкращі флористи</h2>
                    <p class="guar-item-text">Усі букети з любов'ю збирають досвідчені флористи, справжні майстри своєї справи</p>
                </div>
            </li>
            <li class="guar-item">
                <svg class="guar-icon">
                    <use href="./img/symbol-defs.svg#icon-guarantee-3"></use>
                </svg>
                <div class="guar-item-info-wrap">
                    <h2 class="guar-item-title">Щасливий отримувач</h2>
                    <p class="guar-item-text">Не сподобався букет? Повідомте нам про це протягом 24 годин, і ми замінимо його на новий</p>
                </div>
            </li>
            <li class="guar-item">
                <svg class="guar-icon">
                    <use href="./img/symbol-defs.svg#icon-guarantee-4"></use>
                </svg>
                <div class="guar-item-info-wrap">
                    <h2 class="guar-item-title">Завжди на зв'язку</h2>
                    <p class="guar-item-text">Ми завжди готові узгодити з вами будь-які зміни в замовленні та повідомимо, якщо не вдалося зв'язатися з одержувачем</p>
                </div>
            </li>
            <li class="guar-item">
                <svg class="guar-icon">
                    <use href="./img/symbol-defs.svg#icon-guarantee-5"></use>
                </svg>
                <div class="guar-item-info-wrap">
                    <h2 class="guar-item-title">Пунктуальна доставка</h2>
                    <p class="guar-item-text">Наші кур'єри бездоганно ввічливі й завжди доставляють замовлення по Києву та за його межі точно в термін</p>
                </div>
            </li>
        </ul>
    </div>
</section>