<section class="personal-cabinet">
    <div class="container">

        <h1 class="visually-hidden">Особистий кабінет</h1>
        <!-- не чіпай h1 -->


        <h2 class="pers-cab-title-desk">Особистий кабінет</h2>
        <button type="button" class="pers-cab-menu-btn open-btn" data-open>Меню Особистого кабінета
            <svg class="pers-cab-menu-close-icon" width="40" height="40">
                <use href="./img/symbol-defs.svg#burger-menu-icon"></use>
            </svg>
        </button>
        <button type="button" class="pers-cab-menu-btn close-btn ">Згорнути меню
            <svg class="pers-cab-menu-close-icon" width="40" height="40">
                <use href="./img/symbol-defs.svg#cross-icon"></use>
            </svg>
        </button>

        <div class="pers-cab-main">
            <div class="pers-cab-menu-wrap">
                
                <p class="pers-cab-menu-title">Особистий кабінет</p>
            
                <div class="pers-cab-menu">
                    <!-- випадашка -->
                    <ul class="pers-cab-menu-list">
                        <li class="pers-cab-menu-item">
                            <a href="" class="pers-cab-menu-link">
                                <svg class="pers-cab-menu-icon" width="28" height="28">
                                    <use href="./img/symbol-defs.svg#user-icon"></use>
                                </svg>Профіль</a>
                        </li>
                        <li class="pers-cab-menu-item">
                            <a href="./partials/personal-cabinet/orders.html" class="pers-cab-menu-link">
                                <svg class="pers-cab-menu-icon" width="28" height="28">
                                    <use href="./img/symbol-defs.svg#shopping-bag-icon"></use>
                                </svg>
                                Замовлення</a>
                        </li>
                        <li class="pers-cab-menu-item">
                            
                            <a href="./partials/personal-cabinet/notification.html" class="pers-cab-menu-link">
                                <svg class="pers-cab-menu-icon" width="28" height="28">
                                    <use href="./img/symbol-defs.svg#bell-icon"></use>
                                </svg>
                                Повідомлення</a>
                        </li>
                        <li class="pers-cab-menu-item">
                            <a href="./partials/personal-cabinet/favorites.html" class="pers-cab-menu-link">
                                <svg class="pers-cab-menu-icon" width="28" height="28">
                                    <use href="./img/symbol-defs.svg#wish-icon"></use>
                                </svg>
                                Вибране</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- end pers-cab-menu-wrap -->
            
            <div class="pers-cab-content">
                <!-- <include src="./partials/personal-cabinet/profile.html"></include> -->
            </div> 
            <!-- end of content -->

        </div>

<!-- container end  -->
    </div>
</section>