<div class="pers-cab-menu-wrap">

    <p class="pers-cab-menu-title">Особистий кабінет</p>

    <div class="pers-cab-menu">
        <!-- випадашка -->
        <ul class="pers-cab-menu-list">
            <li class="pers-cab-menu-item">
                <a href="" class="pers-cab-menu-link">
                    <svg class="pers-cab-menu-icon" width="28" height="28">
                        <use href="./img/symbol-defs.svg#user-icon"></use>
                    </svg>Профіль</a>
            </li>
            <li class="pers-cab-menu-item">
                <a href="./partials/personal-cabinet/orders.html" class="pers-cab-menu-link">
                    <svg class="pers-cab-menu-icon" width="28" height="28">
                        <use href="./img/symbol-defs.svg#shopping-bag-icon"></use>
                    </svg>
                    Замовлення</a>
            </li>
            <li class="pers-cab-menu-item">

                <a href="./partials/personal-cabinet/notification.html" class="pers-cab-menu-link">
                    <svg class="pers-cab-menu-icon" width="28" height="28">
                        <use href="./img/symbol-defs.svg#bell-icon"></use>
                    </svg>
                    Повідомлення</a>
            </li>
            <li class="pers-cab-menu-item">
                <a href="./partials/personal-cabinet/favorites.html" class="pers-cab-menu-link">
                    <svg class="pers-cab-menu-icon" width="28" height="28">
                        <use href="./img/symbol-defs.svg#wish-icon"></use>
                    </svg>
                    Вибране</a>
            </li>
        </ul>
    </div>
</div>
