<section class="personal-cabinet">
    <div class="container">
        <button type="button" class="pers-cab-menu-close-btn">Згорнути меню
            <svg class="pers-cab-menu-close-icon" width="40" height="40">
                <use href="./img/symbol-defs.svg#cross-icon"></use>
            </svg>
        </button>
        <h1 class="pers-cab-title">Особистий кабінет</h1>
        
        <div class="pers-cab-main">
            <div class="pers-cab-menu">
                <!-- випадашка -->
                <ul class="pers-cab-menu-list">
                    <li class="pers-cab-menu-item">
                        <svg class="pers-cab-menu-icon" width="28" height="28">
                            <use href="./img/symbol-defs.svg#user-icon"></use>
                        </svg>
                        <a href="" class="pers-cab-menu-link">Профіль</a>
                    </li>
                    <li class="pers-cab-menu-item">
                        <svg class="pers-cab-menu-icon" width="28" height="28">
                            <use href="./img/symbol-defs.svg#shopping-bag-icon"></use>
                        </svg>
                        <a href="" class="pers-cab-menu-link">Замовлення</a>
                    </li>
                    <li class="pers-cab-menu-item">
                        <svg class="pers-cab-menu-icon" width="28" height="28">
                            <use href="./img/symbol-defs.svg#bell-icon"></use>
                        </svg>
                        <a href="" class="pers-cab-menu-link">Повідомлення</a>
                    </li>
                    <li class="pers-cab-menu-item">
                        <svg class="pers-cab-menu-icon" width="28" height="28">
                            <use href="./img/symbol-defs.svg#wish-icon"></use>
                        </svg>
                        <a href="" class="pers-cab-menu-link">Вибране</a>
                    </li>
                </ul>
            </div>
            
            <div class="pers-cab-content">
                <form class="pers-cab-form">
                    <!-- 1 -->
                    <div class="pers-form-group" role="group">
                        <p class="pers-form-group-title">Особиста інформація</p>
                        <!-- photo -->
                        <label for="name"></label>
                        <input 
                            type="text" 
                            name="user-name" 
                            id="name" 
                            class="pers-form-input" 
                            placeholder="ПІБ">
                        <label for="birth-date"></label>
                        <input 
                            type="text" 
                            name="user-birth-date" 
                            id="birthdate" 
                            class="pers-form-input" 
                            placeholder="Дата народження">
            
                        <p class="pers-form-group-text">Стать</p>
                        <label for=""><input type="checkbox">Чоловіча</label>
                        <label for=""><input type="checkbox">Жіноча</label>
                    </div>
            
                    <!-- 2 -->
                    <div class="pers-form-group" role="group">
                        <p class="pers-form-group-title">Локація і час</p>
                        <label for=""></label>
                        <input 
                            type="text" 
                            class="pers-form-input"
                            placeholder="Місто проживання">
                        <label for=""></label>
                        <input 
                            type="text" 
                            class="pers-form-input"
                            placeholder="Мова">
                        <label for=""></label>
                        <input 
                            type="text" 
                            class="pers-form-input"
                            placeholder="Часовий пояс">
                    </div>
            
                    <!-- 3 -->
                    <div class="pers-form-group" role="group">
                        <p class="pers-form-group-title">Контактні дані</p>
                        <label for=""></label>
                        <input 
                            type="text" 
                            class="pers-form-input" 
                            placeholder="Номер телефону">
                        <label for=""></label>
                        <input 
                            type="text" 
                            class="pers-form-input" 
                            placeholder="Пароль">
                        <label for=""></label>
                        <input 
                            type="text" 
                            class="pers-form-input" 
                            placeholder="Електронна пошта">
                    </div>
                    <button type="submit" class="button dark">Зберегти зміни</button>
                </form>
            </div>
        </div>
    </div>
</section>