<form class="pers-cab-form">
    <!-------------------- 1 --------------------------->
    <div class="pers-form-group" role="group" aria-labelledby="user-personal-data">
        <p id="user-personal-data" class="pers-form-group-title">Особиста інформація</p>
        <!-- photo -->
        <div class="first-form-content-wrap-desk">
            <!-- <input type="file">  -->
            <div class="pers-photo">
                <svg class="pers-photo-icon">
                    <use href="./img/symbol-defs.svg#camera-icon"></use>
                </svg>
            </div>
            <div class="pers-flex-wrap-tab">
                <!-- -------simple input----- -->
                <div class="input-col-wrapper">
                    <label class="pers-label">
                        <input type="text" name="user-name" class="pers-form-input" placeholder="ПІБ">
                    </label>
                    <label class="pers-label">
                        <input type="text" name="user-birth-date" class="pers-form-input" placeholder="Дата народження">
                    </label>
                </div>

                <!-- RADIO BUTTON -->
                <div class="pers-radio-wrapper">
                    <p class="pers-form-group-text">Стать</p>
                    <input type="radio" name="gender" id="pers-radio-male" value="male"
                        class="pers-radio-input visually-hidden">
                    <label for="pers-radio-male" class="pers-radio-label">Чоловіча</label>
                    <input type="radio" name="gender" id="pers-radio-female" value="female"
                        class="pers-radio-input visually-hidden">
                    <label for="pers-radio-female" class="pers-radio-label">Жіноча</label>
                </div>
            </div>
        </div>
    </div>

    <!-------------------- 2 ----------------------->

    <div class="pers-form-group" role="group" aria-labelledby="user-availability-data">
        <p id="user-availability-data" class="pers-form-group-title">Місцезнаходження і час</p>
        <div class="input-grid-wrap">
            <label class="local-label">
                <input type="text" class="pers-form-input" placeholder="Місто проживання">
            </label>
            <label class="local-label">
                <input type="text" class="pers-form-input" placeholder="Мова" id="pers-lang">
            </label>
            <label class="local-label">
                <input type="text" class="pers-form-input" placeholder="Часовий пояс">
            </label>

            <div class="wrap-for-call">
                <p class="for-call-text">Період для дзвінків</p>
                <div class="pers-time-flex">
                    <label class="pers-time-label">З
                        <input type="text" class="pers-time-input" placeholder="12:00">
                    </label>
                    <label class="pers-time-label">до
                        <input type="text" class="pers-time-input" placeholder="15:00">
                    </label>
                </div>
            </div>
        </div>
    </div>

    <!--------------------- 3 ------------------------->
    <div class="pers-form-group" role="group" aria-labelledby="user-contact-data">
        <p id="user-contact-data" class="pers-form-group-title">Контактні дані</p>
        <div class="input-grid-wrap">
            <label for="pers-number">
                <input type="tel" class="pers-form-input" placeholder="Номер телефону" id="pers-number">
            </label>

            <label for="pers-mail">
                <input type="email" class="pers-form-input" placeholder="Електронна пошта" id="pers-mail">
            </label>

            <label for="pers-password">
                <input type="password" class="pers-form-input" placeholder="Пароль" id="pers-password">
            </label>
        </div>
    </div>
    <div class="button-wrap">
        <button type="submit" class="button dark">Зберегти зміни</button>
    </div>

</form>