<section class="shop">
    <div class="container">
        <div class="shop-nav">
            <a href="./index.html" class="shop-nav-link">Головна</a>
            <span class="shop-separator">/</span>
            <a href="./shop.html" class="shop-nav-link shop-nav-link-second">Про магазини</a>
        </div>
        <h1 class="shop__main-title">Про магазини</h1>
        <h2 class="shop__title shop__title-start">Магазин Gvozdika.by забезпечить доставку квітів з будь-якого приводу</h2>
      <div class="shop__part">
        <div class="shop__text-first">
            <h2 class="shop__title shop__title-finish">Магазин Gvozdika.by забезпечить доставку квітів з будь-якого приводу</h2>
            <p class="shop__text">
                У разі попереднього замовлення, <span class="shop__text-span"> ми гарантуємо </span>   
                великий вибір зрізаних та кімнатних рослин. В нашому магазині на
                Вас чекають флористи, які допоможуть обрати букет, котрий відповідає
                Вашим бажанням і події.
            </p>
            <p class="shop__text">
                Ми допоможемо Вам в оформленні будь-якого свята, весілля
                чи корпоративного вечора композиціями із живих квітів та
                повітряних кульок. Ви можете додати до букету записку з 
                побажаннями або залишитися анонімом.
            </p>
            <p class="shop__text">
                Ми турбуємося про Ваш комфорт, тому замовляючи у нас доставку
                квітів напряму до адресату, ви можете отримати СМС-сповіщення
                про доставку, а також дізнатися реакцію отримувача.
            </p>
           </div>
    
            <div class="shop__image">
                <picture class="shop__pic">
                    <source srcset= "./img/shop/shop-desk1-1x.jpg 1x, ./img/shop/shop-desk1-2x.jpg 2x" media="(min-width:1340px)">
                    </source>
                    <source srcset= "./img/shop/shop-desk1-1x.webp 1x, ./img/shop/shop-desk1-2x.webp 2x" media="(min-width:1340px)">
                    </source>
                    <source srcset= "./img/shop/shop-tabl1-1x.jpg 1x, ./img/shop/shop-tabl1-2x.jpg 2x" media="(min-width:768px)">
                    </source>
                    <source srcset= "./img/shop/shop-tabl1-1x.webp 1x, ./img/shop/shop-tabl1-2x.webp 2x" media="(min-width:768px)">
                    </source>
                    <source srcset= "./img/shop/shop-mob1-1x.jpg 1x, ./img/shop/shop-mob1-2x.jpg 2x" media="(min-width:360px)">
                   </source>
                   <source srcset= "./img/shop/shop-mob1-1x.webp 1x, ./img/shop/shop-mob1-2x.webp 2x" media="(min-width:360px)">
                  </source>
                  <img class="shop__img" src="./img/shop/shop-mob1-2x.jpg" alt="букет квітів" loading="lazy">
                </picture>
            </div>
      </div>
      
     <div class="shop__part-two">
        <div class="shop__image-two">
            <picture class="shop__pic">
                <source srcset= "./img/shop/shop-desk2-1x.jpg 1x, ./img/shop/shop-desk2-2x.jpg 2x" media="(min-width:1340px)">
                </source>
                <source srcset= "./img/shop/shop-desk2-1x.webp 1x, ./img/shop/shop-desk2-2x.webp 2x" media="(min-width:1340px)">
                </source>
                <source srcset= "./img/shop/shop-tabl2-1x.jpg 1x, ./img/shop/shop-tabl2-2x.jpg 2x" media="(min-width:768px)">
                </source>
                <source srcset= "./img/shop/shop-tabl2-1x.webp 1x, ./img/shop/shop-tabl2-2x.webp 2x" media="(min-width:768px)">
                </source>
                <img class="shop__img" src="./img/shop/shop-tabl2-2x.jpg" alt="троянди на столі" loading="lazy">
            </picture>
        </div>
       <div class="shop__text-block">
        <div class="shop__text-two">
            <p class="shop__text">
                Ми виконуємо свою роботу якісно та красиво.
            </p>
            <p class="shop__text">
                Наша команда працює лише на позитивний результат, досвід,
                котрий ми отримали, робить наші послуги вигідними та підходящими
                для будь-якого замовника.
            </p>
            <p class="shop__text">
                В нашому каталозі представлено більше 600 найменувань товарів.
                Кількість наших клієнтів продовжує рости, і ми робимо все, щоб
                оправдати вашу довіру.
            </p>
            <p class="shop__text">
                Дякуємо, що обрали нас!
            </p>
        </div>  
            <h3 class="shop__title-two">
                Приємних покупок!
            </h3>
            <button type="button" class="shop__btn">В каталог</button>
       </div>
        
     </div>
   
    </div>
</section> 