:root {
  // ACCENT-colors
  --main-accent-color: #03453b; //(green);
  --second-accent-color: #ae8646; // (brown);

  --main-bgc-accent: #00554e; //(green dark);
  --second-bgc-accent: #9b6d3b; // (brown dark);

  /* TITLE-colors */
  --light-theme-title-color: #03453b; // (green); заголовки на світлому фоні
  --dark-theme-title-color: #ebebeb; //(white); текст на зеленому фоні

  /* TEXT-colors */
  --light-theme-text-color: #333333; //(black) текст на світлому фоні
  --dark-theme-text-color: #ebebeb; // (white) текст на зеленому фоні

  // /* icon-fill */ ❗️ ці кольори повторюються. спитати у команди, чи потрібні вони комусь?
  // --light-theme-icon-fill: #AE8646; // (brown) var(--second-accent-color)
  // --dark-theme-icon-fill: #EBEBEB; // (white) var(--dark-theme-title-color)

  --yellow: #ffc549;
  --red: #e12317;

  --grey: #bababa;
  --green-light: #70a5a0;

  --black: #000000;
  --white: #ffffff;

  /////// час переходу // *застосовано до кнопок
  --main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
