<section class="full-card">
  <div class="container">
    <div class="blog-navigation">
      <a href="./index.html" class="main-menu-link">Головна</a>
      <span class="menu-separator">/</span>
      <a href="./index.html" class="blog-menu-link">Букети</a>
      <span class="menu-separator">/</span>
      <a href="#" class="blog-menu-link">Букет 'Натхнення'</a>
    </div>
    <h1 class="card-title">Букет 'Натхнення'</h1>
    <div class="card-stats">
      <svg class="stars-icon" width="30" height="10">
        <use href="./img/symbol-defs.svg#stars"></use>
      </svg>
      <span class="reviews-quantity">123 Відгука</span>
      <p class="item-size">
        <span class="size-word">Розмір:</span
        ><svg class="arrow-icon">
          <use href="./img/symbol-defs.svg#arrow-good"></use></svg
        ><span class="size-item">30см</span>
      </p>
    </div>
    <img src="./img/offers/VAL_8182_1200_7.jpg" alt="" class="good-card-img" />
    <p class="delivery-info">Доставка в межах Львова - <span>безкоштовна</span></p>
    <div class="choice">
      <div class="size">
        <p class="size-title">Варіації розмірів букету</p>
        <ul class="size-choose">
          <li class="size-item">
            <span class="first">Стандарт</span>
            <span class="second">100<span>кр</span></span>
          </li>
          <li class="size-item">
            <span class="first">Стандарт</span>
            <span class="second">100<span>кр</span></span>
          </li>
          <li class="size-item">
            <span class="first">Стандарт</span>
            <span class="second">100<span>кр</span></span>
          </li>
        </ul>
      </div>
      <div class="quantity">
        <p class="size-title">Можлива кількість квітів</p>
        <ul class="quantity-list">
          <li class="quantity-item">
            <span class="quantity-target">10</span>
          </li>
          <li class="quantity-item">
            <span class="quantity-target">15</span>
          </li>
          <li class="quantity-item">
            <span class="quantity-target">20</span>
          </li>
          <li class="quantity-item">
            <span class="quantity-target">25</span>
          </li>
          <li class="quantity-item">
            <span class="quantity-target">30</span>
          </li>
          <li class="quantity-item">
            <span class="quantity-target">35</span>
          </li>
          <li class="quantity-item">
            <span class="quantity-target">40</span>
          </li>
          <li class="quantity-item">
            <span class="quantity-target">45</span>
          </li>
        </ul>
      </div>
      <div class="height-rose">
        <p class="size-title">Можлива довжина квітів</p>
        <ul class="height-list">
          <li class="height-item">
            <span class="height-target">20см</span>
          </li>
          <li class="height-item">
            <span class="height-target">30см</span>
          </li>
          <li class="height-item">
            <span class="height-target">40см</span>
          </li>
        </ul>
      </div>
      <div class="result">
        <p class="amount">100<span>кр</span></p>
        <p class="amount-discaunt">150кр</p>
        <button type="button" class="heart-btn">
          <svg class="heart-icon">
            <use href="./img/symbol-defs.svg#icon-empty-heart-green"></use>
          </svg>
        </button>
      </div>
      <div class="card-buttons">
        <button type="button" class="button dark">Замовити</button>
        <button type="button" class="button light">Придбати в 1 клік</button>
      </div>
    </div>
    <h2 class="descr-title">Опис</h2>
    <p class="flower-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam, ex</p>
    <div class="other-specific">
      <ul class="components-list">
        <li class="components-item">
          <span>Фісташка</span>
          <span>5</span>
        </li>
        <li class="components-item">
          <span>Троянда кремова</span>
          <span>7</span>
        </li>
        <li class="components-item">
          <span>Хризантема кущова</span>
          <span>3</span>
        </li>
        <li class="components-item">
          <span>Гвоздика</span>
          <span>6</span>
        </li>

        <li class="components-item">
          <span>Упакування</span>
          <span>Фетр, плівка, стрічка</span>
        </li>
      </ul>
    </div>
    <div class="social">
      <ul class="social-list">
        <li class="social-item">
          <a class="social-item__link" href="#">
            <svg width="27" height="27">
              <use href="./img/symbol-defs.svg#insta"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a class="social-item__link" href="#">
            <svg width="27" height="27">
              <use href="./img/symbol-defs.svg#telegram"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a class="social-item__link" href="#">
            <svg width="27" height="27">
              <use href="./img/symbol-defs.svg#whatsApp"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
