<section class="organization-main">
    <div class="container container__new">
        <div class="organization-nav">
            <a href="./index.html" class="organization-nav-link">Головна</a>
            <span class="organization-separator">/</span>
            <a href="./organization.html" class="organization-nav-link organization-nav-link-second">Oрганізаціям</a>
        </div>
       
        <h1 class="organization__main-title">Організаціям</h1>
       <div class="organization__container">
        <div class="organization__main-part">
            <p class="organization__text">Одним з основних напрямків нашої діяльності є 
                <span class="organization__bold">якісний флористичний супровід</span>
                 корпоративних клієнтів.</p>
          
           
           <div class="organization-advantage">
            <h2 class="organization__title">При укладанні контракту наші партнери отримують:</h2>
           <ul class="organization__list">
            
            <li class="organization__item">
                <svg class="organization__svg" width = '15' height = '15'>
                    <use href = "/src/img/symbol-defs.svg#icon-item-marker"></use>
                </svg>
                <p class="organization__item-text">Можливість безготівкового розрахунку;</p>
            </li>
            <li class="organization__item">
                <svg class="organization__svg" width = '15' height = '15'>
                    <use href = "/src/img/symbol-defs.svg#icon-item-marker"></use>
                </svg>
                <p class="organization__item-text">Спілкування та робота з персональним менеджером;</p>
            </li>
            <li class="organization__item">
                <svg class="organization__svg" width = '15' height = '15'>
                    <use href = "/src/img/symbol-defs.svg#icon-item-marker"></use>
                </svg>
                <p class="organization__item-text">Приємні подарунки та спеціальні сезонні пропозиції для постійних клієнтів;</p>
            </li>
            <li class="organization__item">
                <svg class="organization__svg" width = '15' height = '15'>
                    <use href = "/src/img/symbol-defs.svg#icon-item-marker"></use>
                </svg>
                <p class="organization__item-text">Послуги з квіткового оформлення офісів, квартир, ресторанів, а також корпоративних заходів;</p>
            </li>
            <li class="organization__item">
              
                <svg class="organization__svg" width = '15' height = '15'>
                    <use href = "/src/img/symbol-defs.svg#icon-item-marker"></use>
                </svg>
               
                <p class="organization__item-text">Розробка провідними флористами індивідуальних букетів, композицій та декорацій у корпоративному стилі замовника;</p>
            </li>
            <li class="organization__item">
                <svg class="organization__svg" width = '15' height = '15'>
                    <use href = "/src/img/symbol-defs.svg#icon-item-marker"></use>
                </svg>
                <p class="organization__item-text">Безкоштовна доставка по Харкову</p>
            </li>
           </ul>
           </div>
           <h2 class="organization__title organization__title-color">З нами постійно працюють та задоволені якістю співпраці більше ста компаній Харкова! А ви?</h2>
           <p class="organization__info-text">
            Більш детальну інформацію стосовно співпраці Ви можете дізнатися у наших менеджерів.
           </p>
           <ul class="organization__info-list">
            <li class="organization__info-item">
                <p class="organization__contact-text">Телефон</p>
                <ul class="organization__tel-list">
                    <li class="organization__tel-item"><a class="organization__tel-link" href="tel: +380661234567"> <svg class="organization__tel-svg" width = '16' height = "16">
                        <use href = "/src/img/symbol-defs.svg#icon-phone"></use>
                    </svg> +380661234567</a></li>
                    <li class="organization__tel-item"><a class="organization__tel-link" href="tel: +380631234567"> <svg class="organization__tel-svg" width = '16' height = "16">
                        <use href = "/src/img/symbol-defs.svg#icon-phone"></use>
                    </svg> +380631234567</a></li>
                    <li class="organization__tel-item"><a class="organization__tel-link" href="tel: +380671234567"> <svg class="organization__tel-svg" width = '16' height = "16">
                        <use href = "/src/img/symbol-defs.svg#icon-phone"></use>
                    </svg>+380671234567</a></li>
                </ul>
            </li>
        
           </ul>
        </div>
        <div class="organization__image">
            <picture class="organization__pic">
                <source srcset= "./img/organization/organization1.jpg 1x, ./img/organization/organization2.jpg 2x" media="(min-width:1340px)">
               </source>
               <source srcset= "./img/organization/organization1.webp 1x, ./img/organization/organization2.webp 2x" media="(min-width:1340px)">
              </source>
              <img class="organization__img" src="./img/organization/organization1.jpg" alt="букет квітів" loading="lazy">
            </picture>
        </div>
       </div>
    </div>
</section>