<div class="pers-orders" data-pers-orders>
    <!--  visually-hidden -->
    <!-- <p class="pers-content-title">
        Ваші замовлення
    </p> -->
    <table class="pers-orders-table">
        <caption class="pers-content-title">Ваші замовлення</caption>
        <thead>
            <tr class="pers-orders-header">
                <th class="pers-orders-text">Замовлення</th>
                <th class="pers-orders-text">Товари</th>
                <th class="pers-orders-text">Сума</th>
                <th class="pers-orders-text">Статус</th>
            </tr>
        </thead>
        <tbody>
            <tr class="pers-orders-data orders-first">
                <td class="pers-orders-text order-bold">№54А8963<span class="pers-orders-text order-light">28.03.2021</span></td>
                <td></td>
                <td class="pers-orders-text order-bold">60625 UAH</td>
                <td class="pers-orders-text order-light order-state pay-expected">Очікування оплати</td>
            </tr>
            <tr class="pers-orders-data">
                <td class="pers-orders-text order-bold">№22B2566<span class="pers-orders-text order-light">28.03.2021</span></td>
                <td></td>
                <td class="pers-orders-text order-bold">4000 UAH</td>
                <td class="pers-orders-text order-light order-state sent">Відправлено</td>
            </tr>
            <tr class="pers-orders-data">
                <td class="pers-orders-text order-bold">№22B2566<span class="pers-orders-text order-light">28.03.2021</span></td>
                <td></td>
                <td class="pers-orders-text order-bold">31 UAH</td>
                <td class="pers-orders-text order-ligh order-state cancel">Відмінено</td>
            </tr>
            <tr class="pers-orders-data">
                <td class="pers-orders-text order-bold">№22B2566<span class="pers-orders-text order-light">28.03.2021</span></td>
                <td></td>
                <td class="pers-orders-text order-bold">1187 UAH</td>
                <td class="pers-orders-text order-light order-state del">Доставлено</td>
            </tr>
        </tbody>
    </table>
</div>