<section class="favorites offer">
  <div class="offer__container container">
    <div class="offer__title-wrapper offer__title-wrapper--fav">
      <h2 class="offer__title">В избранном пока ничего нет</h2>
      <p class="offer__comment">
        Перейдіть на глоловну сторінку або скористуйтесь пошуком для того, щоб знайти що необхідно
      </p>
    </div>

    <ul class="offer__list offer__list--fav offer-list"></ul>

    <a href="" class="favorites__button favorites__button--centered button dark"
      >Перейти в каталог/ Перейти на главную</a
    >
  </div>
</section>
