<section class="about-us">
  <div class="container">
    <h2 class="about-us__title">Тільки у нас ви знайдете багатий асортимент квітів</h2>
    <ul class="about-us__wrap">
      <li class="about-us__high-wrap">
        <div>
       <picture class="about-us__pic">
         <source srcset= "./img/about-us/flowers-1-desk-1x.jpg 1x, ./img/about-us/flowers-1-desk-2x.jpg 2x" media="(min-width:1340px)">
        </source>
        <source srcset= "./img/about-us/flowers-1-desk-1x.webp 1x, ./img/about-us/flowers-1-desk-1x.webp 2x" media="(min-width:1340px)">
       </source>
        <source srcset= "./img/about-us/flowers-1-tab-1x.jpg 1x, ./img/about-us/flowers-1-tab-2x.jpg 2x" media="(min-width:768px)">
        </source>
        <source srcset= "./img/about-us/flowers-1-tab-1x.webp 1x, ./img/about-us/flowers-1-tab-1x.webp 2x" media="(min-width:768px)">
       </source>
       <source srcset= "./img/about-us/flowers-1-mob-1x.jpg 1x, ./img/about-us/flowers-1-mob-2x.jpg 2x" media="(min-width:360px)">
       </source>
        <source srcset= "./img/about-us/flowers-1-mob-1x.webp 1x, ./img/about-us/flowers-1-mob-1x.webp 2x" media="(min-width:360px)">
       </source>
       <img class="about-us__pic-first" src="./img/about-us/flowers-1-mob-2x.jpg" alt="букет троян на столі" loading="lazy">
       </picture> </div>
       <div class="about-us__text"><p> Життя занадто коротке, щоб обмежуватися такими святами як 8 березня, 14 лютого, день Матері і День народження! Наші улюблені жінки заслуговують набагато більше уваги, а чаріний букет із нашого асортименту допоможе вам в цьому. Доставка квітів по Харкову — ваше найкраще рішення!</p><p>Якщо раптом у вас не вдається подарувати букет особисто, наша гнучка система доставки допоможе вам. Створення букета - не просте завдання.</p>
       </div>
      </li>
      <li class="about-us__down-wrap">
        <div class="about-us__pic-wrap">
      <picture class="about-us__pic">
        <source srcset= "./img/about-us/flowers-2-desk-1x.jpg 1x, ./img/about-us/flowers-2-desk-2x.jpg 2x" media="(min-width:1340px)">
       </source>
        <source srcset= "./img/about-us/flowers-2-desk-1x.webp 1x, ./img/about-us/flowers-2-desk-1x.webp 2x" media="(min-width:1340px)">
       </source>
         <source srcset= "./img/about-us/flowers-2-tab-1x.jpg 1x, ./img/about-us/flowers-2-tab-2x.jpg 2x" media="(min-width:768px)">
       </source>
        <source srcset= "./img/about-us/flowers-2-tab-1x.webp 1x, ./img/about-us/flowers-2-tab-1x.webp 2x" media="(min-width:768px)">
       </source>
       <source srcset= "./img/about-us/flowers-2-mob-1x.jpg 1x, ./img/about-us/flowers-2-mob-2x.jpg 2x" media="(min-width:360px)">
       </source>
        <source srcset= "./img/about-us/flowers-2-mob-1x.webp 1x, ./img/about-us/flowers-2-mob-1x.webp 2x" media="(min-width:360px)">
       </source>
       <img class="about-us__pic-second" src="./img/about-us/flowers-2-mob-2x.jpg" alt="букет троян на столі" loading="lazy">
    </picture> </div>
    <div>
      <p>Для замовлення необхідно враховувати ваші персональні відносини з адресатом, статус людини, вік - і це тільки мала частина критеріїв, за якими наші висококваліфіковані фахівці швидко, якісно зберуть і оформлять ваше замовлення.</p><p>Так, романтичним особистостям підійдуть букети в ніжній гамі з зеленими і рожевими відтінками. Справжнім леді припадуть на смак букети з прямими лініями і строгими формами. Пристрасна особа зрадіє бордовій гамі квітів, а творчі особи оцінять букет із соняшників. Традиційні тюльпани дарують на такі звичні свята, як 8 Березня та День вчителя. Букет – це мовчазне захоплення. Ми допоможемо вам висловити почуття.</p><p>Треба привітати кохану людину, а ви в іншому місті? Немає проблем! Співробітники Gvozdika зроблять це за вас! Достатньо зробити замовлення — та інтернет-магазин квітів та подарунків Gvozdika привезе обраний вами букет в будь-який район Харкова через годину-дві з моменту замовлення,а доставку по Україні здійснимо протягом доби!</p>
    </div>
  </li>
    </ul>
  </div>
</section>
