<section class="advantages">
    <div class="container">
        <div class="advantage-inner-wrap">
            <h2 class="advantage-top-title">З нами вигідно</h2>
            <ul class="advantage-list">
                <li class="advantage-item">
                    <svg class="advantage-icon">
                        <use href="./img/symbol-defs.svg#icon-feature-1"></use>
                    </svg>
                    <h4 class="advantage-title">Оплата на сайті</h4>
                    <p class="advantage-text">Оплатити замовлення можна готівкою, або
                        банківською картою</p>
                </li>
                <li class="advantage-item">
                    <svg class="advantage-icon">
                        <use href="./img/symbol-defs.svg#icon-feature-2"></use>
                    </svg>
                    <h4 class="advantage-title">Швидка доставка</h4>
                    <p class="advantage-text">Ми доставляємо ваші замовлення у будь-який день
                        за попередньою згодою</p>
                </li>
                <li class="advantage-item">
                    <svg class="advantage-icon">
                        <use href="./img/symbol-defs.svg#icon-feature-3"></use>
                    </svg>
                    <h4 class="advantage-title">Доставимо у будь-яку точку України</h4>
                    <p class="advantage-text">Доставка по Україні здійснюється протягом робочого
                        дня, максимум доби в залежності від отримання нами замовлення</p>
                </li>
                <li class="advantage-item">
                    <svg class="advantage-icon">
                        <use href="./img/symbol-defs.svg#icon-feature-4"></use>
                    </svg>
                    <h4 class="advantage-title">Тільки свіжі квіти</h4>
                    <p class="advantage-text">Наш магазин може похвалитися не лише величезним
                        вибором композицій, а й щоденними постачаннями з усього світу</p>
                </li>
                <li class="advantage-item">
                    <svg class="advantage-icon">
                        <use href="./img/symbol-defs.svg#icon-feature-5"></use>
                    </svg>
                    <h4 class="advantage-title">10 років на ринку продажу квітів</h4>
                    <p class="advantage-text">Понад 10 років ми доставляємо букети вашим близьким
                        у будь-які куточки нашої країни і світу, де б вони не знаходилися</p>
                </li>
                <li class="advantage-item">
                    <svg class="advantage-icon">
                        <use href="./img/symbol-defs.svg#icon-feature-6"></use>
                    </svg>
                    <h4 class="advantage-title">Сервісна служба 24/7</h4>
                    <p class="advantage-text">Служба підтримки працює цілодобово і готова
                        24/7 відповісти на будь-які питання</p>
                </li>
            </ul>
        </div>
    </div>
</section>