<section class="filter">
    <div class="container">
        <h2 class="visually-hidden">Фільтр пошуку</h2>
        <ul class="filter-list" data-filter-list>
            <li class="filter-item" data-filter-item>
                <svg class="filter-icon">
                    <use href="/src/img/symbol-defs.svg#icon-flowers-pin-1"></use>
                </svg>
                <p class="filter-item-text">
                    Букети
                </p>
                <ul class="filter-sub-list to-right-tab to-right-desk">
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Різнокольорові</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Жовті</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Фіолетові</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Чорні</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Райдужні</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Білі</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Червоні</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Сині</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Рожеві</a></li>
                </ul>
            </li>
            <li class="filter-item" data-filter-item>
                <svg class="filter-icon">
                    <use href="/src/img/symbol-defs.svg#icon-flowers-pin-2"></use>
                </svg>
                <p class="filter-item-text">
                    Монобукети
                </p>
                <ul class="filter-sub-list to-right-tab to-right-desk">
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Різнокольорові</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Жовті</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Фіолетові</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Чорні</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Райдужні</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Білі</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Червоні</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Сині</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Рожеві</a></li>
                </ul>
            </li>
            <li class="filter-item" data-filter-item>
                <svg class="filter-icon">
                    <use href="/src/img/symbol-defs.svg#icon-flowers-pin-3"></use>
                </svg>
                <p class="filter-item-text">
                    Троянди
                </p>
                <ul class="filter-sub-list to-left-tab to-right-desk">
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Різнокольорові</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Жовті</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Фіолетові</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Чорні</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Райдужні</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Білі</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Червоні</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Сині</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Рожеві</a></li>
                </ul>
            </li>
            <li class="filter-item" data-filter-item>
                <svg class="filter-icon">
                    <use href="/src/img/symbol-defs.svg#icon-flowers-pin-4"></use>
                </svg>
                <p class="filter-item-text">
                    Зрізані квіти
                </p>
                <ul class="filter-sub-list to-left-tab to-right-desk">
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Різнокольорові</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Жовті</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Фіолетові</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Чорні</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Райдужні</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Білі</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Червоні</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Сині</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Рожеві</a></li>
                </ul>
            </li>
            <li class="filter-item" data-filter-item>
                <svg class="filter-icon">
                    <use href="/src/img/symbol-defs.svg#icon-flowers-pin-5"></use>
                </svg>
                <p class="filter-item-text">
                    Весільні букети
                </p>
                <ul class="filter-sub-list to-right-tab to-left-desk">
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Різнокольорові</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Жовті</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Фіолетові</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Чорні</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Райдужні</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Білі</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Червоні</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Сині</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Рожеві</a></li>
                </ul>
            </li>
            <li class="filter-item" data-filter-item>
                <svg class="filter-icon">
                    <use href="/src/img/symbol-defs.svg#icon-flowers-pin-6"></use>
                </svg>
                <p class="filter-item-text">
                    Вуличні рослини
                </p>
                <ul class="filter-sub-list to-right-tab to-right-desk">
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Плодові</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Листяні</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Хвойні</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Декоративні</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Ягідні</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Квітучі</a></li>
                </ul>
            </li>
            <li class="filter-item" data-filter-item>
                <svg class="filter-icon">
                    <use href="/src/img/symbol-defs.svg#icon-flowers-pin-7"></use>
                </svg>
                <p class="filter-item-text">
                    Подарунки
                </p>
                <ul class="filter-sub-list to-left-tab to-right-desk">
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Листівки</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Повітряні кульки</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">М'які іграшки</a></li>
                </ul>
            </li>
            <li class="filter-item" data-filter-item>
                <svg class="filter-icon">
                    <use href="/src/img/symbol-defs.svg#icon-flowers-pin-8"></use>
                </svg>
                <p class="filter-item-text">
                    Цукерки
                </p>
                <ul class="filter-sub-list to-left-tab to-right-desk">
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Шоколадні</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Іриски</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Карамельні</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Мармеладні</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Авторські</a></li>
                </ul>
            </li>
            <li class="filter-item" data-filter-item>
                <svg class="filter-icon">
                    <use href="/src/img/symbol-defs.svg#icon-flowers-pin-9"></use>
                </svg>
                <p class="filter-item-text">
                    Повітряні кульки
                </p>
                <ul class="filter-sub-list to-right-tab to-right-desk">
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Святкові</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Гелієві</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Хмара з кульок</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Фольговані</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Куля «Сюрприз»</a></li>
                </ul>
            </li>
            <li class="filter-item" data-filter-item>
                <svg class="filter-icon">
                    <use href="/src/img/symbol-defs.svg#icon-flowers-pin-10"></use>
                </svg>
                <p class="filter-item-text">
                    Композиції
                </p>
                <ul class="filter-sub-list to-right-tab to-left-desk">
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Різнокольорові</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Жовті</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Фіолетові</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Чорні</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Райдужні</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Білі</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Червоні</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Сині</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Рожеві</a></li>
                </ul>
            </li>
            <li class="filter-item" data-filter-item>
                <svg class="filter-icon">
                    <use href="/src/img/symbol-defs.svg#icon-flowers-pin-11"></use>
                </svg>
                <p class="filter-item-text">
                    Кімнатні рослини
                </p>
                <ul class="filter-sub-list to-left-tab to-left-desk">
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Різнокольорові</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Жовті</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Фіолетові</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Чорні</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Райдужні</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Білі</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Червоні</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Сині</a></li>
                    <li class="filter-sub-item"><a class="filter-sub-link" href="./catalog.html">Рожеві</a></li>
                </ul>
            </li>
        </ul>
    </div>
</section>