<section class="filter">
    <div class="container">
        <h2 class="visually-hidden">Фільтр пошуку</h2>
        <ul class="filter-list">
            <li class="filter-item">
                <svg class="filter-icon">
                    <use href="/src/img/symbol-defs.svg#icon-flowers-pin-1"></use>
                </svg>
                <p class="filter-item-text">
                    Букети
                </p>
            </li>
            <li class="filter-item">
                <svg class="filter-icon">
                    <use href="/src/img/symbol-defs.svg#icon-flowers-pin-2"></use>
                </svg>
                <p class="filter-item-text">
                    Монобукети
                </p>
            </li>
            <li class="filter-item">
                <svg class="filter-icon">
                    <use href="/src/img/symbol-defs.svg#icon-flowers-pin-3"></use>
                </svg>
                <p class="filter-item-text">
                    Рози
                </p>
            </li>
            <li class="filter-item">
                <svg class="filter-icon">
                    <use href="/src/img/symbol-defs.svg#icon-flowers-pin-4"></use>
                </svg>
                <p class="filter-item-text">
                    Зрізані квіти
                </p>
            </li>
            <li class="filter-item">
                <svg class="filter-icon">
                    <use href="/src/img/symbol-defs.svg#icon-flowers-pin-5"></use>
                </svg>
                <p class="filter-item-text">
                    Весільні букети
                </p>
            </li>
            <li class="filter-item">
                <svg class="filter-icon">
                    <use href="/src/img/symbol-defs.svg#icon-flowers-pin-6"></use>
                </svg>
                <p class="filter-item-text">
                    Дворові рослини
                </p>
            </li>
            <li class="filter-item">
                <svg class="filter-icon">
                    <use href="/src/img/symbol-defs.svg#icon-flowers-pin-7"></use>
                </svg>
                <p class="filter-item-text">
                    Подарунки
                </p>
            </li>
            <li class="filter-item">
                <svg class="filter-icon">
                    <use href="/src/img/symbol-defs.svg#icon-flowers-pin-8"></use>
                </svg>
                <p class="filter-item-text">
                    Цукерки
                </p>
            </li>
            <li class="filter-item">
                <svg class="filter-icon">
                    <use href="/src/img/symbol-defs.svg#icon-flowers-pin-9"></use>
                </svg>
                <p class="filter-item-text">
                    Повітряні кульки
                </p>
            </li>
            <li class="filter-item">
                <svg class="filter-icon">
                    <use href="/src/img/symbol-defs.svg#icon-flowers-pin-10"></use>
                </svg>
                <p class="filter-item-text">
                    Композиції
                </p>
            </li>
            <li class="filter-item">
                <svg class="filter-icon">
                    <use href="/src/img/symbol-defs.svg#icon-flowers-pin-11"></use>
                </svg>
                <p class="filter-item-text">
                    Кімнатні рослини
                </p>
            </li>
        </ul>
    </div>
</section>