<section class="hero">
    <div class="hero-swiper-container swiper-container">
        <div class="swiper-wrapper hero-swiper-wrapper">
            <div class="swiper-slide hero-slide">
            </div>
            <div class="swiper-slide hero-slide">
            </div>
            <div class="swiper-slide hero-slide">
            </div>
        </div>
    </div>
    <div class="hero-content">
        <div class="container">
            <div class="hero-content-wrap">
                <h1 class="hero-title">Даруємо красу та гарний настрій вашій домівці</h1>
                <p class="hero-text">Спеціально для вас – швидка доставка і чудові ціни</p>
                <button type="button" class="button dark">Замовити букет</button>
            </div>
        </div>
    </div>

</section>