<section class="how-works">
    <div class="container">
        <h2 class="works-top-title">Як це працює</h2>
        <ul class="works-list">
            <li class="works-item">
                <div class="works-item-title-wrap">
                    <div class="works-item-num">01</div>
                    <h3 class="works-item-title">Замовлення</h3>
                </div>
                <p class="works-item-text">Обери букет або замов зворотний зв'язок</p>
            </li>
            <li class="works-item">
                <div class="works-item-title-wrap">
                    <div class="works-item-num">02</div>
                    <h3 class="works-item-title">Оформлення <br> та оплата</h3>
                </div>
                <p class="works-item-text">Наш менеджер зв'яжеться з вами для уточнення замовлення, вартості та місця доставки</p>
            </li>
            <li class="works-item">
                <div class="works-item-title-wrap">
                    <div class="works-item-num">03</div>
                    <h3 class="works-item-title">Доставка</h3>
                </div>
                <p class="works-item-text">Ми доставимо букет у потрібне місце і в призначений час/дату</p>
            </li>
            <li class="works-item">
                <div class="works-item-title-wrap">
                    <div class="works-item-num">04</div>
                    <h3 class="works-item-title">Відгук</h3>
                </div>
                <p class="works-item-text">Будемо раді відгуку від вас про нашу роботу</p>
            </li>
        </ul>
    </div>
</section>
