<section class="instagram-section">
    <div class="container">
        <h2 class="insta-title">Ми в Instagram</h2>
        <div class="adiitional-insta-wrap">
            <div class="insta-swiper-container swiper-container">
                <div class="insta-swiper-wrapper swiper-wrapper">
                    <div class="insta-swiper-slide swiper-slide" width="310px">
                        <div class="insta-image-wrapper">
                            <picture>
                                <source srcset="./img/instagram/insta-1-min.jpg 1x, ./img/instagram/insta-1-2x-min.jpg 2x" media="(min-width:360px)">
                                <source srcset="./img/instagram/insta-1-min.webp 1x, ./img/instagram/insta-1-2x-min.webp 2x" media="(min-width:360px)">
                                <img src="./img/instagram/insta-1-min.jpg" alt="instagram-1" loading="lazy">
                            </picture>
                            
                        </div>
                    </div>
                    <div class="insta-swiper-slide swiper-slide" width=310>
                        <div class="insta-image-wrapper">
                            <picture>
                                <source srcset="./img/instagram/insta-2-min.jpg 1x, ./img/instagram/insta-2-2x-min.jpg 2x"
                                    media="(min-width:360px)">
                                <source srcset="./img/instagram/insta-2-min.webp 1x, ./img/instagram/insta-2-2x-min.webp 2x"
                                    media="(min-width:360px)">
                                    <img src="./img/instagram/insta-2-min.jpg" alt="instagram-2" loading="lazy">
                            </picture>
                        </div>
                    </div>
                    <div class="insta-swiper-slide swiper-slide" width=310>
                        <div class="insta-image-wrapper">
                            <picture>
                                <source srcset="./img/instagram/insta-3-min.jpg 1x, ./img/instagram/insta-3-2x-min.jpg 2x"
                                    media="(min-width:360px)">
                                <source srcset="./img/instagram/insta-3-min.webp 1x, ./img/instagram/insta-3-2x-min.webp 2x"
                                    media="(min-width:360px)">
                                <img src="./img/instagram/insta-3-min.jpg" alt="instagram-3" loading="lazy">
                            </picture>
                        </div>
                    </div>
                    <div class="insta-swiper-slide swiper-slide" width=310>
                        <div class="insta-image-wrapper">
                            <picture>
                                <source srcset="./img/instagram/insta-4-min.jpg 1x, ./img/instagram/insta-4-2x-min.jpg 2x"
                                    media="(min-width:360px)">
                                <source srcset="./img/instagram/insta-4-min.webp 1x, ./img/instagram/insta-4-2x-min.webp 2x"
                                    media="(min-width:360px)">
                                <img src="./img/instagram/insta-4-min.jpg" alt="instagram-4" loading="lazy">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>