<section class="offer offer--special">
  <div class="offer__container container">
    <a href="./favorites.html">До обраного</a>
    <h2 class="offer__title">Спеціальна пропозиція</h2>
    <p class="offer__comment">
      <span>* </span>На товари разділу знижка не розповсюджується
    </p>

    <ul class="offer__list offer-list"></ul>

    <a href="./catalog.html" class="offer__button">
      Перейти в каталог
      <svg class="offer__button--icon button--icon" width="32" height="12">
        <use href="./img/symbol-defs.svg#arrow-right-long-icon"></use>
      </svg>
    </a>
  </div>
</section>
