<section class="offers">
  <h2 class="offers__title visually-hidden">Пропозиції</h2>

  <ul class="offers__list">
    <li class="offers__item offer offer--special">
      <div class="offer__container container">
        <h3 class="offer__title">Спеціальна пропозиція</h3>
        <p class="offer__comment">
          <span>* </span>На товари разділу скидка не розповсюджується
        </p>

        <ul class="offer__list offer-list">
          <li class="offer-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offer/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status hit">Xіт продажів</p>
                <button type="button" class="product__favorite">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">
                  Букет «Щастя» - дуже красивий. Дівчатам подобається.
                </p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">
                  Замовити
                </button>
                <button type="button" class="product__button-one-click">
                  Придбати в 1 клік
                </button>
              </div>
            </a>
          </li>
          <li class="offer-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offer/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status new">Новинка</p>
                <button type="button" class="product__favorite checked">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">
                  Букет «Щастя» - дуже красивий. Дівчатам подобається.
                </p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">
                  Замовити
                </button>
                <button type="button" class="product__button-one-click">
                  Придбати в 1 клік
                </button>
              </div>
            </a>
          </li>
          <li class="offer-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offer/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status absent">Немає в наявності</p>
                <button type="button" class="product__favorite checked">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">
                  Букет «Щастя» - дуже красивий. Дівчатам подобається.
                </p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">
                  Замовити
                </button>
                <button type="button" class="product__button-one-click">
                  Придбати в 1 клік
                </button>
              </div>
            </a>
          </li>
          <li class="offer-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offer/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status hit">Xіт продажів</p>
                <button type="button" class="product__favorite">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">
                  Букет «Щастя» - дуже красивий. Дівчатам подобається.
                </p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">
                  Замовити
                </button>
                <button type="button" class="product__button-one-click">
                  Придбати в 1 клік
                </button>
              </div>
            </a>
          </li>
          <li class="offer-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offer/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status new">Новинка</p>
                <button type="button" class="product__favorite checked">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">
                  Букет «Щастя» - дуже красивий. Дівчатам подобається.
                </p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">
                  Замовити
                </button>
                <button type="button" class="product__button-one-click">
                  Придбати в 1 клік
                </button>
              </div>
            </a>
          </li>
          <li class="offer-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offer/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status absent">Немає в наявності</p>
                <button type="button" class="product__favorite checked">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">
                  Букет «Щастя» - дуже красивий. Дівчатам подобається.
                </p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">
                  Замовити
                </button>
                <button type="button" class="product__button-one-click">
                  Придбати в 1 клік
                </button>
              </div>
            </a>
          </li>
          <li class="offer-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offer/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status new">Новинка</p>
                <button type="button" class="product__favorite checked">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">
                  Букет «Щастя» - дуже красивий. Дівчатам подобається.
                </p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">
                  Замовити
                </button>
                <button type="button" class="product__button-one-click">
                  Придбати в 1 клік
                </button>
              </div>
            </a>
          </li>
          <li class="offer-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offer/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status absent">Немає в наявності</p>
                <button type="button" class="product__favorite checked">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">
                  Букет «Щастя» - дуже красивий. Дівчатам подобається.
                </p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">
                  Замовити
                </button>
                <button type="button" class="product__button-one-click">
                  Придбати в 1 клік
                </button>
              </div>
            </a>
          </li>
        </ul>

        <a href="" class="offer__button">
          Перейти в каталог
          <svg class="offer__button--icon button--icon" width="32" height="12">
            <use href="./img/symbol-defs.svg#arrow-right-long-icon"></use>
          </svg>
        </a>
      </div>
    </li>

    <li class="offers__item offer offer--day">
      <div class="offer__container container">
        <h3 class="offer__title">Пропозиція дня</h3>

        <ul class="offer__list offer-list">
          <li class="offer-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offer/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status hit">Xіт продажів</p>
                <button type="button" class="product__favorite">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">
                  Букет «Щастя» - дуже красивий. Дівчатам подобається.
                </p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">
                  Замовити
                </button>
                <button type="button" class="product__button-one-click">
                  Придбати в 1 клік
                </button>
              </div>
            </a>
          </li>
          <li class="offer-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offer/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status new">Новинка</p>
                <button type="button" class="product__favorite checked">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">
                  Букет «Щастя» - дуже красивий. Дівчатам подобається.
                </p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">
                  Замовити
                </button>
                <button type="button" class="product__button-one-click">
                  Придбати в 1 клік
                </button>
              </div>
            </a>
          </li>
          <li class="offer-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offer/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status absent">Немає в наявності</p>
                <button type="button" class="product__favorite checked">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">
                  Букет «Щастя» - дуже красивий. Дівчатам подобається.
                </p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">
                  Замовити
                </button>
                <button type="button" class="product__button-one-click">
                  Придбати в 1 клік
                </button>
              </div>
            </a>
          </li>
          <li class="offer-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offer/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status hit">Xіт продажів</p>
                <button type="button" class="product__favorite">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">
                  Букет «Щастя» - дуже красивий. Дівчатам подобається.
                </p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">
                  Замовити
                </button>
                <button type="button" class="product__button-one-click">
                  Придбати в 1 клік
                </button>
              </div>
            </a>
          </li>
          <li class="offer-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offer/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status new">Новинка</p>
                <button type="button" class="product__favorite checked">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">
                  Букет «Щастя» - дуже красивий. Дівчатам подобається.
                </p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">
                  Замовити
                </button>
                <button type="button" class="product__button-one-click">
                  Придбати в 1 клік
                </button>
              </div>
            </a>
          </li>
          <li class="offer-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offer/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status absent">Немає в наявності</p>
                <button type="button" class="product__favorite checked">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">
                  Букет «Щастя» - дуже красивий. Дівчатам подобається.
                </p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">
                  Замовити
                </button>
                <button type="button" class="product__button-one-click">
                  Придбати в 1 клік
                </button>
              </div>
            </a>
          </li>
          <li class="offer-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offer/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status new">Новинка</p>
                <button type="button" class="product__favorite checked">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">
                  Букет «Щастя» - дуже красивий. Дівчатам подобається.
                </p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">
                  Замовити
                </button>
                <button type="button" class="product__button-one-click">
                  Придбати в 1 клік
                </button>
              </div>
            </a>
          </li>
          <li class="offer-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offer/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status absent">Немає в наявності</p>
                <button type="button" class="product__favorite checked">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">
                  Букет «Щастя» - дуже красивий. Дівчатам подобається.
                </p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">
                  Замовити
                </button>
                <button type="button" class="product__button-one-click">
                  Придбати в 1 клік
                </button>
              </div>
            </a>
          </li>
        </ul>

        <a href="" class="offer__button">
          Перейти в каталог
          <svg class="offer__button--icon button--icon" width="32" height="12">
            <use href="./img/symbol-defs.svg#arrow-right-long-icon"></use>
          </svg>
        </a>
      </div>
    </li>

    <li class="offers__item offer offer--recommend">
      <div class="offer__container container">
        <h3 class="offer__title">Рекомендуємо рози</h3>

        <ul class="offer__list offer-list">
          <li class="offer-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offer/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status hit">Xіт продажів</p>
                <button type="button" class="product__favorite">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">
                  Букет «Щастя» - дуже красивий. Дівчатам подобається.
                </p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">
                  Замовити
                </button>
                <button type="button" class="product__button-one-click">
                  Придбати в 1 клік
                </button>
              </div>
            </a>
          </li>
          <li class="offer-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offer/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status new">Новинка</p>
                <button type="button" class="product__favorite checked">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">
                  Букет «Щастя» - дуже красивий. Дівчатам подобається.
                </p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">
                  Замовити
                </button>
                <button type="button" class="product__button-one-click">
                  Придбати в 1 клік
                </button>
              </div>
            </a>
          </li>
          <li class="offer-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offer/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status absent">Немає в наявності</p>
                <button type="button" class="product__favorite checked">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">
                  Букет «Щастя» - дуже красивий. Дівчатам подобається.
                </p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">
                  Замовити
                </button>
                <button type="button" class="product__button-one-click">
                  Придбати в 1 клік
                </button>
              </div>
            </a>
          </li>
          <li class="offer-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offer/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status hit">Xіт продажів</p>
                <button type="button" class="product__favorite">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">
                  Букет «Щастя» - дуже красивий. Дівчатам подобається.
                </p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">
                  Замовити
                </button>
                <button type="button" class="product__button-one-click">
                  Придбати в 1 клік
                </button>
              </div>
            </a>
          </li>
          <li class="offer-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offer/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status new">Новинка</p>
                <button type="button" class="product__favorite checked">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">
                  Букет «Щастя» - дуже красивий. Дівчатам подобається.
                </p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">
                  Замовити
                </button>
                <button type="button" class="product__button-one-click">
                  Придбати в 1 клік
                </button>
              </div>
            </a>
          </li>
          <li class="offer-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offer/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status absent">Немає в наявності</p>
                <button type="button" class="product__favorite checked">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">
                  Букет «Щастя» - дуже красивий. Дівчатам подобається.
                </p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">
                  Замовити
                </button>
                <button type="button" class="product__button-one-click">
                  Придбати в 1 клік
                </button>
              </div>
            </a>
          </li>
          <li class="offer-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offer/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status new">Новинка</p>
                <button type="button" class="product__favorite checked">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">
                  Букет «Щастя» - дуже красивий. Дівчатам подобається.
                </p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">
                  Замовити
                </button>
                <button type="button" class="product__button-one-click">
                  Придбати в 1 клік
                </button>
              </div>
            </a>
          </li>
          <li class="offer-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offer/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status absent">Немає в наявності</p>
                <button type="button" class="product__favorite checked">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">
                  Букет «Щастя» - дуже красивий. Дівчатам подобається.
                </p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">
                  Замовити
                </button>
                <button type="button" class="product__button-one-click">
                  Придбати в 1 клік
                </button>
              </div>
            </a>
          </li>
        </ul>

        <a href="" class="offer__button">
          Перейти в каталог
          <svg class="offer__button--icon button--icon" width="32" height="12">
            <use href="./img/symbol-defs.svg#arrow-right-long-icon"></use>
          </svg>
        </a>
      </div>
    </li>

    <li class="offers__item offer offer--plus">
      <div class="offer__container container">
        <h3 class="offer__title">З квітами купляють</h3>

        <ul class="offer__list offer-list">
          <li class="offer-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offer/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status hit">Xіт продажів</p>
                <button type="button" class="product__favorite">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">
                  Букет «Щастя» - дуже красивий. Дівчатам подобається.
                </p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">
                  Замовити
                </button>
                <button type="button" class="product__button-one-click">
                  Придбати в 1 клік
                </button>
              </div>
            </a>
          </li>
          <li class="offer-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offer/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status new">Новинка</p>
                <button type="button" class="product__favorite checked">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">
                  Букет «Щастя» - дуже красивий. Дівчатам подобається.
                </p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">
                  Замовити
                </button>
                <button type="button" class="product__button-one-click">
                  Придбати в 1 клік
                </button>
              </div>
            </a>
          </li>
          <li class="offer-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offer/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status absent">Немає в наявності</p>
                <button type="button" class="product__favorite checked">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">
                  Букет «Щастя» - дуже красивий. Дівчатам подобається.
                </p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">
                  Замовити
                </button>
                <button type="button" class="product__button-one-click">
                  Придбати в 1 клік
                </button>
              </div>
            </a>
          </li>
          <li class="offer-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offer/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status hit">Xіт продажів</p>
                <button type="button" class="product__favorite">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">
                  Букет «Щастя» - дуже красивий. Дівчатам подобається.
                </p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">
                  Замовити
                </button>
                <button type="button" class="product__button-one-click">
                  Придбати в 1 клік
                </button>
              </div>
            </a>
          </li>
          <li class="offer-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offer/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status new">Новинка</p>
                <button type="button" class="product__favorite checked">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">
                  Букет «Щастя» - дуже красивий. Дівчатам подобається.
                </p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">
                  Замовити
                </button>
                <button type="button" class="product__button-one-click">
                  Придбати в 1 клік
                </button>
              </div>
            </a>
          </li>
          <li class="offer-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offer/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status absent">Немає в наявності</p>
                <button type="button" class="product__favorite checked">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">
                  Букет «Щастя» - дуже красивий. Дівчатам подобається.
                </p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">
                  Замовити
                </button>
                <button type="button" class="product__button-one-click">
                  Придбати в 1 клік
                </button>
              </div>
            </a>
          </li>
          <li class="offer-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offer/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status new">Новинка</p>
                <button type="button" class="product__favorite checked">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">
                  Букет «Щастя» - дуже красивий. Дівчатам подобається.
                </p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">
                  Замовити
                </button>
                <button type="button" class="product__button-one-click">
                  Придбати в 1 клік
                </button>
              </div>
            </a>
          </li>
          <li class="offer-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offer/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status absent">Немає в наявності</p>
                <button type="button" class="product__favorite checked">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">
                  Букет «Щастя» - дуже красивий. Дівчатам подобається.
                </p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">
                  Замовити
                </button>
                <button type="button" class="product__button-one-click">
                  Придбати в 1 клік
                </button>
              </div>
            </a>
          </li>
        </ul>

        <a href="" class="offer__button">
          Перейти в каталог
          <svg class="offer__button--icon button--icon" width="32" height="12">
            <use href="./img/symbol-defs.svg#arrow-right-long-icon"></use>
          </svg>
        </a>
      </div>
    </li>

    <li class="offers__item offer offer--earlier-watched">
      <div class="offer__container container">
        <h3 class="offer__title">Раніше переглянуто</h3>

        <ul class="offer__list offer-list">
          <li class="offer-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offer/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status hit">Xіт продажів</p>
                <button type="button" class="product__favorite">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">
                  Букет «Щастя» - дуже красивий. Дівчатам подобається.
                </p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">
                  Замовити
                </button>
                <button type="button" class="product__button-one-click">
                  Придбати в 1 клік
                </button>
              </div>
            </a>
          </li>
          <li class="offer-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offer/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status new">Новинка</p>
                <button type="button" class="product__favorite checked">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">
                  Букет «Щастя» - дуже красивий. Дівчатам подобається.
                </p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">
                  Замовити
                </button>
                <button type="button" class="product__button-one-click">
                  Придбати в 1 клік
                </button>
              </div>
            </a>
          </li>
          <li class="offer-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offer/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status absent">Немає в наявності</p>
                <button type="button" class="product__favorite checked">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">
                  Букет «Щастя» - дуже красивий. Дівчатам подобається.
                </p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">
                  Замовити
                </button>
                <button type="button" class="product__button-one-click">
                  Придбати в 1 клік
                </button>
              </div>
            </a>
          </li>
          <li class="offer-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offer/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status hit">Xіт продажів</p>
                <button type="button" class="product__favorite">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">
                  Букет «Щастя» - дуже красивий. Дівчатам подобається.
                </p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">
                  Замовити
                </button>
                <button type="button" class="product__button-one-click">
                  Придбати в 1 клік
                </button>
              </div>
            </a>
          </li>
        </ul>

        <a href="" class="offer__button">
          Перейти в каталог
          <svg class="offer__button--icon button--icon" width="32" height="12">
            <use href="./img/symbol-defs.svg#arrow-right-long-icon"></use>
          </svg>
        </a>
      </div>
    </li>
  </ul>
</section>
