<section class="payment">
  <div class="container">
    <div><span>Головна / </span>Оплата</div>
    <h2>Оплата</h2>
    <div>
      <p>
        Ви можете оплатити замовлення карткою − онлайн або при отриманні у
        нашому магазині. Щоб оплатити карткою в магазині: при оформленні
        замовлення виберіть спосіб оплати Оплата при отриманні замовлення.
      </p>
      <p>
        Також ви можете оплатити замовлення карткою через Google Pay або
        PrivatPay. Щоб отримати замовлення, оплачене онлайн, потрібно надати
        документ, який посвідчує особу.
      </p>
    </div>
    <div>
      <p>Ми приймаємо оплату:</p>
      <ul class="payment__list">
        <li>
          <a href="" class="footer__pay-link">
            <svg
              class="footer__pay-svg payment__svg--google"
              width="35"
              height="35"
            >
              <use href="/src/img/symbol-defs.svg#icon-google-pay"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="" class="footer__pay-link">
            <svg
              class="footer__pay-svg payment__svg--privat"
              width="84"
              height="40"
            >
              <use href="/src/img/symbol-defs.svg#icon-privatbank"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="" class="footer__pay-link"
            ><svg
              class="footer__pay-svg payment__svg--western"
              width="50"
              height="47"
            >
              <use href="/src/img/symbol-defs.svg#icon-western-union"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="" class="footer__pay-link">
            <svg
              class="footer__pay-svg payment__svg--verified"
              width="40"
              height="25"
            >
              <use href="/src/img/symbol-defs.svg#icon-verified-visa"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="" class="footer__pay-link">
            <svg
              class="footer__pay-svg payment__svg--master-card"
              width="45"
              height="27"
            >
              <use href="/src/img/symbol-defs.svg#icon-master-card"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="" class="footer__pay-link">
            <svg
              class="footer__pay-svg payment__svg--union-pay"
              width="47"
              height="30"
            >
              <use href="/src/img/symbol-defs.svg#icon-union-pay"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="" class="footer__pay-link">
            <svg
              class="footer__pay-svg payment__svg--master-card-group"
              width="57"
              height="22"
            >
              <use href="/src/img/symbol-defs.svg#icon-master-card-group"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="" class="footer__pay-link">
            <svg
              class="footer__pay-svg payment__svg--paypal"
              width="60"
              height="17"
            >
              <use href="/src/img/symbol-defs.svg#icon-paypal"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="" class="footer__pay-link">
            <svg
              class="footer__pay-svg payment__svg--webmoney"
              width="30"
              height="30"
            >
              <use href="/src/img/symbol-defs.svg#icon-webmoney"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="" class="footer__pay-link">
            <svg
              class="footer__pay-svg payment__svg--visa"
              width="57"
              height="17"
            >
              <use href="/src/img/symbol-defs.svg#icon-visa"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div>
      Зверніть увагу: при оплаті замовлення картою закордонного банку, можливі
      обмеження на кількість платежів та максимальну суму платежу з боку
      платіжної системи.
    </div>
    <div>
      <h3>Щоб оплатити замовлення онлайн:</h3>
      <ul>
        <li>Додайте товар у кошик і перейдіть до оформлення замовлення.</li>
        <li>Виберіть спосіб оплати Оплатити зараз карткою Visa/Mastercard.</li>
        <li>
          Вкажіть, як саме ви хочете здійснити оплату: через Masterpass чи
          онлайн карткою.
        </li>
        <li>Завершіть оформлення замовлення.</li>
        <li>
          Далі ви перейдете на сторінку системи безпечних платежів, де зможете
          підтвердити оплату.
        </li>
      </ul>
    </div>
  </div>
</section>
