<section class="payment">
  <div class="container">
    <ul class="payment__nav-list">
      <li class="payment__nav-main"><a href="index.html">Головна /</a></li>
       <li class="payment__nav-pay"> Оплата</li>
    </ul>
    <div class="payment__main-info">
       <h2>Оплата</h2>
      <p class="payment__main-text">
        Ви можете оплатити замовлення карткою − онлайн або при отриманні у
        нашому магазині. Щоб оплатити карткою в магазині: при оформленні
        замовлення виберіть спосіб оплати Оплата при отриманні замовлення.
      </p>
      <p>
        Також ви можете оплатити замовлення карткою через Google Pay або
        PrivatPay. Щоб отримати замовлення, оплачене онлайн, потрібно надати
        документ, який посвідчує особу.
      </p>
    </div>
    <div class="payment__wrap-svg">
      <p>Ми приймаємо оплату:</p>
      <ul class="payment__list">
        <li>
          <a href="" class="footer__pay-link">
            <svg
              class="footer__pay-svg payment__svg--google"
              width="35"
              height="35"
            >
              <use href="/src/img/symbol-defs.svg#icon-google-pay"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="" class="footer__pay-link">
            <svg
              class="footer__pay-svg payment__svg--privat"
              width="84"
              height="40"
            >
              <use href="/src/img/symbol-defs.svg#icon-privatbank"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="" class="footer__pay-link"
            ><svg
              class="footer__pay-svg payment__svg--western"
              width="50"
              height="47"
            >
              <use href="/src/img/symbol-defs.svg#icon-western-union"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="" class="footer__pay-link">
            <svg
              class="footer__pay-svg payment__svg--verified"
              width="40"
              height="25"
            >
              <use href="/src/img/symbol-defs.svg#icon-verified-visa"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="" class="footer__pay-link">
            <svg
              class="footer__pay-svg payment__svg--master-card"
              width="45"
              height="27"
            >
              <use href="/src/img/symbol-defs.svg#icon-master-card"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="" class="footer__pay-link">
            <svg
              class="footer__pay-svg payment__svg--union-pay"
              width="47"
              height="30"
            >
              <use href="/src/img/symbol-defs.svg#icon-union-pay"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="" class="footer__pay-link">
            <svg
              class="footer__pay-svg payment__svg--master-card-group"
              width="57"
              height="22"
            >
              <use href="/src/img/symbol-defs.svg#icon-master-card-group"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="" class="footer__pay-link">
            <svg
              class="footer__pay-svg payment__svg--paypal"
              width="60"
              height="17"
            >
              <use href="/src/img/symbol-defs.svg#icon-paypal"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="" class="footer__pay-link">
            <svg
              class="footer__pay-svg payment__svg--webmoney"
              width="30"
              height="30"
            >
              <use href="/src/img/symbol-defs.svg#icon-webmoney"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="" class="footer__pay-link">
            <svg
              class="footer__pay-svg payment__svg--visa"
              width="57"
              height="17"
            >
              <use href="/src/img/symbol-defs.svg#icon-visa"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="payment__attention">
      <p>
      Зверніть увагу: при оплаті замовлення картою закордонного банку, можливі
      обмеження на кількість платежів та максимальну суму платежу з боку
      платіжної системи.</p>
    </div>
    <div class="payment__online">
      <h3>Щоб оплатити замовлення онлайн:</h3>
      <ul>
        <li>Додайте товар у кошик і перейдіть до оформлення замовлення.</li>
        <li>Виберіть спосіб оплати Оплатити зараз карткою Visa/Mastercard.</li>
        <li>
          Вкажіть, як саме ви хочете здійснити оплату: через Masterpass чи
          онлайн карткою.
        </li>
        <li>Завершіть оформлення замовлення.</li>
        <li>
          Далі ви перейдете на сторінку системи безпечних платежів, де зможете
          підтвердити оплату.
        </li>
      </ul>
    </div>
    <div>
      <h3>Оплата при доставці кур'єром</h3>
      <div>
        Оплата карткою при доставці кур'єром магазину можлива лише у випадку,
        якщо заявка була оформлена з авторизацією на сайті чи в додатку. Щоб
        оплатити замовлення при доставці кур'єром
        <ul>
          <li>
            При оформленні заявки виберіть тип оплати "Оплата при отриманні
            товару".
          </li>
          <li>
            Заповніть решту даних для замовлення та натисніть "Замовлення
            підтверджую".
          </li>
          <li>
            Під час доставки замовлення, зчитайте QR-код з мобільного додатку
            кур'єра та підтвердіть оплату на своєму мобільному пристрої.
          </li>
          <li>
            Чек про оплату можна завантажити лише на сторінці замовлення в
            особистому кабінеті. Паперовий чек в такому випадку не надається.
          </li>
        </ul>
        <img src="#" alt="" />
      </div></div>
      <div>
        <h3>Повернення коштів</h3>
        <p>
          При оплаті банківською платіжною карткою повернення коштів
          здійснюється на ту ж картку, з якої було здійснено оплату після
          отримання на нашу адресу: 220030, м. Мінськ, вул. Леніна д.46, прим.
          №3 , для ТОВ "Трансстиль-Груп" письмової заяви від клієнта, написаної
          у довільній формі, з проханням про повернення коштів (із зазначенням
          причин повернення). Терміни повернення можуть досягати 30 днів.
        </p>
      </div>
      <div>
        <h3>Безпека проведення платежів</h3>
        <p>
          Передача даних здійснюється окремим каналом із застосуванням сучасних
          методів шифрування. При цьому виключається будь-яка можливість
          перехоплення конфіденційної інформації. Дані передаються у
          зашифрованому вигляді та зберігаються лише на спеціалізованому
          сервері.
          <div>
            <p>Приклад чеку</p>
            <img src="#" alt="">
          </div>
        </p>
      </div>
    </div>
    <div>
      <p>Важливо:</p>
      <p>Після здійснення оплати з використанням банківської картки необхідно зберігати отримані карт-чеки (підтвердження про оплату, отримані в Інтернет-магазині) для звірки з випискою з карт-рахунку (з метою підтвердження вчинених операцій у разі виникнення спірних ситуацій).</p>
    </div>
    <div>
      <h3>Оформлення квітів</h3>
    <p>Досвідчений флорист може додатково оформити квіти за Вашим бажанням, для цього ми маємо у своєму розпорядженні різноманітні пакувальні та флористичні матеріали.
Вартість даної послуги обговорюється окремо, її розмір залежить від побажань замовника.
Букети з троянд, представлені на акціях (15 або 25 штук) зв'язуються стрічкою, упаковка (крафт папір, матова плівка, флізелін, сітка або целофан та ін) обійдеться у суму від десяти гривень.</p>
<img src="#" alt="">
    </div>
    <div><h3>Інше</h3>
    <p>Ми гарантуємо, що вся надана вами інформація конфіденційна та не підлягає передачі третім особам. При заповненні спеціальної форми замовлення вказуйте максимально точну адресу, включаючи номер будинку, корпус, під'їзд, код до під'їзду, поверх, назву фірми, номер офісу, ім'я та прізвище одержувача і т.д.
Постарайтеся також залишити номер телефону, щоб наш кур'єр міг зв'язатися з вами в разі необхідності: якщо одержувача не виявиться за вказаною адресою, кур'єр за погодженням із замовником може залишити букет консьєржці або сусідам. Повторна доставка обійдеться в 30 гривень.
В окремих випадках ми залишаємо за собою право заміни кольорів або пакувальних матеріалів на еквівалентні або більш дорогі (за наш рахунок), з обов'язковою умовою збереження загального виду та кінцевої вартості букета.</p></div>
  </div>
</section>

<section class="offer offer--plus">
  <div class="offer__container container">
    <h2 class="offer__title">З квітами купляють</h2>

    <ul class="offer__list offer-list">
      <li class="offer-list__item product">
        <a href="" class="product__link">
          <img
            loading="lazy"
            src="./img/offers/VAL_8182_1200_1.jpg"
            alt="Букет квітів"
            class="product__image"
            width="290"
            height="250"
          />
          <div class="product__overlay">
            <p class="product__status hit">Xіт продажів</p>
            <button type="button" class="product__favorite">
              <svg width="28" height="25">
                <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
              </svg>
            </button>
          </div>
          <div class="product__content">
            <p class="product__text">
              Букет «Щастя» - дуже красивий. Дівчатам подобається.
            </p>
            <p class="product__price">125 у.о.</p>
            <button type="button" class="product__button button dark">
              Замовити
            </button>
            <button type="button" class="product__button-one-click">
              Придбати в 1 клік
            </button>
          </div>
        </a>
      </li>
      <li class="offer-list__item product">
        <a href="" class="product__link">
          <img
            loading="lazy"
            src="./img/offers/VAL_8182_1200_1.jpg"
            alt="Букет квітів"
            class="product__image"
            width="290"
            height="250"
          />
          <div class="product__overlay">
            <p class="product__status new">Новинка</p>
            <button type="button" class="product__favorite checked">
              <svg width="28" height="25">
                <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
              </svg>
            </button>
          </div>
          <div class="product__content">
            <p class="product__text">
              Букет «Щастя» - дуже красивий. Дівчатам подобається.
            </p>
            <p class="product__price">125 у.о.</p>
            <button type="button" class="product__button button dark">
              Замовити
            </button>
            <button type="button" class="product__button-one-click">
              Придбати в 1 клік
            </button>
          </div>
        </a>
      </li>
      <li class="offer-list__item product">
        <a href="" class="product__link">
          <img
            loading="lazy"
            src="./img/offers/VAL_8182_1200_1.jpg"
            alt="Букет квітів"
            class="product__image"
            width="290"
            height="250"
          />
          <div class="product__overlay">
            <p class="product__status absent">Немає в наявності</p>
            <button type="button" class="product__favorite checked">
              <svg width="28" height="25">
                <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
              </svg>
            </button>
          </div>
          <div class="product__content">
            <p class="product__text">
              Букет «Щастя» - дуже красивий. Дівчатам подобається.
            </p>
            <p class="product__price">125 у.о.</p>
            <button type="button" class="product__button button dark">
              Замовити
            </button>
            <button type="button" class="product__button-one-click">
              Придбати в 1 клік
            </button>
          </div>
        </a>
      </li>
      <li class="offer-list__item product">
        <a href="" class="product__link">
          <img
            loading="lazy"
            src="./img/offers/VAL_8182_1200_1.jpg"
            alt="Букет квітів"
            class="product__image"
            width="290"
            height="250"
          />
          <div class="product__overlay">
            <p class="product__status hit">Xіт продажів</p>
            <button type="button" class="product__favorite">
              <svg width="28" height="25">
                <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
              </svg>
            </button>
          </div>
          <div class="product__content">
            <p class="product__text">
              Букет «Щастя» - дуже красивий. Дівчатам подобається.
            </p>
            <p class="product__price">125 у.о.</p>
            <button type="button" class="product__button button dark">
              Замовити
            </button>
            <button type="button" class="product__button-one-click">
              Придбати в 1 клік
            </button>
          </div>
        </a>
      </li>
    </ul>

    <a href="" class="offer__button">
      Перейти в каталог
      <svg class="offer__button--icon button--icon" width="32" height="12">
        <use href="./img/symbol-defs.svg#arrow-right-long-icon"></use>
      </svg>
    </a>
  </div>
</section>
