<section class="reviews">
  <div class="container">
    <h2 class="reviews__title">Наші відгуки</h2>
    <div class=" revies-swiper__container">
    <div class="swiper-wrapper revies-swiper__wrapper">
    <div class="swiper-slide reviews__slide">
      <div class="reviews__author">
       <picture class="reviews__pic">
       <source srcset= "./img/reviews/1-reviewer-1x.jpg 1x, ./img/reviews/1-reviewer-2x.jpg 2x" media="(min-width:360px)">
       </source>
        <source srcset= "./img/reviews/1-reviewer-1xw.webp 1x, ./img/reviews/1-reviewer-2xw.webp 2x" media="(min-width:360px)">
       </source>
       <img src="./img/reviews/1-reviewer-1x.jpg" alt="первый ревьювер" loading="lazy">
       </picture>
       <div class="reviews__data">
        <p class="reviews__name">​Віра Шевченко</p>
        <svg class="reviews__rate">
            <use href="./img/symbol-defs.svg#icon-reviewers-rate"></use>
        </svg>
       </div>
      </div>
      <div class="reviews__text">
Для мене це найкращий магазин квітів. Купую їх тільки тут. Квіти тут завжди свіжі, а ціни дуже демократичні. Тиждень тому купила 25 троянд сестрі на День Народження. Досі чудово збереглися. Магазин рекомендую.</div>
    </div>
     <div class="swiper-slide reviews__slide">
      <div class="reviews__author">
      <picture class="reviews__pic">
       <source srcset= "./img/reviews/1-reviewer-1x.jpg 1x, ./img/reviews/1-reviewer-2x.jpg 2x" media="(min-width:360px)">
       </source>
       <source srcset= "./img/reviews/1-reviewer-1xw.webp 1x, ./img/reviews/1-reviewer-2xw.webp 2x" media="(min-width:360px)">
       </source>
       <img src="./img/reviews/1-reviewer-1x.jpg" alt="первый ревьювер" loading="lazy">
       </picture>
       <div class="reviews__data">
        <p class="reviews__name">​Віра Шевченко</p>
        <svg class="reviews__rate">
            <use href="./img/symbol-defs.svg#icon-reviewers-rate"></use>
        </svg>
       </div>
      </div>
      <div class="reviews__text">
Для мене це найкращий магазин квітів. Купую їх тільки тут. Квіти тут завжди свіжі, а ціни дуже демократичні. Тиждень тому купила 25 троянд сестрі на День Народження. Досі чудово збереглися. Магазин рекомендую.      </div>
    </div> 
    <div class="swiper-slide reviews__slide">
      <div class="reviews__author">
        <picture class="reviews__pic">
       <source srcset= "./img/reviews/1-reviewer-1x.jpg 1x, ./img/reviews/1-reviewer-2x.jpg 2x" media="(min-width:360px)">
       </source>
        <source srcset= "./img/reviews/1-reviewer-1xw.webp 1x, ./img/reviews/1-reviewer-2xw.webp 2x" media="(min-width:360px)">
       </source>
       <img src="./img/reviews/1-reviewer-1x.jpg" alt="первый ревьювер" loading="lazy">
       </picture>
       <div class="reviews__data">
        <p class="reviews__name">​Віра Шевченко</p>
        <svg class="reviews__rate">
            <use href="./img/symbol-defs.svg#icon-reviewers-rate"></use>
        </svg>
       </div>
      </div>
      <div class="reviews__text">
Для мене це найкращий магазин квітів. Купую їх тільки тут. Квіти тут завжди свіжі, а ціни дуже демократичні. Тиждень тому купила 25 троянд сестрі на День Народження. Досі чудово збереглися. Магазин рекомендую.      </div>
    </div>
    </div>
    <div class="swiper-btn">
      <div class="swiper-btn__prev">
          <svg class="swiper-btn__icon">
            <use href="./img/symbol-defs.svg#arrow-left-long-icon"></use>
        </svg>
         </div>
      <div class="swiper-btn__next">
        <svg class="swiper-btn__icon">
            <use href="./img/symbol-defs.svg#arrow-right-long-icon"></use>
        </svg>
        </div>
    </div>
    </div>
    </div>
</section>


