<section class="special-offer">
  <div class="special-offer__container container">
    <h2 class="special-offer__title">Специальное предложение</h2>
    <p class="special-offer__comment">
      <span>*</span>На товары раздела скидка не распространяется
    </p>
    <a href="" class="special-offer__button"
      >Перейти в каталог<svg
        class="special-offer__button-icon button-icon"
        width="32"
        height="12"
      >
        <use href="./img/symbol-defs.svg#arrow-right-long-icon"></use>
      </svg>
    </a>
    <ul class="special-offer__list offer-list">
      <li class="offer-list__item product">
        <a href="" class="product__link">
          <img
            loading="lazy"
            src="./img/special-offer/VAL_8182_1200_1.jpg"
            alt="Букет квітів"
            class="product__image"
            width="290"
            height="250"
          />
          <div class="product__content">
            <p class="product__text">
              Букет «Cчастье» Букет «Cчастье» Букет «Cчастье»
            </p>
            <button type="button" class="product__button dark">Заказать</button>
            <button type="button" class="product__button light">
              Купить в 1 клик
            </button>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
