<section class="special-offer">
  <div class="special-offer__container container">
    <h2 class="special-offer__title">Спеціальна пропозиція</h2>
    <p class="special-offer__comment">
      <span>* </span>На товари разділу скидка не розповсюджується
    </p>

    <ul class="special-offer__list offer-list">
      <li class="offer-list__item product">
        <a href="" class="product__link">
          <img
            loading="lazy"
            src="./img/special-offer/VAL_8182_1200_1.jpg"
            alt="Букет квітів"
            class="product__image"
            width="290"
            height="250"
          />
          <div class="product__overlay">
            <p class="product__status pruduct__status--hit">Xіт продажів</p>
            <button type="button" class="product__favorite">
              <svg width="28" height="25">
                <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
              </svg>
            </button>
          </div>
          <div class="product__content">
            <p class="product__text">
              Букет «Щастя» - дуже красивий. Дівчатам дуже подобається.
            </p>
            <p class="product__price">125 у.о.</p>
            <button type="button" class="product__button dark">Заказать</button>
            <button type="button" class="product__button-one-click">
              Купить в 1 клик
            </button>
          </div>
        </a>
      </li>
    </ul>

    <a href="" class="special-offer__button">
      Перейти в каталог
      <svg
        class="special-offer__button-icon button-icon"
        width="32"
        height="12"
      >
        <use href="./img/symbol-defs.svg#arrow-right-long-icon"></use>
      </svg>
    </a>
  </div>
</section>
