<section class="green-section">
  <div class="container">
    <p class="green-section-heading">Чому це погана прикмета?</p>
    <p class="green-section-text green-section-text__top">
      Вважається, що, відзначаючи заздалегідь День Народження, ми притягуємо неприємності, ніби провокуючи долю. Ми
      відзначаємо свято, до якого ще не дожили.
    </p>
    <p class="green-section-text green-section-text__bottom">
      Забобонні люди впевнені, що це дуже поганий знак і доля може покарати нас за самовпевненість і зробити так, що
      людина не доживе до цього дня.
    </p>
    <div class="drops-top__green-section"></div>
    <div class="drops-bottom__green-section"></div>
    <div class="drops-bottom-second__green-section"></div>
  </div>
</section>
