<section class="delivery-section">
  <div class="container">
    <div class="what-wrap__external">
      <div class="what-wrap__internal">
        <h2 class="blog-section-title">Як 100-відсотково застати людину за адресою?</h2>
        <p class="blog-section-text">
          Доставка квітів з кур'єром – чудова можливість привітати людину у будь-який день, де б Ви не знаходилися. Не
          забувайте про це та влаштуйте приємний сюрприз. Багато салонів пропонують цілодобову доставку. Але заздалегідь
          акуратно поцікавтеся у іменинника, чи не збирається він кудись поїхати цього дня.
        </p>
        <p class="blog-section-text">
          В ідеалі, щоб не натякати на сюрприз і бути впевненим у тому, що кур'єр застане адресата, можете відправити
          букет на його роботу. Якщо, звісно, в цей день людина не має вихідного.
        </p>
      </div>
    </div>
  </div>
</section>
