<section class="how-to-proceed">
  <div class="container">
    <h2 class="blog-section-title">Як вчинити?</h2>
    <div class="how-to-proceed__text-wrap">
      <div class="text-wrap__wrapper">
        <p class="blog-section-text">Кур'єрські служби – це ідеальний варіант для поздоровлення у потрібний день.</p>
        <p class="blog-section-text">
          У кожному місті існує безліч квіткових магазинів, які надають цю послугу. Коштує зазвичай недорого і
          розраховується за тарифом таксі від магазину до потрібної адреси.
        </p>
        <p class="blog-section-text">
          Деякі великі магазини мають свого кур'єра з власним автомобілем. Тому там доставка може бути дешевшою або
          зовсім безкоштовною, так як вже закладена у вартість букета.
        </p>
      </div>
      <div class="how-to-proceed__text-wrap__wrapper">
        <p class="blog-section-text">
          Іноді доставка коштує деяку суму, але при замовленні, грубо кажучи, від 1000 гривень, стає безкоштовною, тому
          що для магазину повністю окупається.
        </p>
        <p class="blog-section-text">
          Більшість квіткових салонів мають зручний сайт чи сторінку у соціальній мережі. Це дозволяє вибрати букет,
          перебуваючи в іншому місті або навіть іншій країні.
        </p>
        <p class="blog-section-text">
          Флористи складають потрібну композицію та доставляють імениннику або іменинниці.
        </p>
      </div>
    </div>

    <picture>
      <source
        srcset="
          ./img/blog/third-page/desktop/flower-delivery-desktop.webp    1x,
          ./img/blog/third-page/desktop/flower-delivery-desktop@2x.webp 2x
        "
        type="image/webp"
        media="(min-width:1340px)"
      />
      <source
        srcset="
          ./img/blog/third-page/desktop/flower-delivery-desktop.jpg    1x,
          ./img/blog/third-page/desktop/flower-delivery-desktop@2x.jpg 2x
        "
        type="image/jpeg"
        media="(min-width:1340px)"
      />

      <source
        srcset="
          ./img/blog/third-page/desktop/flower-delivery-desktop.webp    1x,
          ./img/blog/third-page/desktop/flower-delivery-desktop@2x.webp 2x
        "
        type="image/webp"
        media="(max-width:767px)"
      />
      <source
        srcset="
          ./img/blog/third-page/desktop/flower-delivery-desktop.jpg    1x,
          ./img/blog/third-page/desktop/flower-delivery-desktop@2x.jpg 2x
        "
        type="image/jpeg"
        media="(max-width:767px)"
      />
      <img
        src="./img/blog/third-page/desktop/flower-delivery-desktop.jpg"
        alt="фото букета"
        class="how-to-proceed-img"
        loading="lazy"
      />
    </picture>
  </div>
</section>
