<section class="btp-main-section">
  <div class="container container-top">
    <div class="blog-navigation blog-navigation__third-page">
      <a href="./index.html" class="main-menu-link">Головна</a>
      <span class="menu-separator">/</span>
      <a href="./blog-first-page.html" class="main-menu-link">Блог</a>
      <span class="menu-separator">/</span>
      <a href="#" class="blog-sp-link blog-menu-link">Чи можна заздалегіть дарувати квіти на День народження?</a>
    </div>

    <div class="section-main-top-wrap section-main-top-wrap__third-page">
      <h1 class="page-title page-title__third-page">Чи можна заздалегіть дарувати квіти на День народження</h1>
      <p class="page-title-date">28.11.21</p>
    </div>
  </div>
  <div class="btp-main-section-bg"></div>
  <div class="container container__bottom">
    <p class="page-about-text">
      Іноді трапляється так, що ми не можемо бути присутніми на Дні Народження близької людини. І тоді виникає
      закономірне питання: чи можна дарувати заздалегідь квіти на день народження чи це поганий знак?
    </p>
    <p class="page-about-text">
      Адже привітати хочеться, але що робити, якщо у цей день доведеться бути в іншому місті чи чергувати добу на
      службі? Вихід є!. Але давайте спершу розберемося, з чим пов'язані забобони про відмову від привітання заздалегідь.
    </p>
  </div>
</section>
