<section class="green-section">
  <div class="container">
    <p class="green-section-heading">Не забудьте про листівку</p>
    <p class="green-section-text green-section-text__top">
      Замовляючи доставку квітів, потрібно пам'ятати про те, що іменинниця чи іменинник не є екстрасенсом.
    </p>
    <p class="green-section-text green-section-text__bottom">
      Багато людей часом забувають про листівку, яка є важливою складовою кур'єрської доставки. У ній Ви можете не
      просто підписатися, а й залишити кілька приємних рядків із привітаннями.
    </p>
    <div class="drops-top__green-section"></div>
    <div class="drops-bottom__green-section"></div>
    <div class="drops-bottom-second__green-section"></div>
  </div>
</section>
