<section class="what-to-do">
  <div class="container">
    <div class="what-wrap__external">
      <div class="what-wrap__internal">
        <h2 class="blog-section-title">Що робити?</h2>
        <p class="blog-section-text">
          Квіти дарувати наперед вкрай небажано. Адже вони банально почнуть в'янути до Дня Народження. Інша справа, якщо
          Ви хочете подарувати імениннику заздалегідь потрібну річ, якої він потребує прямо тут і зараз. Наприклад, якщо
          він придбав автомобіль, можна заздалегідь вручити реєстратор. Або ноутбук до початку навчального року. Адже ці
          речі актуальні не до Дня Народження, а зараз.
        </p>
        <p class="blog-section-text">
          Якщо Ви вирішили придбати та подарувати потрібні речі заздалегідь, акуратно поцікавтеся, як людина до цього
          ставиться. Якщо він забобонний, то краще не варто цього робити. Навіть якщо відсутність конкретної речі
          викликає дискомфорт. Якщо людина вірить у всі прикмети, не варто змушувати її хвилюватися та нервувати.
        </p>
        <p class="blog-section-text">
          Якщо людина не марновірна, подарунок можна вручити і заздалегідь. Це позбавить Вашого друга, родича чи колегу
          від дискомфорту через відсутність цього предмета. Так, якщо він втратив або розбив смартфон, можна вручити
          йому новий, не чекаючи на День Народження. Але важливо обмежитися однією фразою: Це тобі на майбутній День
          Народження. Не треба вітати зі святом заздалегідь, не треба бажати чогось. Просто вручіть подарунок та все.
        </p>
        <p class="blog-section-text">
          Але квіти дарувати не варто, навіть якщо залишається до Дня народження один день. Адже квіти – це не потреба.
          Вони можуть і зачекати. До того ж, якщо Ви заздалегідь подарували основний презент, букет квітів у День
          Народження може допомогти уникнути косих поглядів інших гостей. Адже вони не знатимуть, що знаходиться у
          листівці, і не подумають, що Ви прийшли без подарунка. А якщо Ви подарунок і квіти подаруєте заздалегідь,
          хтось із гостей обов'язково подумає про Вас погано, вирішить, що Ви прийшли без подарунка.
        </p>
      </div>
      <picture>
        <source
          srcset="
            ./img/blog/third-page/desktop/what-to-do-bouquet.webp    1x,
            ./img/blog/third-page/desktop/what-to-do-bouquet@2x.webp 2x
          "
          type="image/webp"
          media="(min-width:1340px)"
        />
        <source
          srcset="
            ./img/blog/third-page/desktop/what-to-do-bouquet.jpg    1x,
            ./img/blog/third-page/desktop/what-to-do-bouquet@2x.jpg 2x
          "
          type="image/jpeg"
          media="(min-width:1340px)"
        />

        <source
          srcset="
            ./img/blog/third-page/tablet/what-to-do-bouquet-tablet.webp    1x,
            ./img/blog/third-page/tablet/what-to-do-bouquet-tablet@2x.webp 2x
          "
          type="image/webp"
          media="(max-width:767px)"
        />
        <source
          srcset="
            ./img/blog/third-page/tablet/what-to-do-bouquet-tablet.jpg    1x,
            ./img/blog/third-page/tablet/what-to-do-bouquet-tablet@2x.jpg 2x
          "
          type="image/jpeg"
          media="(max-width:767px)"
        />
        <img
          src="./img/blog/third-page/desktop/what-to-do-bouquet.jpg"
          alt="фото букета"
          class="what-to-do-img"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
