.pers-login {
    padding: 50px 0px;
    &>.container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.login-title {
    @include font(500, 24px, calc(31px / 24px));
    color: var(--main-accent-color);
    margin-bottom: 30px;
    margin: 0 auto 30px;
    text-align: center;

    @include tablet {
        @include font(500, 36px, calc(47px / 36px));
        margin-bottom: 50px;
    }
}

.login-form {
    outline: auto;
    position: relative;

    padding: 70px 10px;
    background-color: var(--white);

    @media screen and (min-width: 375px) {
        width: 375px;
    }

    @include tablet {
        width: 580px;
        padding: 50px 70px;
    }

    &::before {
        display: block;
        content: "";

        position: absolute;
        top: 0px;
        left: 0px;
        width: 124px;
        height: 74px;
        background-image: url(../img/reusable/leaf-top-left-124.png);
        background-repeat: no-repeat;
    }

    &::after {
        display: block;
        content: "";

        position: absolute;
        bottom: 0;
        right: 2px;
        width: 45px;
        height: 47px;
        background-image: url(../img/reusable/blobs.png);
        background-repeat: no-repeat;

        @include tablet {
            bottom: 0;
            right: 0;
            width: 45px;
            height: 50px;
        }
    }
}

.login-form>label {
    &:first-of-type {
        &>.pers-form-input {
            margin-bottom: 10px;
        }
    }
    &:last-of-type {
        &>.pers-form-input {
            position: relative;
            margin-bottom: 8px;
            @include tablet {
                margin-bottom: 10px;
            }
            &::after {
                display: block;
                content: "";

                position: absolute;
                top: 9px;
                right: 9px;
                width: 32px;
                height: 32px;
                background-image: url(../img/personal-cabinet/eye-off.svg);
                // background-repeat: no-repeat;
            }
        }
    }
}

.login-flex-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 40px;
    @include tablet {
            margin-bottom: 30px;
        }
}

.login-flex-wrap>a {
    @include font(400, 12px, calc(16px / 12px));
    color: var(--light-theme-text-color);

    @include tablet {
        @include font(400, 14px, calc(18px / 14px));
    }
    
    &:hover,
    &:focus {
        color: var(--main-accent-color);
    }
}

.login-check-label {
    display: flex;
    @include font(400, 12px, calc(16px / 12px));
    color: var(--light-theme-text-color);

    @include tablet {
        @include font(400, 14px, calc(18px / 14px));
    }

    &::before {
        display: block;
        content: "";
        width: 17px;
        height: 17px;
        margin-right: 15px;
        border: 1px solid var(--main-accent-color);
        border-radius: 4px;

        .login-check-wrap>input:focus+&,
        .login-check-wrap>input:checked+& {
            background-image: url(../img/personal-cabinet/check.svg);
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}

.login-btn {
    display: block;
    width: 100%;
    &:not(:last-child) {
        margin-bottom: 5px;
    }
}