.reg-input-wrap {
    display: grid;
    grid-row-gap: 5px;
    margin-bottom: 20px;

    @include tablet {
        grid-row-gap: 10px;
        margin-bottom: 40px;
    }
}


.pers-form-input.login-input {
    &::after {
        display: block;
        content: "";

        position: absolute;
        top: 9px;
        right: 9px;
        width: 32px;
        height: 32px;
        background-color: aqua;
        background-image: url(../img/personal-cabinet/eye-off.svg);
        // stroke: var(--light-theme-text-color);
        // fill: var(--light-theme-text-color);
        // background-repeat: no-repeat;
        fill: none;
    }
}

.reg-modal-form button {
    width: 100%;
}
