.pers-content-title {
    @include font(600, 20px, calc(26px / 20px));
    color: var(--main-accent-color);
}

//-------submit-btn-------------

.pers-button-wrap {
    @media screen and (max-width: 767.98px) {
        padding: 0 20px;
    }
}

.pers-button-wrap>.button {
    display: block;
    width: 100%;

    @include tablet {
        width: 300px;
        margin-right: auto;
    }

    @include desktop {
        margin-right: 0;
        margin-left: auto;
    }
}