<section class="bsp-about-us">
  <div class="container">
    <p class="bsp-bouquet-heading">
      Весільний букет нареченої в Харкові — справжній символ цієї події, без
      якої неможливо обійтися.
    </p>
    <p class="bsp-bouquet-text">
      Ми переконані, що наша компанія повинна нести радість і емоції клієнтам в
      першу чергу, крім грошової вигоди. Тому пропонуємо тільки найкраще,
      дозволяючи запам'ятати найзворушливіші та найважливіші моменти весілля
      разом із квітковою свіжістю та красою.
    </p>
    <div class="drops-top"></div>
    <div class="drops-bottom"></div>
    <div class="drops-bottom-second"></div>
  </div>
</section>
