<section class="bsp-buy-with">
  <div class="container">
    <p class="bsp-with-heading">Разом з квітами купують</p>
    <ul class="bsp-with-list">
      <li class="bsp-with-item">
        <a href="" class="bsp-with-link">
          <picture>
            <source
              srcset="
                ./img/blog/second-page/desktop/candy-desktop.webp    1x,
                ./img/blog/second-page/desktop/candy-desktop@2x.webp 2x
              "
              type="image/webp"
              media="(min-width:1340px)"
            />
            <source
              srcset="
                ./img/blog/second-page/desktop/candy-desktop.jpg    1x,
                ./img/blog/second-page/desktop/candy-desktop@2x.jpg 2x
              "
              type="image/jpeg"
              media="(min-width:1340px)"
            />
            <source
              srcset="
                ./img/blog/second-page/tablet/candy-tablet.webp    1x,
                ./img/blog/second-page/tablet/candy-tablet@2x.webp 2x
              "
              type="image/webp"
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./img/blog/second-page/tablet/candy-tablet.jpg    1x,
                ./img/blog/second-page/tablet/candy-tablet@2x.jpg 2x
              "
              type="image/jpeg"
              media="(min-width:768px)"
            />

            <source
              srcset="
                ./img/blog/second-page/mobile/candy-mobile.webp    1x,
                ./img/blog/second-page/mobile/candy-mobile@2x.webp 2x
              "
              type="image/webp"
              media="(max-width:767px)"
            />
            <source
              srcset="
                ./img/blog/second-page/mobile/candy-mobile.jpg    1x,
                ./img/blog/second-page/mobile/candy-mobile@2x.jpg 2x
              "
              type="image/jpeg"
              media="(max-width:767px)"
            />
            <img
              src="./img/blog/second-page/mobile/candy-mobile.jpg"
              alt="Коробка цукерок"
              class="bsp-with-img"
              loading="lazy"
            />
          </picture>

          <p class="bsp-with-title">Цукерки "Щастя"</p>
          <p class="bsp-with-price">125 у.о.</p>
          <button type="button" class="button dark bsp-with-order">Замовити</button>
          <a href="" class="bsp-with-buy-link">Купити в 1 клік</a>
          <p class="bsp-with-status bsp-with-status__bestseller">Хіт продажів</p>
          <button type="button" class="bsp-with-favorite">
            <svg width="28" height="25">
              <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
            </svg>
          </button>
        </a>
      </li>
      <li class="bsp-with-item">
        <a href="" class="bsp-with-link">
          <picture>
            <source
              srcset="
                ./img/blog/second-page/desktop/toy-desktop.webp    1x,
                ./img/blog/second-page/desktop/toy-desktop@2x.webp 2x
              "
              type="image/webp"
              media="(min-width:1340px)"
            />
            <source
              srcset="
                ./img/blog/second-page/desktop/toy-desktop.jpg    1x,
                ./img/blog/second-page/desktop/toy-desktop@2x.jpg 2x
              "
              type="image/jpeg"
              media="(min-width:1340px)"
            />
            <source
              srcset="
                ./img/blog/second-page/tablet/toy-tablet.webp    1x,
                ./img/blog/second-page/tablet/toy-tablet@2x.webp 2x
              "
              type="image/webp"
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./img/blog/second-page/tablet/toy-tablet.jpg    1x,
                ./img/blog/second-page/tablet/toy-tablet@2x.jpg 2x
              "
              type="image/jpeg"
              media="(min-width:768px)"
            />

            <source
              srcset="
                ./img/blog/second-page/mobile/toy-mobile.webp    1x,
                ./img/blog/second-page/mobile/toy-mobile@2x.webp 2x
              "
              type="image/webp"
              media="(max-width:767px)"
            />
            <source
              srcset="
                ./img/blog/second-page/mobile/toy-mobile.jpg    1x,
                ./img/blog/second-page/mobile/toy-mobile@2x.jpg 2x
              "
              type="image/jpeg"
              media="(max-width:767px)"
            />
            <img src="./img/blog/second-page/mobile/toy-mobile.jpg" alt="Іграшка" class="bsp-with-img" loading="lazy" />
          </picture>

          <p class="bsp-with-title">Іграшка "Щастя"</p>
          <p class="bsp-with-price">150 у.о.</p>
          <button type="button" class="button dark bsp-with-order">Замовити</button>
          <a href="" class="bsp-with-buy-link">Купити в 1 клік</a>
          <p class="bsp-with-status bsp-with-status__new">Новинка</p>
          <button type="button" class="bsp-with-favorite checked">
            <svg width="28" height="25">
              <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
            </svg>
          </button>
        </a>
      </li>
      <li class="bsp-with-item">
        <a href="" class="bsp-with-link">
          <picture>
            <source
              srcset="
                ./img/blog/second-page/desktop/love-you-desktop.webp    1x,
                ./img/blog/second-page/desktop/love-you-desktop@2x.webp 2x
              "
              type="image/webp"
              media="(min-width:1340px)"
            />
            <source
              srcset="
                ./img/blog/second-page/desktop/love-you-desktop.jpg    1x,
                ./img/blog/second-page/desktop/love-you-desktop@2x.jpg 2x
              "
              type="image/jpeg"
              media="(min-width:1340px)"
            />
            <source
              srcset="
                ./img/blog/second-page/tablet/love-you-tablet.webp    1x,
                ./img/blog/second-page/tablet/love-you-tablet@2x.webp 2x
              "
              type="image/webp"
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./img/blog/second-page/tablet/love-you-tablet.jpg    1x,
                ./img/blog/second-page/tablet/love-you-tablet@2x.jpg 2x
              "
              type="image/jpeg"
              media="(min-width:768px)"
            />

            <source
              srcset="
                ./img/blog/second-page/mobile/love-you-mobile.webp    1x,
                ./img/blog/second-page/mobile/love-you-mobile@2x.webp 2x
              "
              type="image/webp"
              media="(max-width:767px)"
            />
            <source
              srcset="
                ./img/blog/second-page/mobile/love-you-mobile.jpg    1x,
                ./img/blog/second-page/mobile/love-you-mobile@2x.jpg 2x
              "
              type="image/jpeg"
              media="(max-width:767px)"
            />
            <img
              src="./img/blog/second-page/mobile/love-you-mobile.jpg"
              alt="Прикраси"
              class="bsp-with-img"
              loading="lazy"
            />
          </picture>

          <p class="bsp-with-title">Прикраса "Щастя"</p>
          <p class="bsp-with-price">250 у.о.</p>
          <button type="button" class="button dark bsp-with-order">Замовити</button>
          <a href="" class="bsp-with-buy-link">Купити в 1 клік</a>
          <p class="bsp-with-status bsp-with-status__bestseller">Хіт продажів</p>
          <button type="button" class="bsp-with-favorite">
            <svg width="28" height="25">
              <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
            </svg>
          </button>
        </a>
      </li>
      <li class="bsp-with-item">
        <a href="" class="bsp-with-link">
          <picture>
            <source
              srcset="
                ./img/blog/second-page/desktop/postcard-desktop.webp    1x,
                ./img/blog/second-page/desktop/postcard-desktop@2x.webp 2x
              "
              type="image/webp"
              media="(min-width:1340px)"
            />
            <source
              srcset="
                ./img/blog/second-page/desktop/postcard-desktop.jpg    1x,
                ./img/blog/second-page/desktop/postcard-desktop@2x.jpg 2x
              "
              type="image/jpeg"
              media="(min-width:1340px)"
            />

            <source
              srcset="
                ./img/blog/second-page/tablet/postcard-tablet.webp    1x,
                ./img/blog/second-page/tablet/postcard-tablet@2x.webp 2x
              "
              type="image/webp"
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./img/blog/second-page/tablet/postcard-tablet.jpg    1x,
                ./img/blog/second-page/tablet/postcard-tablet@2x.jpg 2x
              "
              type="image/jpeg"
              media="(min-width:768px)"
            />

            <source
              srcset="
                ./img/blog/second-page/mobile/postcard-mobile.webp    1x,
                ./img/blog/second-page/mobile/postcard-mobile@2x.webp 2x
              "
              type="image/webp"
              media="(max-width:767px)"
            />
            <source
              srcset="
                ./img/blog/second-page/mobile/postcard-mobile.jpg    1x,
                ./img/blog/second-page/mobile/postcard-mobile@2x.jpg 2x
              "
              type="image/jpeg"
              media="(max-width:767px)"
            />
            <img
              src="./img/blog/second-page/mobile/postcard-mobile.jpg"
              alt="Листівка"
              class="bsp-with-img"
              loading="lazy"
            />
          </picture>

          <p class="bsp-with-title">Листівка "Щастя"</p>
          <p class="bsp-with-price">15 у.о.</p>
          <button type="button" class="button dark bsp-with-order">Замовити</button>
          <a href="" class="bsp-with-buy-link">Купити в 1 клік</a>
          <p class="bsp-with-status bsp-with-status__absent">Немає в наявності</p>
          <button type="button" class="bsp-with-favorite">
            <svg width="28" height="25">
              <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
            </svg>
          </button>
        </a>
      </li>
    </ul>

    <a href="" class="bsp-link-catalog"
      >Перейти до каталогу
      <svg class="" width="32" height="12">
        <use href="./img/symbol-defs.svg#arrow-right-long-icon"></use>
      </svg>
    </a>
  </div>
</section>
