<section class="bsp-how-to-buy">
  <div class="container">
    <p class="bsp-buy-heading">
      Купити у нас букет на весілля в Харкові можна двома способами
    </p>
    <div class="bsp-buy-wrap">
      <div class="bsp-buy-wrap__top">
        <p class="bsp-buy-number">1</p>
        <p class="bsp-buy-text">
          Ви відвідуєте роздрібний відділ за адресою: вулиця Жовтнева 23a,
          павільйон 20а
        </p>
      </div>
      <div class="bsp-buy-wrap__bottom">
        <p class="bsp-buy-number">2</p>
        <p class="bsp-buy-text">
          Оформляєте замовлення через інтернет або у менеджера по телефонам, які
          вказані на сайті менеджером по телефонам, які вказані на сайті
        </p>
      </div>
    </div>

    <div class="bsp-buy-bottom-wrap">
      <div class="bsp-buy-bottom">
        <p class="bsp-buy-bottom-text">
          <span
            >Для вашої зручності ми використовуємо номери різних мобільних
            операторів.</span
          >
          Основними перевагами доставки перед самовивозом є: швидкість і
          делікатність кур'єрів, вибір точного часу, декоративне оформлення від
          фахівців.
        </p>
        <p class="bsp-buy-bottom-text">
          Оплата здійснюється через банківські рахунки, електронні гроші або
          готівку. Рекомендуємо докладніше ознайомитися з умовами доставки через
          одноіменну вкладку на веб-сайті або зв'язок з менеджерами.
        </p>
        <p class="bsp-buy-bottom-text">
          <span>
            <a href="./index.html" class="bsp-buy-bottom-link">gvozdika.by</a>
            працює більше року як інтернет-магазин, і близько десяти років як
            роздрібна мережа.</span
          >
        </p>
        <p class="bsp-buy-bottom-text">
          За цей час ми виробили особливу цінову політику і ставлення до
          покупця. Ціни, сформовані за роки діяльності у флористичній сфері,
          нижчі за пропозиції конкурентів на 5–10%. Вартість оформлення
          весільних букетів в магазині — найкращі в Харкові. Переконатися в
          цьому ви можете, скориставшись нашим сервісом або ознайомившись з
          відгуками постійних клієнтів.
        </p>
        <p class="bsp-buy-bottom-text">
          Крім того, ми раді постійній співпраці і уважно вислухаємо будь-які
          пропозиції. Оптові закупівлі в нашій компанії збережуть гроші, які
          підприємець зможе направити на розвиток бізнесу.
        </p>
      </div>
      <picture>
        <source
          srcset="
            ./img/blog/second-page/desktop/bouquet-flowers-desktop.webp 1x,
            ./img/blog/second-page/desktop/bouquet-flowers-desktop@2x.webp 2x
          "
          type="image/webp"
          media="(min-width:1340px)"
        />
        <source
          srcset="
            ./img/blog/second-page/desktop/bouquet-flowers-desktop.jpg 1x,
            ./img/blog/second-page/desktop/bouquet-flowers-desktop@2x.jpg 2x
          "
          type="image/jpeg"
          media="(min-width:1340px)"
        />

        <source
          srcset="
            ./img/blog/second-page/tablet/bouquet-flowers-tablet.webp 1x,
            ./img/blog/second-page/tablet/bouquet-flowers-tablet@2x.webp 2x
          "
          type="image/webp"
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./img/blog/second-page/tablet/bouquet-flowers-tablet.jpg 1x,
            ./img/blog/second-page/tablet/bouquet-flowers-tablet@2x.jpg 2x
          "
          type="image/jpeg"
          media="(min-width:768px)"
        />

        <source
          srcset="
            ./img/blog/second-page/mobile/bouquet-flowers-mobile.webp    1x,
            ./img/blog/second-page/mobile/bouquet-flowers-mobile@2x.webp 2x
          "
          type="image/webp"
          media="(max-width:767px)"
        />
        <source
          srcset="
            ./img/blog/second-page/mobile/bouquet-flowers-mobile.jpg    1x,
            ./img/blog/second-page/mobile/bouquet-flowers-mobile@2x.jpg 2x
          "
          type="image/jpeg"
          media="(max-width:767px)"
        />
        <img
          src="./img/blog/second-page/mobile/bouquet-flowers-mobile.jpg"
          alt="букет квітів"
          class="bsp-buy-img"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
