<section class="bsp-main-section">
  <div class="container">
    <div class="blog-navigation">
      <a href="./index.html" class="main-menu-link">Головна</a>
      <span class="menu-separator">/</span>
      <a href="./blog-first-page.html" class="main-menu-link">Блог</a>
      <span class="menu-separator">/</span>
      <a href="#" class="blog-sp-link blog-menu-link"
        >Весільні букети нареченої</a
      >
    </div>

    <h1 class="bsp-title">Весільні букети нареченої</h1>
    <p class="bsp-title-date">28.11.21</p>
    <div class="bsp-about">
      <p class="bsp-about-text">
        А ви знали, що церемонія одруження проводилася зі Стародавніх часів? Ще
        в культурах античної Греції і Риму згадуються весільні традиції та
        порядки.
      </p>
      <p class="bsp-about-text">
        Наприклад, весільним поцілунком римляни здійснювали «обмін душами» між
        нареченим і нареченою. Цим же способом вони користувалися при укладенні
        угод, як би скріплюючи їх. На щастя, лише перший звичай зберігся в
        сучасній цивілізації.
      </p>
      <p class="bsp-about-text">Що ж тепер являє собою весільна церемонія?</p>
      <p class="bsp-about-text">
        Гучні та веселі свята, безліч рідних та близьких, столи зі смачними
        стравами та напоями і, звичайно, яскраві весільні кошики та букети з
        ніжними квітами.
      </p>
      <p class="bsp-about-text">
        Саме про останні і піде мова. Квіти є невід'ємним подарунком на
        весіллях, будь ви нареченим, свідком або гостем. Вони уособлюють собою
        сяючу красу і щиру любов.
      </p>
      <picture>
        <!-- <source
                srcset="
                  ./img/blog/first-page/desktop/flower-1-desktop.webp 1x,
                  ./img/blog/first-page/desktop/flower-1-desktop.webp 2x
                "
                type="image/webp"
                media="(min-width:1340px)"
              />
              <source
                srcset="
                  ./img/blog/first-page/desktop/flower-1-desktop.jpg 1x,
                  ./img/blog/first-page/desktop/flower-1-desktop.jpg 2x
                "
                type="image/jpeg"
                media="(min-width:1340px)"
              />

              <source
                srcset="
                  ./img/blog/first-page/tablet/flower-1-tablet.webp 1x,
                  ./img/blog/first-page/tablet/flower-1-tablet.webp 2x
                "
                type="image/webp"
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/blog/first-page/tablet/flower-1-tablet.jpg 1x,
                  ./img/blog/first-page/tablet/flower-1-tablet.jpg 2x
                "
                type="image/jpeg"
                media="(min-width:768px)"
              /> -->

        <source
          srcset="
            ./img/blog/second-page/mobile/flowers-on-the-table-mobile.webp    1x,
            ./img/blog/second-page/mobile/flowers-on-the-table-mobile@2x.webp 2x
          "
          type="image/webp"
          media="(max-width:767px)"
        />
        <source
          srcset="
            ./img/blog/second-page/mobile/flowers-on-the-table-mobile.jpg    1x,
            ./img/blog/second-page/mobile/flowers-on-the-table-mobile@2x.jpg 2x
          "
          type="image/jpeg"
          media="(max-width:767px)"
        />
        <img
          src="./img/blog/second-page/mobile/flowers-on-the-table-mobile.jpg"
          alt="фото букету на весільному столі"
          class="bsp-about-img"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
