      <section class="bsp-other">
        <div class="container">
            <p class="bsp-other-title">Вам може сподобатись</p>
            <ul class="card-list">
            <li class="card-item">
              <a class="card-link" href=""
                >
                <picture>
                  <source
                    srcset="
                      ./img/blog/first-page/desktop/tulips-desktop.webp 1x,
                      ./img/blog/first-page/desktop/tulips-desktop@2x.webp 2x
                    "
                    type="image/webp"
                    media="(min-width:1340px)"
                  />
                  <source
                    srcset="
                      ./img/blog/first-page/desktop/tulips-desktop.jpg 1x,
                      ./img/blog/first-page/desktop/tulips-desktop@2x.jpg 2x
                    "
                    type="image/jpeg"
                    media="(min-width:1340px)"
                  />

                  <source
                    srcset="
                      ./img/blog/first-page/tablet/tulips-tablet.webp 1x,
                      ./img/blog/first-page/tablet/tulips-tablet@2x.webp 2x
                    "
                    type="image/webp"
                    media="(min-width:768px)"
                  />
                  <source
                    srcset="
                      ./img/blog/first-page/tablet/tulips-tablet.jpg 1x,
                      ./img/blog/first-page/tablet/tulips-tablet@2x.jpg 2x
                    "
                    type="image/jpeg"
                    media="(min-width:768px)"
                  />

                  <source
                    srcset="./img/blog/first-page/mobile/tulips-mobile.webp 1x,
                    ./img/blog/first-page/mobile/tulips-mobile@2x.webp 2x      
                    "
                    type="image/webp"
                    media="(max-width:767px)"
                  />
                  <source
                    srcset="
                      ./img/blog/first-page/mobile/tulips-mobile.jpg 1x,
                      ./img/blog/first-page/mobile/tulips-mobile@2x.jpg 2x
                    "
                    type="image/jpeg"
                    media="(max-width:767px)"
                  />
                  <img
                    src="./img/blog/first-page/mobile/tulips-mobile.jpg"
                    alt="фото букета тюльпанів"
                    class="card-img"
                    loading="lazy"
                  />
                </picture>

                <div class="card-content-wrap">
                  <h2 class="card-title">
                    Чи можна заздалегіть дарувати квіти на День народження?
                  </h2>
                  <p class="card-text">
                    Іноді стається так, що ми не можемо бути присутніми на Дні
                    народження близької людини.
                  </p>
                  <div class="card-content-details">
                    <p class="card-add-info card-date">28.11.21</p>
                    <a class="card-add-info card-more" href="">Детальніше</a>
                  </div>
                </div></a
              >
               <li class="card-item">
              <a class="card-link" href=""
                >
                <picture>
                  <source
                    srcset="
                       ./img/blog/first-page/desktop/orchid-desktop.webp 1x,
                       ./img/blog/first-page/desktop/orchid-desktop@2x.webp 2x
                    "
                    type="image/webp"
                    media="(min-width:1340px)"
                  />
                  <source
                    srcset="
                       ./img/blog/first-page/desktop/orchid-desktop.jpg 1x,
                      ./img/blog/first-page/desktop/orchid-desktop@2x.jpg 2x
                    "
                    type="image/jpeg"
                    media="(min-width:1340px)"
                  />

                  <source
                    srcset="
                      ./img/blog/first-page/tablet/orchid-tablet.webp 1x,
                      ./img/blog/first-page/tablet/orchid-tablet@2x.webp 2x
                    "
                    type="image/webp"
                    media="(min-width:768px)"
                  />
                  <source
                    srcset="
                      ./img/blog/first-page/tablet/orchid-tablet.jpg 1x,
                      ./img/blog/first-page/tablet/orchid-tablet@2x.jpg 2x
                    "
                    type="image/jpeg"
                    media="(min-width:768px)"
                  />

                  <source
                    srcset="./img/blog/first-page/mobile/orchid-mobile.webp 1x,
                    ./img/blog/first-page/mobile/orchid-mobile@2x.webp 2x      
                    "
                    type="image/webp"
                    media="(max-width:767px)"
                  />
                  <source
                    srcset="
                      ./img/blog/first-page/mobile/orchid-mobile.jpg 1x,
                      ./img/blog/first-page/mobile/orchid-mobile@2x.jpg 2x
                    "
                    type="image/jpeg"
                    media="(max-width:767px)"
                  />
                  <img
                    src="./img/blog/first-page/mobile/orchid-mobile.jpg"
                    alt="фото орхідеї"
                    class="card-img"
                    loading="lazy"
                  />
                </picture>

                <div class="card-content-wrap">
                  <h2 class="card-title">
                    Чи можна заздалегіть дарувати квіти на День народження?
                  </h2>
                  <p class="card-text">
                    Іноді стається так, що ми не можемо бути присутніми на Дні
                    народження близької людини.
                  </p>
                  <div class="card-content-details">
                    <p class="card-add-info card-date">28.11.21</p>
                    <a class="card-add-info card-more" href="">Детальніше</a>
                  </div>
                </div></a
              >
               <li class="card-item">
              <a class="card-link" href=""
                >
                <picture>
                  <source
                    srcset="
                      ./img/blog/first-page/desktop/girl-desktop.webp 1x,
                      ./img/blog/first-page/desktop/girl-desktop@2x.webp 2x
                    "
                    type="image/webp"
                    media="(min-width:1340px)"
                  />
                  <source
                    srcset="
                      ./img/blog/first-page/desktop/girl-desktop.jpg 1x,
                      ./img/blog/first-page/desktop/girl-desktop@2x.jpg 2x
                    "
                    type="image/jpeg"
                    media="(min-width:1340px)"
                  />

                  <source
                    srcset="
                      ./img/blog/first-page/tablet/girl-tablet.webp 1x,
                      ./img/blog/first-page/tablet/girl-tablet@2x.webp 2x
                    "
                    type="image/webp"
                    media="(min-width:768px)"
                  />
                  <source
                    srcset="
                      ./img/blog/first-page/tablet/girl-tablet.jpg 1x,
                      ./img/blog/first-page/tablet/girl-tablet@2x.jpg 2x
                    "
                    type="image/jpeg"
                    media="(min-width:768px)"
                  />

                  <source
                    srcset="./img/blog/first-page/mobile/girl-mobile.webp 1x,
                    ./img/blog/first-page/mobile/girl-mobile@2x.webp 2x      
                    "
                    type="image/webp"
                    media="(max-width:767px)"
                  />
                  <source
                    srcset="
                      ./img/blog/first-page/mobile/girl-mobile.jpg 1x,
                      ./img/blog/first-page/mobile/girl-mobile@2x.jpg 2x
                    "
                    type="image/jpeg"
                    media="(max-width:767px)"
                  />
                  <img
                    src="./img/blog/first-page/mobile/girl-mobile.jpg"
                    alt="фото дівчини з букетом"
                    class="card-img"
                    loading="lazy"
                  />
                </picture>

                <div class="card-content-wrap">
                  <h2 class="card-title">
                    Чи можна заздалегіть дарувати квіти на День народження?
                  </h2>
                  <p class="card-text">
                    Іноді стається так, що ми не можемо бути присутніми на Дні
                    народження близької людини.
                  </p>
                  <div class="card-content-details">
                    <p class="card-add-info card-date">28.11.21</p>
                    <a class="card-add-info card-more" href="">Детальніше</a>
                  </div>
                </div></a
              >
               <li class="card-item">
              <a class="card-link" href=""
                >
                <picture>
                  <source
                    srcset="
                      ./img/blog/first-page/desktop/narcissus-desktop.webp 1x,
                      ./img/blog/first-page/desktop/narcissus-desktop@2x.webp 2x
                    "
                    type="image/webp"
                    media="(min-width:1340px)"
                  />
                  <source
                    srcset="
                  ./img/blog/first-page/desktop/narcissus-desktop.jpg 1x,
                      ./img/blog/first-page/desktop/narcissus-desktop@2x.jpg 2x
                    "
                    type="image/jpeg"
                    media="(min-width:1340px)"
                  />

                  <source
                    srcset="
                      ./img/blog/first-page/tablet/narcissus-tablet.webp 1x,
                      ./img/blog/first-page/tablet/narcissus-tablet@2x.webp 2x
                    "
                    type="image/webp"
                    media="(min-width:768px)"
                  />
                  <source
                    srcset="
                      ./img/blog/first-page/tablet/narcissus-tablet.jpg 1x,
                      ./img/blog/first-page/tablet/narcissus-tablet@2x.jpg 2x
                    "
                    type="image/jpeg"
                    media="(min-width:768px)"
                  />

                  <source
                    srcset="./img/blog/first-page/mobile/narcissus-mobile.webp 1x,
                    ./img/blog/first-page/mobile/narcissus-mobile@2x.webp 2x      
                    "
                    type="image/webp"
                    media="(max-width:767px)"
                  />
                  <source
                    srcset="
                      ./img/blog/first-page/mobile/narcissus-mobile.jpg 1x,
                      ./img/blog/first-page/mobile/narcissus-mobile@2x.jpg 2x
                    "
                    type="image/jpeg"
                    media="(max-width:767px)"
                  />
                  <img
                    src="./img/blog/first-page/mobile/narcissus-mobile.jpg"
                    alt="фото букета нарцисів"
                    class="card-img"
                    loading="lazy"
                  />
                </picture>

                <div class="card-content-wrap">
                  <h2 class="card-title">
                    Чи можна заздалегіть дарувати квіти на День народження?
                  </h2>
                  <p class="card-text">
                    Іноді стається так, що ми не можемо бути присутніми на Дні
                    народження близької людини.
                  </p>
                  <div class="card-content-details">
                    <p class="card-add-info card-date">28.11.21</p>
                    <a class="card-add-info card-more" href="">Детальніше</a>
                  </div>
                </div></a
              >
        </div>
      </section>