<section class="bsp-store">
  <div class="container">
    <h2 class="bsp-store-title">
      Купівля весільного букету нареченої в Харкові легко вирішується оформленням замовлення на цьому сайті
    </h2>
    <div class="bsp-store-wrap">
      <p class="bsp-store-text">
        До прикладу, вас запросили на весілля близькі друзі і насамперед потрібно вибрати подарунок. Або ж ви родич і
        хочете особливо і оригінально привітати молодих. Можливо, вашу кандидатуру зробили свідком.
      </p>
      <p class="bsp-store-text">
        У кожній ситуації, пов'язаній з купівлею унікального і цінного подарунка для молодят, наша компанія знайде
        незвичайний і стильний варіант весільного букета в Харкові.
      </p>
      <p class="bsp-store-text">
        Одна з головних переваг магазину gvozdika.by – величезний асортимент, який налічує близько 150 найменувань
        весільних квіткових композицій. Ми пропонуємо десятки видів рослин: троянди та лілії, тюльпани та хризантеми,
        орхідеї та фрезії, альстромерії та гіпсофіли, гвоздики та зелень, а також багато інших.
      </p>
      <p class="bsp-store-text">
        Розвиваючи і покращуючи сервіс, флористи додають у продаж нові квіти і намагаються залишити гарне враження від
        квіткової композиції. Всім клієнтам пропонують індивідуальне обслуговування, допомагаючи зробити свій
        неповторний вибір. Враховуються будь-які побажання та зауваження про весільні букети в Харкові.
      </p>
      <p class="bsp-store-text">
        Наш магазин з розумінням відноситься до фінансових можливостей кожної людини. Тому готові запропонувати недорогі
        рішення, економічність яких не вплине на парадний і урочистий вигляд букета. Більше того, ми щодня проводимо
        акції та розпродажі, які дозволять придбати першокласну композицію за доступною ціною.
      </p>
      <p class="bsp-store-text bsp-store-span">
        Клієнтам, які випробували наші послуги, надається знижка на друге замовлення.
      </p>
    </div>

    <picture>
      <source
        srcset="
          ./img/blog/second-page/desktop/three-brides-desktop.webp    1x,
          ./img/blog/second-page/desktop/three-brides-desktop@2x.webp 2x
        "
        type="image/webp"
        media="(min-width:1340px)"
      />
      <source
        srcset="
          ./img/blog/second-page/desktop/three-brides-desktop.jpg    1x,
          ./img/blog/second-page/desktop/three-brides-desktop@2x.jpg 2x
        "
        type="image/jpeg"
        media="(min-width:1340px)"
      />

      <source
        srcset="
          ./img/blog/second-page/tablet/three-brides-tablet.webp    1x,
          ./img/blog/second-page/tablet/three-brides-tablet@2x.webp 2x
        "
        type="image/webp"
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./img/blog/second-page/tablet/three-brides-tablet.jpg    1x,
          ./img/blog/second-page/tablet/three-brides-tablet@2x.jpg 2x
        "
        type="image/jpeg"
        media="(min-width:768px)"
      />

      <source
        srcset="
          ./img/blog/second-page/mobile/three-brides-mobile.webp    1x,
          ./img/blog/second-page/mobile/three-brides-mobile@2x.webp 2x
        "
        type="image/webp"
        media="(max-width:767px)"
      />
      <source
        srcset="
          ./img/blog/second-page/mobile/three-brides-mobile.jpg    1x,
          ./img/blog/second-page/mobile/three-brides-mobile@2x.jpg 2x
        "
        type="image/jpeg"
        media="(max-width:767px)"
      />
      <img
        src="./img/blog/second-page/mobile/three-brides-mobile.jpg"
        alt="три наречені з букетами"
        class="bsp-store-img"
        loading="lazy"
      />
    </picture>
  </div>
</section>
