<section class="pers-login">
    <div class="container">
        <h2 class="login-title">Вхід до особистого кабинету</h2>
        <form class="login-form">
            <label class="login-label">
                <input type="text" class="pers-form-input" placeholder="Введіть телефон або електронну пошту">
            </label>
            <label class="login-label">
                <input type="text" class="pers-form-input" placeholder="Введіть пароль">
            </label>
            <div class="login-flex-wrap">
                <a href="">Забули пароль?</a>
                <div class="login-check-wrap">
                    <input type="checkbox" id="remmbr-user" class="visually-hidden" name="remmbr-user" value="remmbr-user">
                    <label for="remmbr-user" class="login-check-label">Запам'ятати мене</label>
                </div>
            </div>
            <button type="button" class="login-btn button light">Реєстрація</button>
            <button type="submit" class="login-btn button dark">Вхід</button>
        </form>
    </div>
</section>