.bsp-about-us .container {
  background: var(--main-accent-color);
  border-radius: 4px;
  position: relative;
  padding-top: 50px;
  padding-bottom: 70px;

  @include tablet {
    padding: 50px 40px;
  }

  @include desktop {
    max-width: 1300px;
    padding-left: 247px;
    padding-right: 247px;
  }

  &:before {
    content: '';
    width: 91px;
    height: 54px;
    background: url(../img/blog/second-page/mobile/leaves-top.webp) no-repeat;
    position: absolute;
    top: 0;
    left: 0;

    @include desktop {
      width: 166px;
      height: 99px;
      background: url(../img/blog/second-page/desktop/leaves-top-desktop.webp);
    }
  }

  &:after {
    content: '';
    display: block;
    width: 90px;
    height: 98px;

    background: url(../img/blog/second-page/mobile/leaves-bottom.webp) no-repeat;
    position: absolute;
    bottom: 0;
    right: 0;

    @include desktop {
      width: 160px;
      height: 175px;
      background: url(../img/blog/second-page/desktop/leaves-bottom-desktop.webp);
    }
  }
}

.drops-top {
  width: 32px;
  height: 42px;
  background-image: url(../img/blog/second-page/mobile/drops-top.webp);
  position: absolute;
  top: 8px;
  left: 107px;
  z-index: 2;

  @include desktop {
    top: 70px;
    left: 105px;
  }
}

.drops-bottom {
  width: 29px;
  height: 38px;
  background-image: url(../img/blog/second-page/mobile/drops-bottom.webp);
  position: absolute;
  top: 160px;
  right: 8px;
  z-index: 2;

  @include tablet {
    top: 120px;
    right: 16px;
  }

  @include desktop {
    right: 118px;
  }
}

.drops-bottom-second {
  @include mobile {
    display: none;
  }

  @include tablet {
    display: block;
    width: 29px;
    height: 38px;
    background-image: url(../img/blog/second-page/mobile/drops-bottom.webp);
    position: absolute;
    bottom: 8px;
    right: 208px;
    z-index: 2;
  }

  @include desktop {
    bottom: 2;
    right: 300px;
  }
}

.bsp-bouquet-heading {
  @include text(null, 500, 20px, 26px);
  color: var(--dark-theme-title-color);
  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 25px;
  }

  @include desktop {
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 1.3;
  }
}

.bsp-bouquet-text {
  @include text(null, 400, 16px, 21px);
  color: var(--dark-theme-title-color);

  @include desktop {
    font-size: 20px;
    line-height: 1.3;
  }
}
