<div class="orders-mob-wrap">
    <!-- <p class="pers-content-title">
        Ваші замовлення
    </p> -->
    <div class="order-wrap">
        <div class="for-table-title pers-orders-text">Замовлення</div>
        <div class="t-inner with-flex pers-orders-text order-bold pers-orders-text">№54А8963
            <span class="pers-orders-text order-light"> 28.03.2021</span>
        </div>
        <div class="for-table-title pers-orders-text br">Товари</div>
        <div class="t-inner b4">
            <div class="pers-orders-prod">
                <img src="./img/personal-cabinet/orders/order-1.jpg" alt="">
                <img src="./img/personal-cabinet/orders/order-2.jpg" alt="">
                <img src="./img/personal-cabinet/orders/order-3.jpg" alt="">
                <img src="./img/personal-cabinet/orders/order-4.jpg" alt="">
                <span class="span-text">Ще + 5 товарів</span>
            </div>
        </div>
        <div class="for-table-title pers-orders-text">Сума</div>
        <div class="t-inner pers-orders-text order-bold">60625 UAH</div>
        
        <div class="for-table-title pers-orders-text">Статус</div>
        <div class="order-state pers-orders-text pay-expected">Очікування оплати</div>
    </div>
<!-- -------------------2--------------- -->
    <div class="order-wrap">
        <div class="for-table-title pers-orders-text">Замовлення</div>
        <div class="t-inner with-flex pers-orders-text order-bold pers-orders-text">№54А8963
            <span class="pers-orders-text order-light"> 28.03.2021</span>
        </div>
        <div class="for-table-title pers-orders-text br">Товари</div>
        <div class="t-inner b4">
            <div class="pers-orders-prod">
                <img src="./img/personal-cabinet/orders/order-3.jpg" alt="">
                <img src="./img/personal-cabinet/orders/order-4.jpg" alt="">
            </div>
        </div>
        <div class="for-table-title pers-orders-text">Сума</div>
        <div class="t-inner pers-orders-text order-bold">4000 UAH</div>
    
        <div class="for-table-title pers-orders-text">Статус</div>
        <div class="order-state pers-orders-text sent">Відправлено</div>
    </div>
<!-- -------------------3--------------- -->
    <div class="order-wrap">
        <div class="for-table-title pers-orders-text">Замовлення</div>
        <div class="t-inner with-flex pers-orders-text order-bold pers-orders-text">№54А8963
            <span class="pers-orders-text order-light"> 28.03.2021</span>
        </div>
        <div class="for-table-title pers-orders-text br">Товари</div>
        <div class="t-inner b4">
            <div class="pers-orders-prod">
                <img src="./img/personal-cabinet/orders/order-5.jpg" alt="">
            </div>
        </div>
        <div class="for-table-title pers-orders-text">Сума</div>
        <div class="t-inner pers-orders-text order-bold">312 UAH</div>
    
        <div class="for-table-title pers-orders-text">Статус</div>
        <div class="order-state pers-orders-text cancel">Відмінено</div>
    </div>
<!-- -------------------4--------------- -->
    <div class="order-wrap">
        <div class="for-table-title pers-orders-text">Замовлення</div>
        <div class="t-inner with-flex pers-orders-text order-bold pers-orders-text">№54А8963
            <span class="pers-orders-text order-light"> 28.03.2021</span>
        </div>
        <div class="for-table-title pers-orders-text br">Товари</div>
        <div class="t-inner b4">
            <div class="pers-orders-prod">
                <img src="./img/personal-cabinet/orders/order-6.jpg" alt="">
            </div>
        </div>
        <div class="for-table-title pers-orders-text">Сума</div>
        <div class="t-inner pers-orders-text order-bold">1187 UAH</div>
    
        <div class="for-table-title pers-orders-text">Статус</div>
        <div class="order-state pers-orders-text del">Доставлено</div>
    </div>
    

</div>