<div class="single-order-mob">
    <div class="order-param-row">
        <div class="pers-orders-text">Замовлення</div>
        <div class="pers-orders-text order-bold">№54А8963
            <span class="pers-orders-text order-light">28.03.2021</span>
        </div>
    </div>
    <div class="order-param-row">
        <div class="pers-orders-text">Товари</div>
        <div class="pers-orders-prod">
            <picture>
                <source srcset="./img/personal-cabinet/orders/order-1.jpg 1x,
                    ./img/personal-cabinet/orders/order-1-2x.jpg 2x">
                <img src="./img/personal-cabinet/orders/order-1.jpg" alt="order" loading="lazy">
            </picture>
            <picture>
                <source srcset="./img/personal-cabinet/orders/order-2.jpg 1x,
                    ./img/personal-cabinet/orders/order-2-2x.jpg 2x">
                <img src="./img/personal-cabinet/orders/order-2.jpg" alt="order" loading="lazy">
            </picture>
            <picture>
                <source srcset="./img/personal-cabinet/orders/order-3.jpg 1x,
                    ./img/personal-cabinet/orders/order-3-2x.jpg 2x">
                <img src="./img/personal-cabinet/orders/order-3.jpg" alt="order" loading="lazy">
            </picture>
            <picture>
                <source srcset="./img/personal-cabinet/orders/order-4.jpg 1x, 
                    ./img/personal-cabinet/orders/order-4-2x.jpg 2x">
                <img src="./img/personal-cabinet/orders/order-4.jpg" alt="order" loading="lazy">
            </picture>
            <span class="span-text">Ще + 5 товарів</span>
        </div>
    </div>
    <div class="order-param-row">
        <div class="pers-orders-text">Сума</div>
        <div class="pers-orders-text order-bold">60625 UAH</div>
    </div>
    <div class="order-param-row">
        <div class="pers-orders-text">Статус</div>
        <div class="pers-orders-text order-state pay-expected">Очікування оплати</div>
    </div>
</div>
<div class="single-order-mob">
    <div class="order-param-row">
        <div class="pers-orders-text">Замовлення</div>
        <div class="pers-orders-text order-bold">№54А8963
            <span class="pers-orders-text order-light">28.03.2021</span>
        </div>
    </div>
    <div class="order-param-row">
        <div class="pers-orders-text">Товари</div>
        <div class="pers-orders-prod">
            <picture>
                <source srcset="./img/personal-cabinet/orders/order-3.jpg 1x, 
                    ./img/personal-cabinet/orders/order-3-2x.jpg 2x">
                <img src="./img/personal-cabinet/orders/order-3.jpg" alt="order" loading="lazy">
            </picture>
            <picture>
                <source srcset="./img/personal-cabinet/orders/order-4.jpg 1x, 
                    ./img/personal-cabinet/orders/order-4-2x.jpg 2x">
                <img src="./img/personal-cabinet/orders/order-4.jpg" alt="order" loading="lazy">
            </picture>
        </div>
    </div>
    <div class="order-param-row">
        <div class="pers-orders-text">Сума</div>
        <div class="pers-orders-text order-bold">4000 UAH</div>
    </div>
    <div class="order-param-row">
        <div class="pers-orders-text">Статус</div>
        <div class="pers-orders-text order-state sent">Відправлено</div>
    </div>
</div>
<div class="single-order-mob">
    <div class="order-param-row">
        <div class="pers-orders-text">Замовлення</div>
        <div class="pers-orders-text order-bold">№54А8963
            <span class="pers-orders-text order-light">28.03.2021</span>
        </div>
    </div>
    <div class="order-param-row">
        <div class="pers-orders-text">Товари</div>
        <div class="pers-orders-prod">
            <picture>
                <source srcset="./img/personal-cabinet/orders/order-5.jpg 1x, 
                    ./img/personal-cabinet/orders/order-5-2x.jpg 2x">
                <img src="./img/personal-cabinet/orders/order-5.jpg" alt="order" loading="lazy">
            </picture>
        </div>
    </div>
    <div class="order-param-row">
        <div class="pers-orders-text">Сума</div>
        <div class="pers-orders-text order-bold">312 UAH</div>
    </div>
    <div class="order-param-row">
        <div class="pers-orders-text">Статус</div>
        <div class="pers-orders-text order-state cancel">Відмінено</div>
    </div>
</div>
<div class="single-order-mob">
    <div class="order-param-row">
        <div class="pers-orders-text">Замовлення</div>
        <div class="pers-orders-text order-bold">№54А8963
            <span class="pers-orders-text order-light">28.03.2021</span>
        </div>
    </div>
    <div class="order-param-row">
        <div class="pers-orders-text">Товари</div>
        <div class="pers-orders-prod">
            <picture>
                <source srcset="./img/personal-cabinet/orders/order-6.jpg 1x, 
                    ./img/personal-cabinet/orders/order-6-2x.jpg 2x">
                <img src="./img/personal-cabinet/orders/order-6.jpg" alt="order" loading="lazy">
            </picture>
        </div>
    </div>
    <div class="order-param-row">
        <div class="pers-orders-text">Сума</div>
        <div class="pers-orders-text order-bold">1187 UAH</div>
    </div>
    <div class="order-param-row">
        <div class="pers-orders-text">Статус</div>
        <div class="pers-orders-text order-state del">Доставлено</div>
    </div>
</div>