<div class="orders-wrapper-grid">
    <ul class="pers-orders-header">
        <li class="pers-orders-text">Товари</li>
        <li class="pers-orders-text">Замовлення</li>
        <li class="pers-orders-text">Сума</li>
        <li class="pers-orders-text">Статус</li>
    </ul>
    <ul>
        <li>
            <ul class="pers-single-order">
                <li class="pers-orders-text order-bold">№54А8963<span class="pers-orders-text order-light">
                        28.03.2021</span></li>
                <li class="pers-orders-prod">
                    <picture>
                        <source srcset="./img/personal-cabinet/orders/order-1.jpg 1x,
                            ./img/personal-cabinet/orders/order-1-2x.jpg 2x">
                        <img src="./img/personal-cabinet/orders/order-1.jpg" alt="order">
                    </picture>
                    <picture>
                        <source srcset="./img/personal-cabinet/orders/order-2.jpg 1x,
                            ./img/personal-cabinet/orders/order-2-2x.jpg 2x">
                        <img src="./img/personal-cabinet/orders/order-2.jpg" alt="order">
                    </picture>
                    <picture>
                        <source srcset="./img/personal-cabinet/orders/order-3.jpg 1x,
                            ./img/personal-cabinet/orders/order-3-2x.jpg 2x">
                        <img src="./img/personal-cabinet/orders/order-3.jpg" alt="order">
                    </picture>
                    <picture>
                        <source srcset="./img/personal-cabinet/orders/order-4.jpg 1x, 
                            ./img/personal-cabinet/orders/order-4-2x.jpg 2x">
                        <img src="./img/personal-cabinet/orders/order-4.jpg" alt="order">
                    </picture>
                    <div class="span-text">Ще + 5 товарів</div>
                </li>
                <li class="pers-orders-text order-bold">60625 UAH</li>
                <li>
                    <div class="order-state pers-orders-text pay-expected">Очікування оплати</div>
                </li>
            </ul>
            <ul class="pers-single-order">
                <li class="pers-orders-text order-bold">№54А8963<span class="pers-orders-text order-light">
                        28.03.2021</span></li>
                <li class="pers-orders-prod">
                    <picture>
                        <source srcset="./img/personal-cabinet/orders/order-3.jpg 1x, 
                            ./img/personal-cabinet/orders/order-3-2x.jpg 2x">
                        <img src="./img/personal-cabinet/orders/order-3.jpg" alt="order">
                    </picture>
                    <picture>
                        <source srcset="./img/personal-cabinet/orders/order-4.jpg 1x, 
                            ./img/personal-cabinet/orders/order-4-2x.jpg 2x">
                        <img src="./img/personal-cabinet/orders/order-4.jpg" alt="order">
                    </picture>
                </li>
                <li class="pers-orders-text order-bold">4000 UAH</li>
                <li>
                    <div class="order-state pers-orders-text sent">Відправлено</div>
                </li>
            </ul>
            <ul class="pers-single-order">
                <li class="pers-orders-text order-bold">№54А8963<span class="pers-orders-text order-light">
                        28.03.2021</span></li>
                <li class="pers-orders-prod">
                    <picture>
                        <source srcset="./img/personal-cabinet/orders/order-5.jpg 1x, 
                            ./img/personal-cabinet/orders/order-5-2x.jpg 2x">
                        <img src="./img/personal-cabinet/orders/order-5.jpg" alt="order">
                    </picture>
                </li>
                <li class="pers-orders-text order-bold">312 UAH</li>
                <li>
                    <div class="order-state pers-orders-text cancel">Відмінено</div>
                </li>
            </ul>
            <ul class="pers-single-order">
                <li class="pers-orders-text order-bold">№54А8963<span class="pers-orders-text order-light">
                        28.03.2021</span></li>
                <li class="pers-orders-prod">
                    <picture>
                        <source srcset="./img/personal-cabinet/orders/order-6.jpg 1x, 
                            ./img/personal-cabinet/orders/order-6-2x.jpg 2x">
                        <img src="./img/personal-cabinet/orders/order-6.jpg" alt="order">
                    </picture>
                </li>
                <li class="pers-orders-text order-bold">1187 UAH</li>
                <li>
                    <div class="order-state pers-orders-text del">Доставлено</div>
                </li>
            </ul>
        </li>
    </ul>
</div>