<section class="pers-login">
    <div class="container">
        <h2 class="login-title">Вхід до особистого кабинету</h2>
        <form class="login-form">
            <div class="login-row-wrap">
                <label class="login-label">
                    <input type="text" class="pers-form-input" placeholder="Введіть телефон або електронну пошту" required>
                </label>
                <label class="login-label">
                    <input type="password" class="pers-form-input" placeholder="Введіть пароль" required>
                </label>
            </div>
            <div class="login-flex-wrap">
                <a href="">Забули пароль?</a>
                <div class="login-check-wrap">
                    <input type="checkbox" id="remmbr-user" class="visually-hidden" name="remmbr-user" value="remmbr-user" checked>
                    <label for="remmbr-user" class="login-check-label">Запам'ятати мене</label>
                </div>
            </div>
            <button type="button" class="login-btn button light" data-reg-modal-open>Реєстрація</button>
            <button type="submit" class="login-btn button dark">Вхід</button>
        </form>
    </div>
</section>
<!--  js-hero-backdrop -->
<div class="backdrop js-reg-backdrop" data-hero-modal>
    <div class="container">
        <div class="reg-modal modal">
            <button type="button" class="modal-close-button" data-reg-modal-close>
                <svg class="modal-close-icon" width="40" height="40">
                    <use href="./img/symbol-defs.svg#cross-icon"></use>
                </svg>
            </button>
            <p class="modal-title">Реєстрація</p>

            <form class="reg-modal-form">
                <div class="reg-input-wrap">
                    <label><input type="text" class="pers-form-input" placeholder="Введіть ім’я користувача"></label>
                    <label><input type="password" class="pers-form-input" placeholder="Введіть пароль"></label>
                    <label><input type="password" class="pers-form-input" placeholder="Підтвердьте пароль"></label>
                    <label><input type="text" class="pers-form-input" placeholder="ПІБ"></label>
                    <label><input type="mail" class="pers-form-input" placeholder="Електронна пошта"></label>
                    <label><input type="text" class="pers-form-input" placeholder="Карта клієнта"></label>
                </div>
                
                <button type="submit" class="button dark">Зареєструватися</button>
            </form>
        </div>
    </div>