<section class="pers-login" data-login-section>
  <div class="container">
      <div class="login-form-wrap">
        <p class="pers-form-alert-text global-alert" data-pers-alert-text></p>
        <h1 class="login-title">Вхід до особистого кабинету</h1>
        <form class="login-form" data-login-form>
          <div class="login-row-wrap">
            <label class="login-label">
              <input 
                  type="text" 
                  name="email" 
                  class="pers-form-input"
                  placeholder="Введіть eлектронну пошту"
                  required
                  >
            </label>
            <label class="login-label close-eye-inside">
              <input 
                  type="password" 
                  name="password" 
                  class="pers-form-input" 
                  placeholder="Введіть пароль"
                  required
                  >
              <svg class="pwd-input-icon" width="32" height="32">
                  <use href="./img/symbol-defs.svg#eye-off-icon"></use>
              </svg>
            </label>
          </div>
            <div class="login-flex-wrap">
              <a href="">Забули пароль?</a>
              <div class="login-check-wrap">
                <input type="checkbox" id="remmbr-user" class="visually-hidden" name="remmbr-user" value="remmbr-user"
                    checked>
                <label for="remmbr-user" class="login-check-label">Запам'ятати мене</label>
              </div>
            </div>
            <div class="pers-form-btn-wrap">
              <button type="button" class="login-btn button light" data-reg-modal-open>Реєстрація</button>
              <button type="submit" class="login-btn button dark" data-login-btn>Вхід</button>
              <p class="pers-form-alert-text" data-login-alert-text></p>
            </div>
        </form>
      </div>
  </div>
</section>
<div class="backdrop" data-reg-modal>
  <div class="container">
      <div class="reg-modal modal">
        <button type="button" class="modal-close-button" data-reg-modal-close>
            <svg class="modal-close-icon" width="40" height="40">
                <use href="./img/symbol-defs.svg#cross-icon"></use>
            </svg>
        </button>
        <p class="modal-title">Реєстрація</p>
        <form class="reg-modal-form" data-reg-form>
            <div class="reg-input-wrap">
                <label>
                    <input 
                        type="text"
                        name="name"
                        class="pers-form-input" 
                        placeholder="Введіть ім’я користувача" 
                        required
                        >
                </label>
                <label class="close-eye-inside">
                    <input 
                        type="password" 
                        name="password"
                        class="pers-form-input close-eye" 
                        placeholder="Введіть пароль"
                        required
                        >
                        <svg class="pwd-input-icon" width="32" height="32">
                            <use href="./img/symbol-defs.svg#eye-off-icon"></use>
                        </svg>
                </label>
                <label class="close-eye-inside">
                    <input 
                        type="password"
                        name="confirmPassword" 
                        class="pers-form-input" 
                        placeholder="Підтвердьте пароль"
                        required
                        >
                        <svg class="pwd-input-icon" width="32" height="32">
                            <use href="./img/symbol-defs.svg#eye-off-icon"></use>
                        </svg>
                </label>
                <label>
                    <input 
                        type="email" 
                        name="email"
                        class="pers-form-input" 
                        placeholder="Електронна пошта" 
                        required
                        >
                </label>
            </div>
            <div class="pers-form-btn-wrap">
                <button type="submit" class="button dark" data-submit-reg-btn>Зареєструватися</button>
                <p class="pers-form-alert-text" data-reg-alert-text></p>
            </div>
          </form>
      </div>
  </div>
</div>
