<section class="pers-login" data-login-section>
    <div class="container">
        <h1 class="login-title">Вхід до особистого кабинету</h1>
        <form class="login-form" data-login-form>
            <div class="login-row-wrap">
                <label class="login-label">
                    <input 
                        type="text" 
                        name="user-tel-or-mail"
                        class="pers-form-input" 
                        placeholder="Введіть телефон або електронну пошту" 
                        required>
                </label>
                <label class="login-label close-eye-inside">
                    <input 
                        type="password" 
                        name="user-pwd"
                        class="pers-form-input" 
                        placeholder="Введіть пароль" 
                        required
                        minlength="6"
                        maxlength="10">
                    <svg class="pwd-input-icon" width="32" height="32">
                        <use href="./img/symbol-defs.svg#eye-off-icon"></use>
                    </svg>
                </label>
            </div>
            <div class="login-flex-wrap">
                <a href="">Забули пароль?</a>
                <div class="login-check-wrap">
                    <input type="checkbox" id="remmbr-user" class="visually-hidden" name="remmbr-user" value="remmbr-user" checked>
                    <label for="remmbr-user" class="login-check-label">Запам'ятати мене</label>
                </div>
            </div>
            <button type="button" class="login-btn button light" data-reg-modal-open>Реєстрація</button>
            <button type="submit" class="login-btn button dark">Вхід</button>
        </form>
    </div>
</section>

<div class="backdrop js-reg-backdrop">
    <div class="container">
        <div class="reg-modal modal">
            <button type="button" class="modal-close-button" data-reg-modal-close>
                <svg class="modal-close-icon" width="40" height="40">
                    <use href="./img/symbol-defs.svg#cross-icon"></use>
                </svg>
            </button>
            <p class="modal-title">Реєстрація</p>

            <form class="reg-modal-form" data-signup-form>
                <div class="reg-input-wrap">
                    <label>
                        <input 
                            type="text"
                            name="user-nickname"
                            class="pers-form-input" 
                            placeholder="Введіть ім’я користувача" 
                            required>
                    </label>
                    <label class="close-eye-inside">
                        <input 
                            type="password" 
                            name="user-pwd"
                            class="pers-form-input close-eye" 
                            placeholder="Введіть пароль" 
                            required
                            minlength="6"
                            maxlength="10">
                            <svg class="pwd-input-icon" width="32" height="32">
                                <use href="./img/symbol-defs.svg#eye-off-icon"></use>
                            </svg>
                    </label>
                    <label class="close-eye-inside">
                        <input 
                            type="password"
                            name="confirm-user-pwd" 
                            class="pers-form-input" 
                            placeholder="Підтвердьте пароль"
                            required
                            minlength="6"
                            maxlength="10">
                            <svg class="pwd-input-icon" width="32" height="32">
                                <use href="./img/symbol-defs.svg#eye-off-icon"></use>
                            </svg>
                    </label>
                    <label>
                        <input 
                            type="text"
                            name="user-name" 
                            class="pers-form-input" 
                            placeholder="ПІБ" 
                            required>
                    </label>
                    <label>
                        <input 
                            type="email" 
                            name="user-mail"
                            class="pers-form-input" 
                            placeholder="Електронна пошта" 
                            required>
                    </label>
                    <label>
                        <input 
                            type="text"
                            name="user-client-card" 
                            class="pers-form-input" 
                            placeholder="Карта клієнта">
                    </label>
                </div>
                
                <button type="submit" class="button dark">Зареєструватися</button>
            </form>
        </div>
    </div>
</div>
