<section class="contact">
    <div class="contact-bacground">
       <div class="container">
           <div class="contact-nav">
               <a href="./index.html" class="contact-nav-link">Головна</a>
               <span class="contact-separator">/</span>
               <a href="./contact.html" class="contact-nav-link contact-nav-link-second">Контакти</a>
           </div>
           <h1 class="contact__main-title">Контакти</h1>
          <div class="contact__main">
           <h2 class="contact__title">Магазин</h2>
           <div class="contact__part">
               <div class="contact__phone">
                   <p class="contact__phone-text">Телефон</p>
                   <ul class="contact__tel-list">
                       <li class="contact__tel-item"><a class="contact__tel-link" href="tel: +380661234567"> <svg class="contact__tel-svg" width = '16' height = "16">
                           <use href = "/src/img/symbol-defs.svg#icon-phone"></use>
                       </svg> +380661234567</a></li>
                       <li class="contact__tel-item"><a class="contact__tel-link" href="tel: +380631234567"> <svg class="contact__tel-svg" width = '16' height = "16">
                           <use href = "/src/img/symbol-defs.svg#icon-phone"></use>
                       </svg> +380631234567</a></li>
                       <li class="contact__tel-item"><a class="contact__tel-link" href="tel: +380671234567"> <svg class="contact__tel-svg" width = '16' height = "16">
                           <use href = "/src/img/symbol-defs.svg#icon-phone"></use>
                       </svg>+380671234567</a></li>
                   </ul>
               </div>
               
               <div class="contact__text">
                   <p class="contact__text-one">
                       Ви можете замовити будь-який букет за номерами телефонів
                       або через форму замовлення на сайті, а також придбати квіти 
                       в нашому роздрібному магазині за адресою:
                   </p>
                   <p class="contact__text-two">
                       м. Харків, вул. Сумська, буд.46, прим.3 
                       (у навігаторі можлива стара адреса вул.Жовтнева 19кор.5,
                        магазин знаходиться зі зворотного боку 9-и поверхового 
                        адміністративного будинку з графіті «дівчина з кішками» 
                        на огородженій території, в'їзд/вхід знаками «цегла»).
                   </p>
               </div>
               <div id="map2" class="contact__map">
               </div>
           </div>
       
         
           </div>
          <div class="contact__form contact__main">
           <h2 class="contact__title">Залишилися питання? Напишіть нам</h2>
           <form class="contact__form-main contact__part">
               <input type="text" class="contact__form-input" name="user-name" id="user-name" placeholder="Введіть своє ім`я">
               <input type="email" class="contact__form-input" name="mail" id="mail" placeholder="Введіть свою електронну пошту">
               <textarea class="contact__form-textarea" name="comment" id="comment" placeholder="Введіть повідомлення"></textarea>
               <div class="contact__checkbox">
                   <input type="checkbox" class="contact__checkbox-input" name="polyci" id="policy">
                   <label for="policy" class="contact__checkbox-label">
                       <p class="contact__checkbox-text">Я згоден(а) на обробку <span class="contact__checkbox-span">персональних даних</span></p>
                   </label>
               </div>
       
               <div class="contact__form-btn">
                   <button type="submit" class=" contact__btn-send dark">Отправить</button>
               </div>
           </form>
           </div>
           <div class="contact__registration contact__main">
               <h3 class="contact-title-two">Реквізити</h3>
               <div class="contact__registration-text contact__part">
                   <p class="contact__reg-text">ТОВ "Трансстиль-Групп"</p>
                   <p class="contact__reg-text">УНП: 123456789</p>
                   <p class="contact__reg-text">Юридична адреса: 61000, м. Харків, вул. Сумська,  буд.48, прим.3</p>
                   <p class="contact__reg-text">Р/р UA123456789009876543211234567 "ПРИВАТБАНК", 61000, м.Харків, вул.Сумська, 1А </p>
               </div>
           </div>
         </div>
    </div>
            
          
   </section>
   <script src="/src/js/footer-map.js"></script>
   <!-- <script
         src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyDcuko6Mc2EZEFtGxYG-Glk5YpSoqlLE&callback=initMap&v=weekly"
         defer
       ></script> -->
       <script
         src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrZSNOjM-QhLrETOdSTovLvUqLbKvRqFs&callback=initMap&v=weekly"
         defer
       ></script>