<section class="catalog">
  <div class="catalog__container container">
    <div class="blog-navigation">
      <a href="./index.html" class="main-menu-link">Головна</a>
      <span class="menu-separator">/</span>
      <a href="#" class="blog-menu-link">Каталог</a>
    </div>

    <h1 class="catalog__title">Каталог</h1>

    <div class="catalog__layout">
      <aside class="catalog__sidebar">
        <form data-spollers class="catalog__filter filter-catalog">
          <button type="button" class="filter-catalog__clear-all-btn">Скинути все</button>
          <div class="filter-catalog__group">
            <button type="button" data-spoller class="filter-catalog__title _spoller-active">Категорія</button>
            <div class="filter-catalog__body">
              <label class="filter-catalog__item">
                <input class="filter-catalog__checkbox visually-hidden" name="bouquets" type="checkbox" name="filter" />
                <span>Букети</span>
              </label>
              <label class="filter-catalog__item">
                <input class="filter-catalog__checkbox visually-hidden" type="checkbox" name="filter" />
                <span>Троянди</span>
              </label>
              <label class="filter-catalog__item">
                <input class="filter-catalog__checkbox visually-hidden" type="checkbox" name="filter" />
                <span>Монобукети</span>
              </label>
              <label class="filter-catalog__item">
                <input class="filter-catalog__checkbox visually-hidden" type="checkbox" name="filter" />
                <span>Зрізані квіти</span>
              </label>
              <label class="filter-catalog__item">
                <input class="filter-catalog__checkbox visually-hidden" type="checkbox" name="filter" />
                <span>Весільні букети</span>
              </label>
              <label class="filter-catalog__item">
                <input class="filter-catalog__checkbox visually-hidden" type="checkbox" name="filter" />
                <span>Вуличні рослини</span>
              </label>
              <label class="filter-catalog__item">
                <input class="filter-catalog__checkbox visually-hidden" type="checkbox" name="filter" />
                <span>Подарунки</span>
              </label>
              <label class="filter-catalog__item">
                <input class="filter-catalog__checkbox visually-hidden" type="checkbox" name="filter" />
                <span>Подарунки</span>
              </label>
              <label class="filter-catalog__item">
                <input class="filter-catalog__checkbox visually-hidden" type="checkbox" name="filter" />
                <span>Цукерки</span>
              </label>
              <label class="filter-catalog__item">
                <input class="filter-catalog__checkbox visually-hidden" type="checkbox" name="filter" />
                <span>Повітряні кульки</span>
              </label>
              <label class="filter-catalog__item">
                <input class="filter-catalog__checkbox visually-hidden" type="checkbox" name="filter" />
                <span>Кімнатні рослини</span>
              </label>
              <label class="filter-catalog__item">
                <input class="filter-catalog__checkbox visually-hidden" type="checkbox" name="filter" />
                <span>Композиції</span>
              </label>
            </div>
          </div>
          <div class="filter-catalog__group">
            <button type="button" data-spoller class="filter-catalog__title">Вид</button>
            <div class="filter-catalog__body">
              <label class="filter-catalog__item">
                <input class="filter-catalog__checkbox visually-hidden" type="checkbox" name="filter" />
                <span>Українські троянди</span>
              </label>
              <label class="filter-catalog__item">
                <input class="filter-catalog__checkbox visually-hidden" type="checkbox" name="filter" />
                <span>Троянди із Еквадору і Колумбії</span>
              </label>
              <label class="filter-catalog__item">
                <input class="filter-catalog__checkbox visually-hidden" type="checkbox" name="filter" />
                <span>Кенійські троядни</span>
              </label>
              <label class="filter-catalog__item">
                <input class="filter-catalog__checkbox visually-hidden" type="checkbox" name="filter" />
                <span>Кущові троядни</span>
              </label>
              <label class="filter-catalog__item">
                <input class="filter-catalog__checkbox visually-hidden" type="checkbox" name="filter" />
                <span>Піоновидні троянди</span>
              </label>
              <label class="filter-catalog__item">
                <input class="filter-catalog__checkbox visually-hidden" type="checkbox" name="filter" />
                <span>Кущові піоновидні троянди</span>
              </label>
              <label class="filter-catalog__item">
                <input class="filter-catalog__checkbox visually-hidden" type="checkbox" name="filter" />
                <span>Троянди Девіда Остіна</span>
              </label>
              <label class="filter-catalog__item">
                <input class="filter-catalog__checkbox visually-hidden" type="checkbox" name="filter" />
                <span>Пелюстки троянд</span>
              </label>
              <label class="filter-catalog__item">
                <input class="filter-catalog__checkbox visually-hidden" type="checkbox" name="filter" />
                <span>Крупні бутони</span>
              </label>
            </div>
          </div>
          <div class="filter-catalog__group">
            <button type="button" data-spoller class="filter-catalog__title">Колір</button>
            <div class="filter-catalog__body">
              <label class="filter-catalog__item">
                <input class="filter-catalog__checkbox visually-hidden" type="checkbox" name="filter" />
                <span>Червоний</span>
              </label>
              <label class="filter-catalog__item">
                <input class="filter-catalog__checkbox visually-hidden" type="checkbox" name="filter" />
                <span>Жовтий</span>
              </label>
              <label class="filter-catalog__item">
                <input class="filter-catalog__checkbox visually-hidden" type="checkbox" name="filter" />
                <span>Фіолетовий</span>
              </label>
            </div>
          </div>
          <div class="filter-catalog__group">
            <button type="button" data-spoller class="filter-catalog__title">Кількість</button>
            <div class="filter-catalog__body">
              <label class="filter-catalog__item">
                <input class="filter-catalog__checkbox visually-hidden" type="checkbox" name="filter" />
                <span>121 троянда</span>
              </label>
              <label class="filter-catalog__item">
                <input class="filter-catalog__checkbox visually-hidden" type="checkbox" name="filter" />
                <span>101 троянда</span>
              </label>
              <label class="filter-catalog__item">
                <input class="filter-catalog__checkbox visually-hidden" type="checkbox" name="filter" />
                <span>65 троянд</span>
              </label>
              <label class="filter-catalog__item">
                <input class="filter-catalog__checkbox visually-hidden" type="checkbox" name="filter" />
                <span>55 троянд</span>
              </label>
              <label class="filter-catalog__item">
                <input class="filter-catalog__checkbox visually-hidden" type="checkbox" name="filter" />
                <span>51 троянда</span>
              </label>
              <label class="filter-catalog__item">
                <input class="filter-catalog__checkbox visually-hidden" type="checkbox" name="filter" />
                <span>45 троянд</span>
              </label>
              <label class="filter-catalog__item">
                <input class="filter-catalog__checkbox visually-hidden" type="checkbox" name="filter" />
                <span>41 троянда</span>
              </label>
              <label class="filter-catalog__item">
                <input class="filter-catalog__checkbox visually-hidden" type="checkbox" name="filter" />
                <span>35 троянд</span>
              </label>
              <label class="filter-catalog__item">
                <input class="filter-catalog__checkbox visually-hidden" type="checkbox" name="filter" />
                <span>31 троянда</span>
              </label>
              <label class="filter-catalog__item">
                <input class="filter-catalog__checkbox visually-hidden" type="checkbox" name="filter" />
                <span>25 троянд</span>
              </label>
              <label class="filter-catalog__item">
                <input class="filter-catalog__checkbox visually-hidden" type="checkbox" name="filter" />
                <span>21 троянда</span>
              </label>
            </div>
          </div>
          <div class="filter-catalog__group">
            <button type="button" data-spoller class="filter-catalog__title">Розмір</button>
            <div class="filter-catalog__body">
              <label class="filter-catalog__item">
                <input class="filter-catalog__checkbox visually-hidden" type="checkbox" name="filter" />
                <span>170 см</span>
              </label>
              <label class="filter-catalog__item">
                <input class="filter-catalog__checkbox visually-hidden" type="checkbox" name="filter" />
                <span>150 см</span>
              </label>
              <label class="filter-catalog__item">
                <input class="filter-catalog__checkbox visually-hidden" type="checkbox" name="filter" />
                <span>90 см</span>
              </label>
              <label class="filter-catalog__item">
                <input class="filter-catalog__checkbox visually-hidden" type="checkbox" name="filter" />
                <span>70 см</span>
              </label>
              <label class="filter-catalog__item">
                <input class="filter-catalog__checkbox visually-hidden" type="checkbox" name="filter" />
                <span>50 см</span>
              </label>
            </div>
          </div>
          <div class="filter-catalog__group">
            <button type="button" data-spoller class="filter-catalog__title">Форма букету</button>
            <div class="filter-catalog__body">
              <label class="filter-catalog__item">
                <input class="filter-catalog__checkbox visually-hidden" type="checkbox" name="filter" />
                <span>Круглий</span>
              </label>
              <label class="filter-catalog__item">
                <input class="filter-catalog__checkbox visually-hidden" type="checkbox" name="filter" />
                <span>Сердечком... ;)</span>
              </label>
              <label class="filter-catalog__item">
                <input class="filter-catalog__checkbox visually-hidden" type="checkbox" name="filter" />
                <span>Квадратиком... ;)</span>
              </label>
            </div>
          </div>
          <div class="filter-catalog__group">
            <button type="button" data-spoller class="filter-catalog__title">Ціна</button>
            <div class="filter-catalog__body">
              <label class="filter-catalog__item">
                <input class="filter-catalog__checkbox visually-hidden" type="checkbox" name="filter" />
                <span>до 30</span>
              </label>
              <label class="filter-catalog__item">
                <input class="filter-catalog__checkbox visually-hidden" type="checkbox" name="filter" />
                <span>30 - 45</span>
              </label>
              <label class="filter-catalog__item">
                <input class="filter-catalog__checkbox visually-hidden" type="checkbox" name="filter" />
                <span>45 - 65</span>
              </label>
              <label class="filter-catalog__item">
                <input class="filter-catalog__checkbox visually-hidden" type="checkbox" name="filter" />
                <span>65 - 80</span>
              </label>
              <label class="filter-catalog__item">
                <input class="filter-catalog__checkbox visually-hidden" type="checkbox" name="filter" />
                <span>від 80</span>
              </label>
            </div>
          </div>
        </form>
      </aside>

      <div class="catalog__content">
        <div class="catalog__sort-title">
          Сорутвання:
          <button type="button" class="catalog__sort-btn catalog__sort-btn--rating">за популярністю</button>
          <button type="button" class="catalog__sort-btn catalog__sort-btn--price">по ціні</button>
        </div>
        <ul class="catalog__list catalog-list">
          <!-- <li class="catalog-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offers/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status hit">Xіт продажів</p>
                <button type="button" class="product__favorite">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">Букет «Щастя» - дуже красивий. Дівчатам подобається.</p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">Замовити</button>
                <button type="button" class="product__button-one-click">Придбати в 1 клік</button>
              </div>
            </a>
          </li>
          <li class="catalog-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offers/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status new">Новинка</p>
                <button type="button" class="product__favorite checked">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">Букет «Щастя» - дуже красивий. Дівчатам подобається.</p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">Замовити</button>
                <button type="button" class="product__button-one-click">Придбати в 1 клік</button>
              </div>
            </a>
          </li>
          <li class="catalog-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offers/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status absent">Немає в наявності</p>
                <button type="button" class="product__favorite checked">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">Букет «Щастя» - дуже красивий. Дівчатам подобається.</p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">Замовити</button>
                <button type="button" class="product__button-one-click">Придбати в 1 клік</button>
              </div>
            </a>
          </li>
          <li class="catalog-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offers/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status hit">Xіт продажів</p>
                <button type="button" class="product__favorite">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">Букет «Щастя» - дуже красивий. Дівчатам подобається.</p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">Замовити</button>
                <button type="button" class="product__button-one-click">Придбати в 1 клік</button>
              </div>
            </a>
          </li>
          <li class="catalog-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offers/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status hit">Xіт продажів</p>
                <button type="button" class="product__favorite">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">Букет «Щастя» - дуже красивий. Дівчатам подобається.</p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">Замовити</button>
                <button type="button" class="product__button-one-click">Придбати в 1 клік</button>
              </div>
            </a>
          </li>
          <li class="catalog-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offers/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status new">Новинка</p>
                <button type="button" class="product__favorite checked">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">Букет «Щастя» - дуже красивий. Дівчатам подобається.</p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">Замовити</button>
                <button type="button" class="product__button-one-click">Придбати в 1 клік</button>
              </div>
            </a>
          </li>
          <li class="catalog-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offers/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status absent">Немає в наявності</p>
                <button type="button" class="product__favorite checked">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">Букет «Щастя» - дуже красивий. Дівчатам подобається.</p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">Замовити</button>
                <button type="button" class="product__button-one-click">Придбати в 1 клік</button>
              </div>
            </a>
          </li>
          <li class="catalog-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offers/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status hit">Xіт продажів</p>
                <button type="button" class="product__favorite">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">Букет «Щастя» - дуже красивий. Дівчатам подобається.</p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">Замовити</button>
                <button type="button" class="product__button-one-click">Придбати в 1 клік</button>
              </div>
            </a>
          </li>
          <li class="catalog-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offers/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status new">Новинка</p>
                <button type="button" class="product__favorite checked">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">Букет «Щастя» - дуже красивий. Дівчатам подобається.</p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">Замовити</button>
                <button type="button" class="product__button-one-click">Придбати в 1 клік</button>
              </div>
            </a>
          </li>
          <li class="catalog-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offers/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status absent">Немає в наявності</p>
                <button type="button" class="product__favorite checked">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">Букет «Щастя» - дуже красивий. Дівчатам подобається.</p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">Замовити</button>
                <button type="button" class="product__button-one-click">Придбати в 1 клік</button>
              </div>
            </a>
          </li>
          <li class="catalog-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offers/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status new">Новинка</p>
                <button type="button" class="product__favorite checked">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">Букет «Щастя» - дуже красивий. Дівчатам подобається.</p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">Замовити</button>
                <button type="button" class="product__button-one-click">Придбати в 1 клік</button>
              </div>
            </a>
          </li>
          <li class="catalog-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offers/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status absent">Немає в наявності</p>
                <button type="button" class="product__favorite checked">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">Букет «Щастя» - дуже красивий. Дівчатам подобається.</p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">Замовити</button>
                <button type="button" class="product__button-one-click">Придбати в 1 клік</button>
              </div>
            </a>
          </li> -->
        </ul>
        <button type="button" class="catalog__btn button light">Дивитись ще</button>
      </div>
    </div>
  </div>
</section>
