<section class="catalog">
  <div class="catalog__container container">
    <div class="blog-navigation">
      <a href="./index.html" class="main-menu-link">Головна</a>
      <span class="menu-separator">/</span>
      <a href="#" class="blog-menu-link">Каталог</a>
    </div>

    <h1 class="catalog__title">Каталог</h1>

    <div class="catalog__layout">
      <aside class="catalog__sidebar">
        <div data-spollers class="catalog__filter filter">
          <button type="button" class="filter__clear-all">Скинути все</button>
          <div class="filter__group">
            <button type="button" data-spoller class="filter__title">Категорія</button>
            <div class="filter__body">
              <label class="filter__item">
                <input class="filter__checkbox" type="checkbox" name="filter" />
                Букети
              </label>
              <label class="filter__item">
                <input class="filter__checkbox" type="checkbox" name="filter" />
                Троянди
              </label>
              <label class="filter__item">
                <input class="filter__checkbox" type="checkbox" name="filter" />
                Монобукети
              </label>
              <label class="filter__item">
                <input class="filter__checkbox" type="checkbox" name="filter" />
                Зрізані квіти
              </label>
              <label class="filter__item">
                <input class="filter__checkbox" type="checkbox" name="filter" />
                Весільні букети
              </label>
              <label class="filter__item">
                <input class="filter__checkbox" type="checkbox" name="filter" />
                Вуличні рослини
              </label>
              <label class="filter__item">
                <input class="filter__checkbox" type="checkbox" name="filter" />
                Подарунки
              </label>
              <label class="filter__item">
                <input class="filter__checkbox" type="checkbox" name="filter" />
                Подарунки
              </label>
              <label class="filter__item">
                <input class="filter__checkbox" type="checkbox" name="filter" />
                Цукерки
              </label>
              <label class="filter__item">
                <input class="filter__checkbox" type="checkbox" name="filter" />
                Повітряні кульки
              </label>
              <label class="filter__item">
                <input class="filter__checkbox" type="checkbox" name="filter" />
                Кімнатні рослини
              </label>
              <label class="filter__item">
                <input class="filter__checkbox" type="checkbox" name="filter" />
                Композиції
              </label>
            </div>
          </div>
          <div class="filter__group">
            <button type="button" data-spoller class="filter__title">Вид</button>
            <div class="filter__body">
              <label class="filter__item">
                <input class="filter__checkbox" type="checkbox" name="filter" />
                Українські троянди
              </label>
              <label class="filter__item">
                <input class="filter__checkbox" type="checkbox" name="filter" />
                Троянди із Еквадору і Колумбії
              </label>
              <label class="filter__item">
                <input class="filter__checkbox" type="checkbox" name="filter" />
                Кенійські троядни
              </label>
              <label class="filter__item">
                <input class="filter__checkbox" type="checkbox" name="filter" />
                Кущові троядни
              </label>
              <label class="filter__item">
                <input class="filter__checkbox" type="checkbox" name="filter" />
                Піоновидні троянди
              </label>
              <label class="filter__item">
                <input class="filter__checkbox" type="checkbox" name="filter" />
                Кущові піоновидні троянди
              </label>
              <label class="filter__item">
                <input class="filter__checkbox" type="checkbox" name="filter" />
                Троянди Девіда Остіна
              </label>
              <label class="filter__item">
                <input class="filter__checkbox" type="checkbox" name="filter" />
                Пелюстки троянд
              </label>
              <label class="filter__item">
                <input class="filter__checkbox" type="checkbox" name="filter" />
                Крупні бутони
              </label>
            </div>
          </div>
          <div class="filter__group">
            <button type="button" data-spoller class="filter__title">Колір</button>
            <div class="filter__body">
              <label class="filter__item">
                <input class="filter__checkbox" type="checkbox" name="filter" />
                Червоний
              </label>
              <label class="filter__item">
                <input class="filter__checkbox" type="checkbox" name="filter" />
                Жовтий
              </label>
              <label class="filter__item">
                <input class="filter__checkbox" type="checkbox" name="filter" />
                Фіолетовий
              </label>
            </div>
          </div>
          <div class="filter__group">
            <button type="button" data-spoller class="filter__title">Кількість</button>
            <div class="filter__body">
              <label class="filter__item">
                <input class="filter__checkbox" type="checkbox" name="filter" />
                121 троянда
              </label>
              <label class="filter__item">
                <input class="filter__checkbox" type="checkbox" name="filter" />
                101 троянда
              </label>
              <label class="filter__item">
                <input class="filter__checkbox" type="checkbox" name="filter" />
                65 троянд
              </label>
              <label class="filter__item">
                <input class="filter__checkbox" type="checkbox" name="filter" />
                55 троянд
              </label>
              <label class="filter__item">
                <input class="filter__checkbox" type="checkbox" name="filter" />
                51 троянда
              </label>
              <label class="filter__item">
                <input class="filter__checkbox" type="checkbox" name="filter" />
                45 троянд
              </label>
              <label class="filter__item">
                <input class="filter__checkbox" type="checkbox" name="filter" />
                41 троянда
              </label>
              <label class="filter__item">
                <input class="filter__checkbox" type="checkbox" name="filter" />
                35 троянд
              </label>
              <label class="filter__item">
                <input class="filter__checkbox" type="checkbox" name="filter" />
                31 троянда
              </label>
              <label class="filter__item">
                <input class="filter__checkbox" type="checkbox" name="filter" />
                25 троянд
              </label>
              <label class="filter__item">
                <input class="filter__checkbox" type="checkbox" name="filter" />
                21 троянда
              </label>
            </div>
          </div>
          <div class="filter__group">
            <button type="button" data-spoller class="filter__title">Розмір</button>
            <div class="filter__body">
              <label class="filter__item">
                <input class="filter__checkbox" type="checkbox" name="filter" />
                170 см
              </label>
              <label class="filter__item">
                <input class="filter__checkbox" type="checkbox" name="filter" />
                150 см
              </label>
              <label class="filter__item">
                <input class="filter__checkbox" type="checkbox" name="filter" />
                90 см
              </label>
              <label class="filter__item">
                <input class="filter__checkbox" type="checkbox" name="filter" />
                70 см
              </label>
              <label class="filter__item">
                <input class="filter__checkbox" type="checkbox" name="filter" />
                50 см
              </label>
            </div>
          </div>
          <div class="filter__group">
            <button type="button" data-spoller class="filter__title">Форма букету</button>
            <div class="filter__body">
              <label class="filter__item">
                <input class="filter__checkbox" type="checkbox" name="filter" />
                Круглий
              </label>
              <label class="filter__item">
                <input class="filter__checkbox" type="checkbox" name="filter" />
                Сердечком... ;)
              </label>
              <label class="filter__item">
                <input class="filter__checkbox" type="checkbox" name="filter" />
                Квадратиком... ;)
              </label>
            </div>
          </div>
          <div class="filter__group">
            <button type="button" data-spoller class="filter__title">Ціна</button>
            <div class="filter__body">
              <label class="filter__item">
                <input class="filter__checkbox" type="checkbox" name="filter" />
                до 30
              </label>
              <label class="filter__item">
                <input class="filter__checkbox" type="checkbox" name="filter" />
                30 - 45
              </label>
              <label class="filter__item">
                <input class="filter__checkbox" type="checkbox" name="filter" />
                45 - 65
              </label>
              <label class="filter__item">
                <input class="filter__checkbox" type="checkbox" name="filter" />
                65 - 80
              </label>
              <label class="filter__item">
                <input class="filter__checkbox" type="checkbox" name="filter" />
                від 80
              </label>
            </div>
          </div>
        </div>
      </aside>

      <div class="catalog__content">
        <div class="catalog__sort-title">
          Сорутвання:
          <button type="button" class="catalog__sort-btn catalog__sort-btn--rating">за популярністю</button>
          <button type="button" class="catalog__sort-btn catalog__sort-btn--price">по ціні</button>
        </div>
        <ul class="catalog__list catalog-list">
          <li class="catalog-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offers/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status hit">Xіт продажів</p>
                <button type="button" class="product__favorite">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">Букет «Щастя» - дуже красивий. Дівчатам подобається.</p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">Замовити</button>
                <button type="button" class="product__button-one-click">Придбати в 1 клік</button>
              </div>
            </a>
          </li>
          <li class="catalog-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offers/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status new">Новинка</p>
                <button type="button" class="product__favorite checked">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">Букет «Щастя» - дуже красивий. Дівчатам подобається.</p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">Замовити</button>
                <button type="button" class="product__button-one-click">Придбати в 1 клік</button>
              </div>
            </a>
          </li>
          <li class="catalog-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offers/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status absent">Немає в наявності</p>
                <button type="button" class="product__favorite checked">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">Букет «Щастя» - дуже красивий. Дівчатам подобається.</p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">Замовити</button>
                <button type="button" class="product__button-one-click">Придбати в 1 клік</button>
              </div>
            </a>
          </li>
          <li class="catalog-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offers/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status hit">Xіт продажів</p>
                <button type="button" class="product__favorite">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">Букет «Щастя» - дуже красивий. Дівчатам подобається.</p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">Замовити</button>
                <button type="button" class="product__button-one-click">Придбати в 1 клік</button>
              </div>
            </a>
          </li>
          <li class="offer-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offers/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status hit">Xіт продажів</p>
                <button type="button" class="product__favorite">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">Букет «Щастя» - дуже красивий. Дівчатам подобається.</p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">Замовити</button>
                <button type="button" class="product__button-one-click">Придбати в 1 клік</button>
              </div>
            </a>
          </li>
          <li class="offer-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offers/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status new">Новинка</p>
                <button type="button" class="product__favorite checked">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">Букет «Щастя» - дуже красивий. Дівчатам подобається.</p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">Замовити</button>
                <button type="button" class="product__button-one-click">Придбати в 1 клік</button>
              </div>
            </a>
          </li>
          <li class="offer-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offers/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status absent">Немає в наявності</p>
                <button type="button" class="product__favorite checked">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">Букет «Щастя» - дуже красивий. Дівчатам подобається.</p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">Замовити</button>
                <button type="button" class="product__button-one-click">Придбати в 1 клік</button>
              </div>
            </a>
          </li>
          <li class="offer-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offers/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status hit">Xіт продажів</p>
                <button type="button" class="product__favorite">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">Букет «Щастя» - дуже красивий. Дівчатам подобається.</p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">Замовити</button>
                <button type="button" class="product__button-one-click">Придбати в 1 клік</button>
              </div>
            </a>
          </li>
          <li class="offer-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offers/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status new">Новинка</p>
                <button type="button" class="product__favorite checked">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">Букет «Щастя» - дуже красивий. Дівчатам подобається.</p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">Замовити</button>
                <button type="button" class="product__button-one-click">Придбати в 1 клік</button>
              </div>
            </a>
          </li>
          <li class="offer-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offers/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status absent">Немає в наявності</p>
                <button type="button" class="product__favorite checked">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">Букет «Щастя» - дуже красивий. Дівчатам подобається.</p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">Замовити</button>
                <button type="button" class="product__button-one-click">Придбати в 1 клік</button>
              </div>
            </a>
          </li>
          <li class="offer-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offers/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status new">Новинка</p>
                <button type="button" class="product__favorite checked">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">Букет «Щастя» - дуже красивий. Дівчатам подобається.</p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">Замовити</button>
                <button type="button" class="product__button-one-click">Придбати в 1 клік</button>
              </div>
            </a>
          </li>
          <li class="offer-list__item product">
            <a href="" class="product__link">
              <img
                loading="lazy"
                src="./img/offers/VAL_8182_1200_1.jpg"
                alt="Букет квітів"
                class="product__image"
                width="290"
                height="250"
              />
              <div class="product__overlay">
                <p class="product__status absent">Немає в наявності</p>
                <button type="button" class="product__favorite checked">
                  <svg width="28" height="25">
                    <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__content">
                <p class="product__text">Букет «Щастя» - дуже красивий. Дівчатам подобається.</p>
                <p class="product__price">125 у.о.</p>
                <button type="button" class="product__button button dark">Замовити</button>
                <button type="button" class="product__button-one-click">Придбати в 1 клік</button>
              </div>
            </a>
          </li>
        </ul>
        <button type="button" class="catalog__btn button light">Дивитист ще</button>
      </div>
    </div>
  </div>
</section>
