<section class="help-page">
    <div class="container">
        <ul class="help-nav">
            <li class="help-nav-item">
                <a href="./index.html">Головна /</a>
            </li>
            <li class="help-nav-item">Допомога</li>
        </ul>
        <h1 class="help-top-title">Допомога</h1>
        <ul class="help-list">
            <li class="help-item">
                <details>
                    <summary>Як доглядати за букетом?</summary>
                    <p class="help-text">При доставці букета ми надаємо нашим клієнтам додаткову пам'ятку по догляду за квітами.</p>
                </details>
                <div class="summary-list-style"></div>
            </li>
            <li class="help-item">
                <details>
                    <summary>В який час можна зробити замовлення?</summary>
                    <p class="help-text">Ми працюємо цілодобово. Замовлення можна зробити на сайті <a href="./index.html">gvozdika.by</a> або за цілодобовим безкоштовним номером сервісної
                    служби <a href="tel:+380661234567">+380661234567</a>.</p> 
                </details>
                <div class="summary-list-style"></div>
            </li>
            <li class="help-item">
                <details>
                    <summary>Чи можете ви зібрати індивідуальний букет за моїм замовленням?</summary>
                    <p class="help-text">Наші флористи із задоволенням зберуть букет за вашим бажанням. Для замовлення індивідуального букета зв'яжіться із нашим менеджером. Перейти на сторінку <a href="./contact.html">Контакти</a>.</p>
                </details>
                <div class="summary-list-style"></div>
            </li>
            <li class="help-item">
                <details>
                    <summary>Як можна оплатити замовлення?</summary>
                    <p class="help-text">Ви можете оплатити замовлення онлайн карткою або при доставці кур'єром. За більш детальною інформвцією перейдіть на сторінку <a href="./payment.html">Оплата</a>.</p>
                </details>
                <div class="summary-list-style"></div>
            </li>
            <li class="help-item">
                <details>
                    <summary>Чи дзвоните ви одержувачу перед доставкою? Що буде, якщо одержувача не виявиться за адресою доставки?</summary>
                    <p class="help-text">Всі деталі доставки обговорюються із замовником. Наш кур'єр зв'яжеться з вами, 
                        якщо одержувача не виявиться за вказаною адресою; кур'єр за погодженням 
                        із замовником може залишити букет консьєржці або сусідам. Повторна доставка обійдеться у 30 гривень.</p>
                </details>
                <div class="summary-list-style"></div>
            </li>
            <li class="help-item">
                <details>
                    <summary>Які гарантії доставки мого замовлення?</summary>
                    <p class="help-text">Понад 10 років ми доставляємо букети вашим близьким у будь-які куточки нашої країни і світу, 
                        де б вони не знаходилися.</p>
                </details>
                <div class="summary-list-style"></div>
            </li>
            <li class="help-item">
                <details>
                    <summary>Як увійти до особистого кабінету?</summary>
                    <p class="help-text">Вхід до <a href="./personal-cabinet.html">Особистого кабінету</a> можливий лише для зареєстрованих користувачів.</p>
                </details>
                <div class="summary-list-style"></div>
            </li>
            <li class="help-item">
                <details>
                    <summary>Як розпочати співпрацю?</summary>
                    <p class="help-text">Детальну інформацію про умови співпраці Ви можете дізнатися у нашого менеджера, або на сторінці <a href="./organization.html">Організаціям</a>.</p>
                </details>
                <div class="summary-list-style"></div>
            </li>
            <li class="help-item">
                <details>
                    <summary>Які терміни доставки квітів?</summary>
                    <p class="help-text">Доставка по території України здійснюється протягом робочого дня, максимум доби — в залежності від моменту отримання нами
                    замовлення.
                    За більш детальною інформацією перейдіть на сторінку <a href="./delivery.html">Доставка</a>.</p>
                </details>
                <div class="summary-list-style"></div>
            </li>
        </ul>
    </div>
</section>