<li class="card-item card-item__second">
  <a class="card-link" href="../src/blog-second-page.html">
    <picture>
      <source
        srcset="
          ./img/blog/first-page/desktop/flower-2-desktop.webp 1x,
          ./img/blog/first-page/desktop/flower-2-desktop.webp 2x
        "
        type="image/webp"
        media="(min-width:1340px)"
      />
      <source
        srcset="
          ./img/blog/first-page/desktop/flower-2-desktop.jpg 1x,
          ./img/blog/first-page/desktop/flower-2-desktop.jpg 2x
        "
        type="image/jpeg"
        media="(min-width:1340px)"
      />
      <source
        srcset="
          ./img/blog/first-page/tablet/flower-2-tablet.webp 1x,
          ./img/blog/first-page/tablet/flower-2-tablet.webp 2x
        "
        type="image/webp"
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./img/blog/first-page/tablet/flower-2-tablet.jpg 1x,
          ./img/blog/first-page/tablet/flower-2-tablet.jpg 2x
        "
        type="image/jpeg"
        media="(min-width:768px)"
      />

      <source
        srcset="
          ./img/blog/first-page/mobile/flower-2-mobile.webp 1x,
          ./img/blog/first-page/mobile/flower-2-mobile.webp 2x
        "
        type="image/webp"
        media="(max-width:767px)"
      />
      <source
        srcset="
          ./img/blog/first-page/mobile/flower-2-mobile.jpg 1x,
          ./img/blog/first-page/mobile/flower-2-mobile.jpg 2x
        "
        type="image/jpeg"
        media="(max-width:767px)"
      />
      <img src="./img/blog/first-page/mobile/flower-2-mobile.jpg" alt="фото букета" class="card-img" loading="lazy" />
    </picture>
    <div class="card-content-wrap">
      <h2 class="card-title">Весільні букети нареченої</h2>
      <p class="card-text card-text__second-card">
        Букет нареченої — справжній символ весілля, без якого неможливо обійтися!
      </p>
      <div class="card-content-details">
        <p class="card-add-info card-date">28.11.21</p>
        <a class="card-add-info card-more" href="">Детальніше</a>
      </div>
    </div></a
  >
</li>
