<section class="favorites offer">
  <div class="offer__container container">
    <a href="./index.html">На головну</a>
    <div class="offer__title-wrapper offer__title-wrapper--fav">
      <h2 class="offer__title">В избранном пока ничего нет</h2>
      <p class="offer__comment">
        Перейдите на главную страницу или воспользуйтесь поиском чтобы найти
        то, что вам необходимо
      </p>
    </div>

    <ul class="offer__list offer__list--fav offer-list">
      <li class="offer-list__item product">
        <a href="" class="product__link">
          <img
            loading="lazy"
            src="./img/offers/VAL_8182_1200_1.jpg"
            alt="Букет квітів"
            class="product__image"
            width="290"
            height="250"
          />
          <div class="product__overlay">
            <p class="product__status hit">Xіт продажів</p>
            <button type="button" class="product__favorite">
              <svg width="28" height="25">
                <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
              </svg>
            </button>
          </div>
          <div class="product__content">
            <p class="product__text">
              Букет «Щастя» - дуже красивий. Дівчатам подобається.
            </p>
            <p class="product__price">125 у.о.</p>
            <button type="button" class="product__button button dark">
              Замовити
            </button>
            <button type="button" class="product__button-one-click">
              Придбати в 1 клік
            </button>
          </div>
        </a>
      </li>
      <li class="offer-list__item product">
        <a href="" class="product__link">
          <img
            loading="lazy"
            src="./img/offers/VAL_8182_1200_1.jpg"
            alt="Букет квітів"
            class="product__image"
            width="290"
            height="250"
          />
          <div class="product__overlay">
            <p class="product__status new">Новинка</p>
            <button type="button" class="product__favorite checked">
              <svg width="28" height="25">
                <use href="./img/symbol-defs.svg#icon-empty-heart"></use>
              </svg>
            </button>
          </div>
          <div class="product__content">
            <p class="product__text">
              Букет «Щастя» - дуже красивий. Дівчатам подобається.
            </p>
            <p class="product__price">125 у.о.</p>
            <button type="button" class="product__button button dark">
              Замовити
            </button>
            <button type="button" class="product__button-one-click">
              Придбати в 1 клік
            </button>
          </div>
        </a>
      </li>
    </ul>

    <a href="" class="favorites__button favorites__button--centered button dark"
      >Перейти в каталог/ Перейти на главную</a
    >
  </div>
</section>
