// ----------------------------кнопочки)
.card-buttons {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  @include tablet {
    margin: 0;
  }
  @include desktop {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  .button.dark {
    background-color: var(--main-accent-color);
    margin-bottom: 5px;
    transition: all var(--main-transition);
    @include tablet {
      margin-bottom: 10px;
    }
    @include desktop {
      margin-right: 25px;
    }
    &:hover,
    &:focus {
      background-color: #043b33;
    }
  }
}
.heart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  transition: all var(--main-transition);
  &:hover,
  &:focus {
    .heart-icon {
      stroke: rgb(204, 115, 115);
      fill: rgb(204, 115, 115);
    }
  }
}
.heart-btn.desktop {
  display: none;
}
.heart-icon {
  width: 20px;
  height: 18px;
  stroke: #03453b;
  fill: #ffffff;
  .heart-btn:active & {
    stroke: rgb(204, 115, 115);
    fill: rgb(204, 115, 115);
  }
}
.heart-btn-active {
  stroke: rgb(204, 115, 115);
  fill: rgb(204, 115, 115);
}
