@import './reset';
// ---------------------------основні дані
@import './title-stats';
@import './choice-sec';
@import './buttons';
@import './social';
@import './result';
.delivery-info {
  @include fontSecond(400, 14px, 17px);
  color: var(--light-theme-text-color);
  margin-bottom: 10px;
  span {
    font-weight: 600;
    text-transform: uppercase;
  }
  &.tablet {
    display: none;
  }
  @include tablet {
    &.tablet {
      display: block;
      margin-bottom: 20px;
    }
    &.mobile {
      display: none;
    }
  }
}
.descr-title {
  @include fontSecond(500, 20px, 20px);
  color: var(--light-theme-text-color);
  margin-bottom: 15px;
}
.flower-description {
  @include fontSecond(400, 16px, 20px);
  color: var(--light-theme-text-color);
  margin-bottom: 22px;
  @include desktop {
    max-width: 600px;
  }
}
.flower-icon {
  width: 42px;
  height: 42px;
}
.ingridients-title {
  @include fontSecond(500, 20px, 20px);
  color: var(--light-theme-text-color);
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.other-specific {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(24, 53, 43);
  @include tablet {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
}
.components-list {
  @include fontSecond(400, 18px, 22px);
  color: var(--black);
}
.components-item {
  display: flex;
  justify-content: space-between;
  @include desktop {
    gap: 60px;
  }
}
