// ------------------------------------соцмережі
.social {
  margin-bottom: 43px;
}
.social-list {
  display: flex;
  @include desktop {
    display: block;
  }
}
.social-item {
  &:not(:last-child) {
    margin-right: 20px;
    @include desktop {
      margin: 0;
      margin-bottom: 20px;
    }
  }
}
.social-item__link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all var(--main-transition);
  &.tictok {
    padding: 9px 10px;
    background-color: black;
  }
  &.youtube {
    padding: 13px 9px;
    background-color: #f40000;
  }
  &.instagram {
    padding: 10px;
    background: radial-gradient(
      230.93% 230.93% at 102.01% 2.03%,
      #f9b132 0%,
      #ee2a7b 36%,
      #d22a8a 44%,
      #8b2ab2 60%,
      #1b2af0 83%,
      #002aff 88%
    );
  }
  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}
