<section id="section-form">
  <div class="container">
    <div class="linl-box">
      <a class="link-nav" href="./index.html">Головна /</a>
      <a class="link-nav link-nav--active" href="#">Відгуки</a>
    </div>

    <h1 class="title">Відгуки</h1>

    <div class="assessment-box">
      <p class="assessment__text">Оцінка</p>

      <ul class="star-list">
        <li class="star-list__elements">
          <svg class="star-list__icon" width="24" height="24">
            <path
              d="M12 2L15.09 8.25342L22 9.26236L17 14.1272L18.18 21L12 17.7534L5.82 21L7 14.1272L2 9.26236L8.91 8.25342L12 2Z"
              stroke="#FFC549"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </li>
        <li class="star-list__elements">
          <svg class="star-list__icon" width="24" height="24">
            <path
              d="M12 2L15.09 8.25342L22 9.26236L17 14.1272L18.18 21L12 17.7534L5.82 21L7 14.1272L2 9.26236L8.91 8.25342L12 2Z"
              stroke="#FFC549"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </li>
        <li class="star-list__elements">
          <svg class="star-list__icon" width="24" height="24">
            <path
              d="M12 2L15.09 8.25342L22 9.26236L17 14.1272L18.18 21L12 17.7534L5.82 21L7 14.1272L2 9.26236L8.91 8.25342L12 2Z"
              stroke="#FFC549"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </li>
        <li class="star-list__elements">
          <svg class="star-list__icon" width="24" height="24">
            <path
              d="M12 2L15.09 8.25342L22 9.26236L17 14.1272L18.18 21L12 17.7534L5.82 21L7 14.1272L2 9.26236L8.91 8.25342L12 2Z"
              stroke="#FFC549"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </li>
        <li class="star-list__elements">
          <svg class="star-list__icon" width="24" height="24">
            <path
              d="M12 2L15.09 8.25342L22 9.26236L17 14.1272L18.18 21L12 17.7534L5.82 21L7 14.1272L2 9.26236L8.91 8.25342L12 2Z"
              stroke="#FFC549"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </li>
      </ul>
    </div>
    <form id="form" class="form" enctype="multipart/form-data" autocomplete="on">
      <label class="form__label">
        <input class="form__input" type="text" name="name" placeholder="Увведіть ім'я та прізвище" />
      </label>
      <label class="form__label">
        <input class="form__input" type="email" name="email" placeholder="Уведіть електронну адресу" />
      </label>
      <label class="form__label">
        <textarea class="textarea" name="text" placeholder="Уведіть ваш відгук"></textarea>
      </label>
      <label>
        <input class="visually-hidden" type="file" id="file" name="file" accept="image/jpeg,image/png" multiple="4" />
        <span class="file-img"></span>
        <span class="file-img"></span>
        <span class="file-img"></span>
        <span class="file-img"></span>
        <span class="file-text">Ви можете додати лише 4 файли</span>
      </label>

      <button type="submit" class="button dark button-form">Відправити відгук</button>
    </form>
  </div>
</section>
