<section class="reviews">
  <div class="container">
    <div class="filter-box">
      <p class="filter-title">Фільтрувати за:</p>
      <ul class="filter-list">
        <li class="filter-list__elements">
          <p class="filter-list__text" data-filter="date">Дата</p>
        </li>
        <li class="filter-list__elements">
          <p class="filter-list__text" data-filter="rating">Оцінка</p>
        </li>
        <li class="filter-list__elements">
          <p class="filter-list__text" data-filter="photo">Фото</p>
        </li>
      </ul>
    </div>
    <div class="reviews-box">
      <ul class="reviews-list">
        <!-- <li class="reviews-list__elements">
          <div class="user-photo">
            <span>VI</span>
          </div>
          <div class="reviews-list-box">
            <div class="reviews-box__header">
              <p class="reviews-box__name">Vitalik Dykhal</p>
              <p class="reviews-box__date">28.11.21</p>
              <ul class="reviews-box__stars">
                <li class="reviews-box__stars-elements">
                  <svg class="reviews-box__stars-icon reviews-box__stars-icon--active" width="24" height="24">
                    <path
                      d="M12 2L15.09 8.25342L22 9.26236L17 14.1272L18.18 21L12 17.7534L5.82 21L7 14.1272L2 9.26236L8.91 8.25342L12 2Z"
                      stroke="#FFC549"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </li>
                <li class="reviews-box__stars-elements">
                  <svg class="reviews-box__stars-icon" width="24" height="24">
                    <path
                      d="M12 2L15.09 8.25342L22 9.26236L17 14.1272L18.18 21L12 17.7534L5.82 21L7 14.1272L2 9.26236L8.91 8.25342L12 2Z"
                      stroke="#FFC549"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </li>
                <li class="reviews-box__stars-elements">
                  <svg class="reviews-box__stars-icon" width="24" height="24">
                    <path
                      d="M12 2L15.09 8.25342L22 9.26236L17 14.1272L18.18 21L12 17.7534L5.82 21L7 14.1272L2 9.26236L8.91 8.25342L12 2Z"
                      stroke="#FFC549"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </li>
                <li class="reviews-box__stars-elements">
                  <svg class="reviews-box__stars-icon" width="24" height="24">
                    <path
                      d="M12 2L15.09 8.25342L22 9.26236L17 14.1272L18.18 21L12 17.7534L5.82 21L7 14.1272L2 9.26236L8.91 8.25342L12 2Z"
                      stroke="#FFC549"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </li>
                <li class="reviews-box__stars-elements">
                  <svg class="reviews-box__stars-icon" width="24" height="24">
                    <path
                      d="M12 2L15.09 8.25342L22 9.26236L17 14.1272L18.18 21L12 17.7534L5.82 21L7 14.1272L2 9.26236L8.91 8.25342L12 2Z"
                      stroke="#FFC549"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </li>
              </ul>
            </div>
            <p class="reviews-box__text">
              Для меня это самый лучший магазин цветов. Покупаю их исключительно здесь. Цветы тут всегда свежие, а цены
              весьма демократичные. Неделю назад купила 25 роз сестре на День Рождения. До сих пор прекрасно
              сохранились. Магазин рекомендую.
            </p>
            <ul class="reviews-box-list__photo">
              <li class="reviews-box-list__elements">
                <a href="https://server-flower.herokuapp.com/f664d89e-cf3a-4f5e-ab37-e7246435e136.jpg">
                  <img
                    class="reviews-box-list__photo"
                    src="https://server-flower.herokuapp.com/f664d89e-cf3a-4f5e-ab37-e7246435e136.jpg"
                    alt="f664d89e-cf3a-4f5e-ab37-e7246435e136.jpg"
                  />
                </a>
              </li>
              <li class="reviews-box-list__elements">
                <a href="https://server-flower.herokuapp.com/ea12886c-4ce0-4bfc-8140-98555d9feef7.jpg">
                  <img
                    class="reviews-box-list__photo"
                    src="https://server-flower.herokuapp.com/ea12886c-4ce0-4bfc-8140-98555d9feef7.jpg"
                    alt="ea12886c-4ce0-4bfc-8140-98555d9feef7.jpg"
                  />
                </a>
              </li>
              <li class="reviews-box-list__elements">
                <a href="https://server-flower.herokuapp.com/46216426-aff1-4efd-9c32-450d5a931275.jpg">
                  <img
                    class="reviews-box-list__photo"
                    src="https://server-flower.herokuapp.com/46216426-aff1-4efd-9c32-450d5a931275.jpg"
                    alt="46216426-aff1-4efd-9c32-450d5a931275.jpg"
                  />
                </a>
              </li>
              <li class="reviews-box-list__elements">
                <a href="https://server-flower.herokuapp.com/dbe8bb7c-3c9c-4c2f-8f5d-d25941e92157.jpg">
                  <img
                    class="reviews-box-list__photo"
                    src="https://server-flower.herokuapp.com/dbe8bb7c-3c9c-4c2f-8f5d-d25941e92157.jpg"
                    alt="dbe8bb7c-3c9c-4c2f-8f5d-d25941e92157.jpg"
                  />
                </a>
              </li>
            </ul>
          </div>
        </li> -->
      </ul>
    </div>
  </div>
</section>
