.delivery .container {
  padding-top: 20px;
  padding-bottom: 50px;
  max-width: 360px;
  @include text('Montserrat', 400, 16px, 21px);
  color: var(--light-theme-text-color);

  @include tablet {
    max-width: 768px;
    padding-top: 30px;
    padding-bottom: 70px;
  }

  @include desktop {
    max-width: 1340px;
    @include text('Montserrat', 400, 20px, 26px);
  }
}

.delivery {
  @include desktop {
    &::before {
      top: 140px;
      z-index: 0;
    }
    background: url(../../dist/offers-background.b71ba6b1.png);
    background-size: 222px 810px;
    background-position: right top 720px;
    background-repeat: no-repeat;
  }

  &__title {
    margin-bottom: 30px;

    @include text('Montserrat', 500, 30px, 30px);
    color: var(--main-accent-color);

    @include tablet {
      @include text('Montserrat', 500, 36px, 36px);
    }

    &--country {
      margin-bottom: 20px;
      @include tablet {
        @include text('Montserrat', 600, 20px, 21px);
      }
    }
  }

  &__text {
    margin-bottom: 20px;
  }

  &__secondary-text {
    padding-top: 530px;
    margin-bottom: 20px;

    @include tablet {
      padding-top: 320px;
      margin-bottom: 30px;
    }

    @include desktop {
      padding-top: 320px;
    }
  }

  &__wrap-bg--text {
    text-align: center;
    padding: 50px 20px 56px 20px;
    @include desktop {
      max-width: 1340px;
      margin: 0 auto;
    }
    & p {
      padding: 12px;
      @include tablet {
        width: calc((100% - 15px) / 2);
      }
    }
    & p:not(:last-child) {
      margin: 0 auto;
      margin-bottom: 12px;
      @include tablet {
        margin: 0;
      }
    }
    & p:last-child {
      margin: 0 auto;
      @include tablet {
        margin: 0;
      }
    }

    @include tablet {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
    }
  }

  &__wrap-bg {
    position: absolute;
    display: block;
    left: 50%;
    margin-left: -180px;
    width: 360px;

    background-color: var(--main-accent-color);
    border-radius: 4px;

    &::before {
      z-index: 2;
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background-image: url('/src/img/payment/1.png'), url('/src/img/payment/2.png'), url('/src/img/payment/3.png'),
        url('/src/img/payment/4.png');
      background-size: 135px, 32px, 30px, 73px, 32px;
      background-repeat: no-repeat;
      background-position: top 0 left 0, top 0 right 48px, bottom 10px right 127px, bottom 0 right 0;
      @include tablet {
        background-position: top 0 left 0, top 0 right 48px, bottom 10px right 200px, bottom 0 right 0,
          top 90px left 79px;
        background-image: url('/src/img/payment/1.png'), url('/src/img/payment/2.png'), url('/src/img/payment/3.png'),
          url('/src/img/payment/4.png'), url('/src/img/payment/2.png');
      }
      @include desktop {
        background-size: 166px, 30px, 30px, 160px, 32px;
        background-position: top 0 left 0, top 120px right 120px, bottom -20px right 267px, bottom 0 right 0,
          top 120px left 79px;
        background-image: url('/src/img/payment/1.png'), url('/src/img/payment/2.png'), url('/src/img/payment/3.png'),
          url('/src/img/payment/4.png'), url('/src/img/payment/2.png');
      }
    }

    @include tablet {
      width: 768px;
      margin-left: -384px;
    }

    @include desktop {
      width: 100%;
      left: 0;
      right: 0;
      margin: 0;
    }

    & p {
      color: var(--dark-theme-text-color);
      font-weight: normal;
      border: 3px solid var(--border-color);
      border-radius: 4px;

      @include tablet {
        margin: 0;
      }

      @include desktop {
        max-width: 805px;
      }
    }
  }

  &__places {
    @include desktop {
      display: flex;
      justify-content: space-between;
    }
  }

  &__places p {
    margin-bottom: 20px;
  }

  &__list {
    padding: 0 0 0 24px;
    margin: 0;
  }

  &__pic {
    display: none;
    @include desktop {
      display: block;
      width: 530px;
    }
  }

  &__places-wrap {
    @include desktop {
      & p:last-child {
        margin-bottom: 50px;
      }
    }
  }

  &__places-text {
    @include desktop {
      width: 749px;
    }
  }
}

.delivery__text {
  margin-bottom: 20px;
  &-wrap {
    margin-bottom: 30px;
    @include tablet {
      margin-bottom: 40px;
    }
  }
}
