.favorites {
  margin-top: 30px;

  & .container {
  }

  &__button {
    padding-top: 15px;
    padding-bottom: 15px;
    &--centered {
      display: block;
      max-width: 240px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
