.footer__main{
    position: relative;
    padding: 30px 20px;
    background-color:var(--main-accent-color);
    @include desktop{
        padding: 40px 0px;
    }
}
.footer__main::before{
    content: '';
    width: 111px;
    height: 67px;
    background: url(/src/img/footer/footer-img1.webp) no-repeat;
    position: absolute;
    top:0;
    right: 0;
    @include tablet{
        background: url(/src/img/footer/footer-img1-tablet.webp) no-repeat;
        width: 159px;
        height: 96px;
    }
    @include desktop{
        background: url(/src/img/footer/footer-img1-desctop.webp) no-repeat;
        width: 265px;
        height: 158px;
    }
}
.footer__logo{
width: 134px;
height: 31px;
margin-bottom: 35px;
@include desktop{
    width: 200px;
    height: 47px;
    margin-bottom: 40px;
}
}
.footer__tel-item:not(:last-child){
    margin-bottom: 20px;
    @include tablet{
        margin-bottom: 22px;
    }
    @include desktop{
        margin-bottom: 20px;
    }
}

.footer__tel-list{
    float: left;
    width: 49%;
    @include tablet{
        width: 25%;
    }
}
.footer__contact-list{
    float: right;
    width: 49%;
    @include tablet{
        width: 25%;
    }
}
.footer__tel-link{
    @include text('Montserrat', 500, 14px, 17px);
    color: var(--dark-theme-title-color);
    @include tablet{
        @include text('Montserrat', 500, 16px, 20px);
    }
    @include desktop{
        @include text('Montserrat', 500, 18px, 22px);
    }
    &:hover,
    &:focus {
        text-decoration: underline;
      }
      
}
.footer__contact-link{
    &:hover,
    &:focus {
        text-decoration: underline;
      }
}
.footer__tel-svg{
    margin-right: 8px;
    @include tablet{
        margin-right: 11px;
    }
}

.footer__menu-list{
    float: left;
    width: 49%;
    
}
.footer__navigation-list{
    float: right;
    width: 49%;
    
}
.footer__main-content{
    @include tablet{
        position: relative;
    }
}
.footer__float{
    @media screen and (max-width: 767px){
        clear: both;
    }
   
}
.footer__float-next{
    clear: both;
    @include tablet{
        clear: left;
    }
}
.footer__nav-container{
    @media screen and (max-width: 767px){
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    @include tablet{
        max-width: 300px;
        margin-left: 30%;
    }
}
.footer__menu-link,
.footer__navigation-link{
    
    color: var(--dark-theme-title-color);

    @include text('Montserrat', 400, 14px, 17px);
    
    &:hover,
    &:focus {
        text-decoration: underline;
      }
}
.footer__menu-item,
.footer__navigation-item:not(:last-child){
    
    margin-bottom: 10px;
}
.footer__contact-item:not(:last-child){
margin-bottom: 10px;
}
.footer__contact-link,
.footer__contact-text{
    @include text('Montserrat', 400, 14px, 17px);
    color: var(--dark-theme-title-color);

    @include tablet{
        @include text('Montserrat', 400, 16px, 20px);
    }

    @include desktop{
        @include text('Montserrat', 400, 18px, 22px);
    }
}
.footer__contact-container{
    color: #dddddd;
    @include text('Montserrat', 400, 14px, 17px);

    @include tablet{
        @include text('Montserrat', 400, 16px, 20px);
    }

    @include desktop{
        @include text('Montserrat', 400, 18px, 22px);
    }
}
.footer__social-container{
    position: relative;
}
.footer__social-list{
    display: flex;

    @media screen and (max-width:767px) {
        margin-bottom: 20px;
        margin-top: 20px;
    }
    @include tablet{
        position: absolute;
        top: -35px;
             
    }

}

.footer__social-link:hover, .footer__social-link:focus{
    display: block;
    animation: animate125 1000ms infinite 10ms;
       
}

.footer__social-item:not(:last-child){
    margin-right: 10px;
}

.footer__form-title{
    display: inline-block;
        
    @include text('Montserrat', 500, 14px, 17px);
    color: var(--dark-theme-title-color);
   
    @media screen and (max-width:767px) {
        margin-bottom: 10px;
        width: 256px;
    }
    @include tablet{
        width: 180px;
        margin-right: 20px;
        margin-bottom: 0;
    }
    @include desktop{
    @include text('Montserrat', 500, 16px, 20px);
    width: 327px;
    margin-bottom: 10px;

    }

}
.footer__form-container{
    @include tablet{
        display: flex;
        margin-top: 35px;
        margin-bottom: 30px;
    }
}
.footer__form{
    max-width: 320px;
    height: 42px;
    display: flex;
    border: 1px solid #C4C4C4;
    border-radius: 4px;
    @include tablet{
        max-width: 420px;
    }

}
.footer__input{
    width: 60%;
    height: 42px;
    background-color: transparent;
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 12px;
    color: var(--white);
    @include tablet{
        padding-top: 12px;
        padding-bottom: 12px;
      
    }
   
}
.footer__input::placeholder{
    @include text('Montserrat', 500, 10px, 12px);
    color: var(--input-text-color);
    @include tablet{
        @include text('Montserrat', 500, 14px, 17px);
    }
}
.footer__btn{
    width: 137px;
    background-color: var(--green-light);
    border-radius: 3px;
    @include text('Montserrat', 500, 14px, 17px);
    color: var(--dark-theme-title-color);
    border: none;
    transition: background-color var(--main-transition);
    transition: border var(--main-transition);

    @include tablet{
        width: 151px;
        @include text('Montserrat', 500, 16px, 20px);
    }
    &:hover,
    &:focus{
        background-color: var( --main-accent-color);
        border: 2px ridge var( --green-light);
    }
}
.footer__company__container{
    display: flex;
    flex-direction: column-reverse;
}
.footer__company-info{
    @include tablet{
        display: flex;
    }

}
.footer__registration{
    @include text('Montserrat', 400, 10px, 13px);
    color: var(--grey);
    margin-top: 20px;
    @include tablet{
        margin-right: 20px;
    }
    @include desktop{
        @include text('Montserrat', 400, 13px, 17px);
    }
}

.footer__treaty{
    @include text('Montserrat', 400, 10px, 13px);
    color: var(--grey);
    margin-top: 20px;
    @include desktop{
        @include text('Montserrat', 400, 13px, 17px);
    }
}
.footer__reg-text:not(:last-child){
    margin-bottom: 5px;
};
.footer__treaty-text:not(:last-child){
    @media screen and (max-width:1339px) {
        margin-bottom: 5px;
    }
    
}
.footer__team{
    @include text('Montserrat', 400, 13px, 17px);
    color: var(--dark-theme-title-color);
    margin-top: 10px;
    @include tablet{
        margin-top: 20px;
    }
}
.footer__pay{
    background-color: #E5E5E5;
}
.footer__pay-list{
    padding-top: 12px;
    padding-bottom: 18px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: -15px;
    margin-top: -11px;
    @include tablet{
        padding-left: 30px;
        padding-top: 15px;
        padding-bottom: 20px;
        margin-right: -94px;
        margin-top: -17px;
    }
}
.footer__pay-item{
    margin-right: 15px;
    margin-top: 11px;
    @include tablet{
        margin-right: 94px;
        margin-top: 17px;
    }
}
.footer__pay-link{
    display: block;
    transform: scale(1);
    transition: transform var(--main-transition);

    &:hover,
    &:focus {
        
      transform: scale(1.1);
      @include tablet{
        transform: scale(1.2);
      }
    }
}
@keyframes animate125 {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(1.25);
    }
  
    100% {
      transform: scale(1);
    }
  }