#header {
  overflow: hidden;
}

// HEADER ONE

.header-box-one {
  padding: 10px 0;
}

.header {
  display: flex;
  align-items: center;
}

.header-one {
  justify-content: space-between;
  @include desktop {
    justify-content: center;
  }
}

.location {
  padding-left: 7px;
  display: flex;
  align-items: center;
  gap: 9px;
}

.location__text {
  //   margin: 0 9px;
  @include text('PT Sans', 400, 14px, 18px);
}

.location__arrow {
  transform: rotate(180deg);
}

.nav {
  margin-left: auto;
  display: none;
  @include desktop {
    display: block;
  }
}

.nav-list {
  @include desktop {
    display: flex;
    gap: 27px;
  }
}

.nav-list__link {
  color: var(--light-theme-text-color);
}

.nav-list__link,
.contacts__text,
.nav-list__link-menu {
  @include text('PT Sans', 400, 13px, 17px);
}

.nav-list__link-menu {
  transition: color 250ms linear;

  &:hover,
  &:focus {
    color: var(--drop-down-menu-color);
  }
}

.contacts__text,
.schedule-list {
  display: none;
  @include tablet {
    display: block;
  }
}

#header .header-button {
  @media screen and (max-width: 767.9px) {
    display: none;
  }
}

.nav-list__link {
  position: relative;
  display: flex;
  align-items: flex-end;

  transition: color 250ms linear;
}

.nav-list__link--arrow {
  &::after {
    content: '';
    display: inline-block;
    border-left: 3.5px solid transparent;
    border-right: 3.5px solid transparent;
    border-top: 5px solid #000;
    width: 0;
    height: 0;
    margin-left: 5px;
    margin-bottom: 4px;

    transform: rotate(0);

    transition: transform 250ms linear;
  }
}

.nav-list__elemrnts {
  position: relative;
}

.drop-down-menu {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 10px 20px 10px;

  border-radius: 4px;

  opacity: 0;
  pointer-events: none;

  background-color: #fff;
  transform-origin: 0 0;
  transform: scaleY(0);
  // transform: translateY(-100%);

  transition: transform 250ms linear, opacity 250ms linear;

  &--flex {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

.nav-list__elemrnts:hover .drop-down-menu {
  opacity: 1;
  pointer-events: all;
  transform: scaleY(1);
}

.nav-list__elemrnts:hover .nav-list__link--arrow::after {
  transform: rotate(180deg);
}

.contacts {
  margin-left: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  @include desktop {
    margin-left: auto;
    width: auto;
  }
}

.schedule-list__text {
  @include text('PT Sans', 700, 12px, 16px);
}

.network-list {
  display: none;
  @include desktop {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.network-list__link {
  color: var(--main-bgc-accent);
}

.header-one__tel {
  display: flex;
  align-items: center;

  .tel-list__link {
    color: var(--light-theme-text-color);
  }
  &::after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('../img/header/chevron-down.svg');
  }
  @include desktop {
    display: none;
  }
}

.header .header-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.language__text {
  @include text(null, null, 16px, 20px);
}

// HEADER TWO

.header-box-two {
  background-color: var(--main-accent-color);
}

.header-two {
  padding: 15px 0;
  justify-content: space-between;
}

.logo__link {
  margin-right: 20px;
}

.logo {
  width: 134px;
  height: 31px;
  @include desktop {
    width: 200px;
    height: 47px;
  }
}

.tel-list,
.list-icon {
  display: flex;
}

.tel-list {
  margin-right: 45px;

  @media screen and (max-width: 1339.9px) {
    display: none;
  }
}

.tel-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  @include text('PT Sans', 700, 15px, 21px);
  color: var(--dark-theme-text-color);
  &::before {
    content: '';
    width: 32px;
    height: 32px;
    display: block;
    background-image: url('../img/header/phone.svg');
  }
}

.search {
  display: none;
  position: relative;
  padding: 12px;
  margin-right: 30px;
  width: 100%;
  height: 42px;
  border: 1px solid var(--grey);
  border-radius: 4px;
  background-color: transparent;
  @include text(null, 500, 14px, 17px);

  @include tablet {
    width: 358px;
    display: block;

    color: var(--input-text-color);
  }

  @include desktop {
    width: 398px;
  }
}

.label__search {
  position: relative;
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    background-image: url('../img/header/lens.svg');
    width: 22px;
    height: 22px;

    transform: translateY(-50%);

    @include tablet {
      right: 40px;
    }
  }
}

.header-two .label__search::after {
  @media screen and (max-width: 767.9px) {
    display: none;
  }
}

.list-icon__elemens {
  color: var(--dark-theme-text-color);
}

.list-icon {
  gap: 15px;
}

.list-icon__elemens {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 32px;
  height: 32px;

  &::after {
    content: '';
    position: absolute;
    top: 3px;
    right: 7px;
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: var(--second-accent-color);
  }
}

.list-icon__elemens:nth-child(2) {
  &::after {
    right: 3px;
  }
}

.list-icon__elemens:last-child {
  width: auto;
  &::after {
    display: none;
  }
}

.list-icon__icon {
  stroke: currentColor;
}

.list-icon__text {
  display: inline-block;

  @include text('PT Sans', 400, 14px, 18px);
}

.search-mobail {
  padding: 10px;

  @include tablet {
    display: none;
  }
  .search {
    display: block;
  }
}
