.hero {
    position: relative;
    max-width: 1920px;
    // padding-top: 179px; // 52 + 65 + 62
    
    // @include tablet {
    //     padding-top: 124px; //52 + 72
    // }
    // @include desktop {
    //     padding-top: 138px; //57 + 81
    // }
    @media screen and (max-width: 767.98px) {
        padding-bottom: 97px;
    }
    & .container {
        position: relative;
    }
}

.hero-slide {
    height: 500px;
    @include desktop {
        height: 700px;
    }
    text-align: center;

    &:nth-child(1) {
        background-color: rgb(250, 231, 249);
        background-image: url(../img/hero/hero-bg-little.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        @media (min-device-pixel-ratio: 2), 
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            backgroung-image: url(../img/hero/hero-bg-little-2x.jpg)
        }
        @include desktop {
            background-image: url(../img/hero/hero-bg-desk.jpg);
            @media (min-device-pixel-ratio: 2),
                (min-resolution: 192),
                (min-resolution: 2) {
                    background-image: url(../img/hero/hero-bg-desk-2x.jpg);
                }
        }
    }

    &:nth-child(2) {
        background-color: rgba(199, 61, 61, 0.568);
        background-image: url(../img/hero/hero-bg-little.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                backgroung-image: url(../img/hero/hero-bg-little-2x.jpg)
            }
        
            @include desktop {
                background-image: url(../img/hero/hero-bg-desk.jpg);
        
                @media (min-device-pixel-ratio: 2),
                (min-resolution: 192),
                (min-resolution: 2) {
                    background-image: url(../img/hero/hero-bg-desk-2x.jpg);
                }
            }
    }

    &:nth-child(3) {
        background-color: rgba(150, 206, 252, 0.5);
        background-image: url(../img/hero/hero-bg-little.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                backgroung-image: url(../img/hero/hero-bg-little-2x.jpg)
            }
        
            @include desktop {
                background-image: url(../img/hero/hero-bg-desk.jpg);
        
                @media (min-device-pixel-ratio: 2),
                (min-resolution: 192),
                (min-resolution: 2) {
                    background-image: url(../img/hero/hero-bg-desk-2x.jpg);
                }
            }
    }
}

.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    background-color: var(--main-bgc-accent);
}

//-------------КОНТЕНТ------------
.hero-content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    
    width: 100%;
    padding-top: 30px;
    pointer-events: none;
    
    @include tablet {
        padding-top: 98px;
    }

    @include desktop {
        padding-top: 200px;
    }
    & > .container {
        @media screen and (max-width: 767.98px) {
            max-width: 360px;
        }
        
    }
}

.hero-content-wrap {
    max-width: 244px;
    @include tablet {
        max-width: 510px;
    }
    @include desktop {
        max-width: 639px;
    }
}

.hero-title {
    @include font(500, 30px, 1);
    color: var(--main-accent-color);
    margin-bottom: 20px;

    @include tablet {
        @include font(null, 36px, 1);
    }

    @include desktop {
        @include font(null, 45px, 1);
    }
}

.hero-text {
    @include font(400, 18px, calc(22px / 18px));
    color: var(--main-accent-color);
    margin-bottom: 30px;

    @include tablet {
        @include font(null, 20px, calc(24px / 20px));
        margin-bottom: 40px;
        width: 434px;
    }

    @include desktop {
        width: inherit;
    }
}

.hero .button {
    pointer-events: all;
}

//--------SLIDER SETTINGS-------------------

.hero-swiper-container .swiper-pagination-bullet {
    opacity: 1;
    width: 16px;
    height: 16px;
    margin: 0 7px;
    background-color: transparent;
    border: 1px solid var(--main-bgc-accent);
}

.hero-swiper-container .swiper-pagination-bullet-active {
    background-color: var(--main-bgc-accent);
}

.hero-swiper-container .swiper-pagination {
    @media screen and (max-width: 767.98px) {
        bottom: 132px;
    }
    bottom: 36px; 
    @include desktop {
        bottom: 46px;
    }
}

.hero-swiper-container .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 7px;
}

//------------HERO MODAL----------------------

.hero-modal-form-field {
    margin-bottom: 15px;
    @include font(500, 18px, calc(22px / 18px));
    color: var(--grey);
}

.hero-modal-label {
    display: block;
    margin-bottom: 5px;
}

.hero-modal-input {
    width: 100%;
    height: 40px;
    padding: 10px;

    border: 1px solid var(--grey);
    border-radius: 2px;
    outline: none;
    transition: border var(--main-transition);

    &:hover,
    &:focus {
        color: var(--main-accent-color);
        border: 1px solid var(--main-accent-color);
    }
}

.hero-modal-user-text {
    resize: none;

    width: 100%;
    height: 150px;
    margin-bottom: 20px;
    padding: 10px;
    
    border: 1px solid var(--grey);
    border-radius: 2px;
    outline: none;

    @include tablet {
        margin-bottom: 30px;
    }

    &:hover,
    &:focus {
        border: 1px solid var(--main-accent-color);
    }
    
    &::placeholder {
        color: var(--grey);
    }
}

.hero-modal .button {
    width: 100%;
    display: block;
}
