.hero {
    position: relative;
    max-width: 1920px;
    // padding-top: 179px; // 52 + 65 + 62
    
    // @include tablet {
    //     padding-top: 124px; //52 + 72
    // }
    // @include desktop {
    //     padding-top: 138px; //57 + 81
    // }
    @media screen and (max-width: 767.98px) {
        padding-bottom: 97px;
    }
    & .container {
        position: relative;
    }
}

.hero-slide {
    height: 500px;
    @include desktop {
        height: 700px;
    }
    text-align: center;

    &:nth-child(1) {
        background-color: rgb(250, 231, 249);
        background-image: url(../img/hero/hero-bg-little.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        @media (min-device-pixel-ratio: 2), 
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            backgroung-image: url(../img/hero/hero-bg-little-2x.jpg)
        }
        @include desktop {
            background-image: url(../img/hero/hero-bg-desk.jpg);
            @media (min-device-pixel-ratio: 2),
                (min-resolution: 192),
                (min-resolution: 2) {
                    background-image: url(../img/hero/hero-bg-desk-2x.jpg);
                }
        }
    }

    &:nth-child(2) {
        background-color: rgba(199, 61, 61, 0.568);
        background-image: url(../img/hero/hero-bg-little.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                backgroung-image: url(../img/hero/hero-bg-little-2x.jpg)
            }
        
            @include desktop {
                background-image: url(../img/hero/hero-bg-desk.jpg);
        
                @media (min-device-pixel-ratio: 2),
                (min-resolution: 192),
                (min-resolution: 2) {
                    background-image: url(../img/hero/hero-bg-desk-2x.jpg);
                }
            }
    }

    &:nth-child(3) {
        background-color: rgba(150, 206, 252, 0.5);
        background-image: url(../img/hero/hero-bg-little.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                backgroung-image: url(../img/hero/hero-bg-little-2x.jpg)
            }
        
            @include desktop {
                background-image: url(../img/hero/hero-bg-desk.jpg);
        
                @media (min-device-pixel-ratio: 2),
                (min-resolution: 192),
                (min-resolution: 2) {
                    background-image: url(../img/hero/hero-bg-desk-2x.jpg);
                }
            }
    }
}

.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    background-color: var(--main-bgc-accent);
}

//-------------КОНТЕНТ------------
.hero-content {
    position: relative;
    pointer-events: none;
    
    width: 100%;
    z-index: 50;
    position: absolute;
    top: 0;
    padding-top: 30px;

    @include tablet {
        padding-top: 98px;
    }

    @include desktop {
        padding-top: 200px;
    }
    & > .container {
        @media screen and (max-width: 767.98px) {
            max-width: 360px;
        }
        
    }
}

.hero-content-wrap {
    max-width: 244px;
    @include tablet {
        max-width: 510px;
    }
    @include desktop {
        max-width: 639px;
    }
}

.hero-title {
    @include font(500, 30px, 1);
    color: var(--main-accent-color);
    margin-bottom: 20px;

    @include tablet {
        @include font(null, 36px, 1);
    }

    @include desktop {
        @include font(null, 45px, 1);
    }
}

.hero-text {
    @include font(400, 18px, calc(22px / 18px));
    color: var(--main-accent-color);
    margin-bottom: 30px;

    @include tablet {
        @include font(null, 20px, calc(24px / 20px));
        margin-bottom: 40px;
        width: 434px;
    }

    @include desktop {
        width: inherit;
    }
}
.hero .button {
    pointer-events: all;
}

//--------SLIDER SETTINGS-------------------

.hero-swiper-container .swiper-pagination-bullet {
    opacity: 1;
    width: 16px;
    height: 16px;
    margin: 0 7px;
    background-color: transparent;
    border: 1px solid var(--main-bgc-accent);
}
.hero-swiper-container .swiper-pagination-bullet-active {
    background-color: var(--main-bgc-accent);
}
.hero-swiper-container .swiper-pagination {
    @media screen and (max-width: 767.98px) {
        bottom: 132px;
    }
    bottom: 36px; 
    @include desktop {
        bottom: 46px;
    }
}
.hero-swiper-container .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 7px;
}

//------------HERO MODAL----------------------

.backdrop {
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
    transition: opacity var(--main-transition), 
    visibility var(--main-transition);

    background-color: rgba(0, 0, 0, 0.3);

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }
}

.hero-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;

    .backdrop.is-hidden & {
        transform: translate(-50%, -50%) scale(0.8);
        opacity: 0.7;
    }
    width: 100%;
    @media screen and (min-width: 480px) {
        width: 450px;
    }

    @include desktop {
        width: 528px;
    }
        padding: 30px 40px 40px;
        background-color: #ffffff;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        transition: transform var(--main-transition),
        opacity var(--main-transition);
}

.hero-modal-close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 40px;
    height: 40px;
    background-color: inherit;
    fill: var(--main-accent-color);
    &:hover,
    &:focus {
        fill: #70a5a0;
    }
    & > svg {
        fill: inherit;
    }
}

.hero-modal-title {
    // font-family: 'PT Sans';
    text-align: center;
    margin-bottom: 20px;

    @include font(500, 30px, 1.2);
    color: var(--main-accent-color);
    
    // @include tablet {
    //     @include font(null, 36px, 1);
    // }

    @include desktop {
        @include font(null, 45px, 1);
    }
}
.hero-modal-form-field {
    margin-bottom: 10px;
    @include font(500, 18px, calc(22px / 18px));
    color: var(--main-accent-color);
}
.hero-modal-label {
    display: block;
    margin-bottom: 5px;
}
.hero-modal-input {
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    border: 1px solid #bababa;
    border-radius: 2px;
    outline: none;
    &:focus {
        border: 2px solid var(--main-accent-color);
    }
}
.hero-modal-user-text {
    resize: none;

    width: 100%;
    height: 120px;
    margin-bottom: 20px;
    padding: 10px;
    
    border: 1px solid #bababa;
    border-radius: 2px;
    outline: none;
    &:focus {
        border: 2px solid var(--main-accent-color);
    }
    &::placeholder {
        color: #bababa;
    }
}

.hero-modal .button {
    display: block;
    margin: 0 auto;
}