.instagram-section {
    padding: 50px 0;
    @include tablet {
        padding: 80px 0;
    }
    @include desktop {
        padding: 100px 0 98px;
    }

    .container {
        overflow: hidden;
        padding-right: 0;
        width: 100%;
        max-width: 1360px;

        @include desktop {
            // margin: 0 auto;
            padding-right: 20px;
        }
    }
}

.adiitional-insta-wrap {
    max-width: 1318px;
}

.insta-title {
    margin-bottom: 15px;
    @include font(500, 30px, 1);
    color: var(--light-theme-title-color);

    @include tablet {
        margin-bottom: 50px;
        font-size: 36px;
    }
}

.insta-swiper-slide.swiper-slide {
    width: 310px;
    height: 310px;
    margin-right: 10px;
}

.insta-swiper-wrapper {
    display: flex;
    min-width: 0;
}

.insta-image-wrapper {
    width: 310px;
    height: 310px;
    text-align: center;
    & img {
        max-width: 100%;
        background-color: rgb(253, 220, 251);
    }
}