.label__search {
  position: relative;
  z-index: 111111111;
}

#search-box-1 {
  display: none;
  @include tablet {
    display: grid;
  }
}
#search-box-2 {
  display: grid;
  @include tablet {
    display: none;
  }
}
.search-list-box {
  position: absolute;
  left: 0;

  gap: 10px;
  padding: 17px 12px 20px 12px;
  width: 100%;

  border-radius: 0 0 10px 10px;

  background-color: red;
}

.search-list__elements {
  display: block;

  cursor: pointer;

  @include text('Montserrat', 400, 16px, 20px);

  color: var(--light-theme-text-color);
}
