.pers-cab-menu-wrap {
    @media screen and (max-width: 767.98px) {
        max-width: 450px;
    }
    @include desktop {
        max-width: 310px;
    }

    &.is-hidden {
        display: none;
        @include desktop {
            display: block;
        }
    }
    &>.container {
        @include tablet {
            padding: 0;
        }
    }
}

.pers-cab-menu-close-icon {
    stroke: var(--grey);
    transition: stroke var(--main-transition);

    .pers-cab-menu-close-btn:hover &,
    .pers-cab-menu-close-btn:focus & {
        stroke: var(--light-theme-text-color);
    }
}

.pers-cab-menu-title {
    margin-bottom: 30px;
    @include font(500, 36px, 1);
    color: var(--light-theme-title-color);

    @include desktop {
        display: none;
        margin-bottom: 64px;
    }
}

.pers-cab-menu-item {
    position: relative;

    background-color: var(--white);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    &:not(:last-child) {
        margin-bottom: 2px;
    }

    @include tablet {
        width: 728px;
    }
    @include desktop {
        width: 310px;
    }
}

.pers-cab-menu-button {
    display: inline-block;
    padding: 18px 15px 18px 53px;
    width: 100%;

    font-family: 'PT sans';
    text-align: start;
    @include font(400, 18px, calc(23px / 18px));
    color: var(--black);
    background-color: inherit;
    border-radius: 4px;
    transition: color 250ms linear, background-color 250ms linear;

    &:hover,
    &:focus {
        color: var(--main-accent-color);
    }
    &.currentBtn {
        background-color: var(--main-accent-color);
        color: var(--dark-theme-text-color);
        .pers-cab-menu-icon {
            stroke: var(--dark-theme-text-color);
        }
    }
}

.pers-cab-menu-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);

    width: 28px;
    height: 28px;
    stroke: var(--main-accent-color);
    pointer-events: none;
    transition: stroke 250ms linear;
}
