.pers-orders {
    width: 100%;
    padding: 30px 20px 20px;
    background-color: var(--white);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 4px;

    @include tablet {
        padding: 30px 0px 30px 30px;
    }

    @include desktop {
        padding-right: 30px;
    }
}

.pers-orders .pers-content-title {
    margin-bottom: 20px;
    @include tablet {
        margin-bottom: 34px;
    }
}

.orders-for-small {
   @include tablet {
        display: none;
    } 
}

.orders-for-big {
    display: none;
    @include tablet {
        display: block;
    }
}

.pers-orders .single-order-mob {
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 20px;
    &:not(:first-child) {
        padding-top: 20px;
    }
}

.order-param-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:last-child) {
        margin-bottom: 10px;
    }

    &:nth-child(1) {
        .order-bold {
            display: flex;
            gap: 5px;
        }
    }

    &:nth-child(2) {
        display: block;
        .pers-orders-text {
            margin-bottom: 10px;
        }
    }
}

.pers-orders-text {
    @include font(400, 14px, calc(17px / 14px));
    color: var(--black);

    &.order-light {
        color: var(--light-theme-text-color);
    }

    &.order-bold {
        font-weight: 500;
        color: var(--light-theme-text-color);
    }
}

.pers-orders-prod {
    display: flex;
    align-items: center;
}


.pers-orders img {
    width: 50px;
    height: 50px;
}

.pers-orders-prod>.span-text {
    @include font(400, 10px, calc(12px / 10px));
    color: var(--grey);
    margin-left: 10px;
}

.order-state {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: start;

    &::after {
        display: block;
        content: "";
        width: 11px;
        height: 11px;
        border-radius: 2px;
        margin-left: 10px;
    }

    &.pay-expected::after {
        background-color: #BEDEF5;
    }

    &.sent::after {
        background-color: #48B8AC;
    }

    &.cancel::after {
        background-color: #F04438;
    }

    &.del::after {
        background-color: #0B7A6A;
    }
}

.pers-orders-header {
    display: grid;
    grid-template-columns: 80px 300px 80px 160px;
    grid-column-gap: 21px;

    padding-bottom: 10px;
    border-bottom: 1px solid #EEEEEE;

    @include desktop {
        grid-column-gap: 88px;
    }
}

.pers-orders-header>li {
    &:last-child {
        text-align: right;
    }
}

.pers-single-order {
    display: grid;
    grid-template-columns: 80px 300px 80px 160px;
    grid-column-gap: 21px;
    grid-row-gap: 10px;

    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #EEEEEE;

    &:first-child {
        padding-top: 20px;
    }

    @include desktop {
        grid-column-gap: 88px;
    }
}

.pers-single-order>li {
    &:first-child {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}