.pers-orders {
    width: 100%;
    padding: 30px 20px 20px;
    background-color: var(--white);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    @include tablet {
        padding: 30px 0px 30px 30px;
    }
}

table {
    border-collapse: collapse;
}

.pers-orders .pers-content-title {
    text-align: left;
    margin-bottom: 20px;

    @include tablet {
        margin-bottom: 34px;
    }
}

th {
    &:not(:last-child) {
        padding-right: 21px;
        @include desktop {
            padding-right: 88px;
        }
    }

    padding-bottom: 10px;
}

tr.pers-orders-header {
    border-bottom: 1px solid #EEEEEE;
}

th.pers-orders-text {
    text-align: left;

    @include tablet {
        &:nth-child(1) {
            width: 80px;
        }

        &:nth-child(2) {
            width: 309px;
        }

        &:nth-child(3) {
            width: 91px;
        }

        &:nth-child(4) {
            width: 143px;
            width: 160px; //ukr
        }
    }
}

.pers-orders-text {
    @include font(400, 14px, calc(17px / 14px));
    color: var(--black);

    &.order-light {
        color: var(--light-theme-text-color);
    }

    &.order-bold {
        font-weight: 500;
        color: var(--light-theme-text-color);
    }
}

tr.pers-orders-data {
    border-bottom: 1px solid #EEEEEE;
}

.orders-first td {
    padding-top: 20px;
}

td {
    padding-top: 10px;
    padding-bottom: 10px;
}

.pers-orders-prod {
    display: flex;
    align-items: center;
}

td.pers-orders-text {
    &:first-child {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}

.pers-orders img {
    width: 50px;
    height: 50px;
}

.pers-orders-prod>.span-text {
    @include font(400, 10px, calc(12px / 10px));
    color: var(--grey);
}

.order-state {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &::after {
        display: block;
        content: "";
        width: 11px;
        height: 11px;
        border-radius: 2px;
        margin-left: 10px;
    }

    &.pay-expected::after {
        background-color: #BEDEF5;
    }
    &.sent::after {
        background-color: #48B8AC;
    }
    &.cancel::after {
        background-color: #F04438;
    }

    &.del::after {
        background-color: #0B7A6A;
    }
}