.pers-form-group {
  padding: 30px 20px;
  margin-bottom: 20px;

  border-radius: 4px;
  background-color: var(--white);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);

  @include tablet {
    padding-right: 61px;
    padding-left: 30px;
    margin-bottom: 25px;
  }

  @include desktop {
    padding-right: 40px;
    margin-bottom: 30px;

    &:nth-child(2) {
      padding-bottom: 44px;
    }
  }
}

.pers-form-group .pers-content-title {
  margin-bottom: 15px;
  @include desktop {
    margin-bottom: 20px;
  }
}

.pers-first-form-wrap-desk {
  @include desktop {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}

.pers-photo-wrap > label {
  position: relative;
  display: block;
  width: 80px;
}

.pers-photo-wrap input {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: 80px;
  cursor: pointer;
  opacity: 0;
  font-size: 0;
}

.profile-img-preview {
  display: block;

  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;

  img {
    object-fit: cover;
    display: block;
    height: 100%;
    width: 100%;
  }
}

.pers-img {
  display: block;
  width: 100%;
  height: 100%;

  background-color: var(--dark-theme-text-color);
  background-image: url('../img/personal-cabinet/camera.svg');
  background-repeat: no-repeat;
  background-position: center;

  @include desktop {
    margin-right: 15px;
  }
}

.pers-photo-icon {
  stroke: var(--main-accent-color);
  width: 40px;
  height: 40px;
}

.pers-first-form-wrap-tab {
  @include tablet {
    display: flex;
    gap: 95px;
  }
  @include desktop {
    gap: 15px;
  }
}

.input-col-wrap {
  display: grid;
  grid-row-gap: 10px;
}

.pers-form-group-text {
  margin-top: 15px;
  margin-bottom: 10px;
  @include font(null, 18px, calc(22px / 18px));
  color: var(--black);
  pointer-events: none;
}

.pers-radio-input {
  &:checked + .pers-radio-label::after{
    transform: scale(1);
  }
}

.pers-radio-label {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;

  @include font(400, 14px, calc(17px / 14px));
  color: var(--black);

  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.pers-radio-label::before {
  content: '';
  width: 24px;
  height: 24px;
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid var(--grey);
}

.pers-radio-label::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--main-accent-color);
  transform: scale(0);
}

.input-grid-wrap {
  display: grid;
  grid-row-gap: 10px;

  @include desktop {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
  }
}

.local-label {
  position: relative;

  @include tablet {
    width: 440px;
  }

  &::after {
    position: absolute;
    top: 42%;
    right: 16px;
    content: '';

    display: block;
    border-left: 5.5px solid transparent;
    border-right: 5.5px solid transparent;
    border-top: 7px solid var(--light-theme-text-color);
    width: 0;
    height: 0;

    transition: transform 250ms linear;
  }
}

.local-label > input {
  padding-right: 30px;
}

.pers-form-group .wrap-for-call {
  display: flex;
  align-items: center;
  gap: 20px;
}

.pers-form-group .for-call-text {
  @include font(500, 12px, calc(15px / 12px));
  color: var(--main-accent-color);
  pointer-events: none;
  @include tablet {
    @include font(500, 14px, calc(17px / 14px));
  }
}

.pers-time-flex-wrap {
  display: flex;
  gap: 15px;
}

.pers-time-label {
  display: flex;
  align-items: center;
  gap: 5px;
  @include font(500, 14px, calc(17px / 14px));
}

.pers-time-input {
  display: block;
  content: '';
  width: 68px;
  height: 29px;
  padding: 6px 16px;
  border: 1px solid var(--grey);
  border-radius: 4px;
  color: var(--main-accent-color);

  &::placeholder {
    color: var(--grey);
  }
}
