<section class="return-section">
    <div class="container">
        <ul class="return-nav">
            <li class="return-nav-item">
                <a href="./index.html">Головна /</a>
            </li>
            <li class="return-nav-item">Повернення</li>
        </ul>
        <h1 class="return-top-title">Повернення</h1>
        <p class="return-top-text">Ми робимо для покупців більше</p>
        <div class="return-info">
            <h3 class="return-second-title">Захист покупця: Повернення та заміна букета</h3>
            <p class="return-text">Товар поверненню та обміну на аналогічний товар не підлягяє</p>
        </div>
    </div>

    <div class="return-exception">
        <div class="container">
            <div class="return-exception-text-wrap">
                <p class="return-text">Крім випадків, коли на момент отримання товар є неналежної якісті з характерними дефектами.</p>
                <p class="return-text">Усі претензії до якості товару приймаються тільки:</p>
            </div>
            <ul class="return-exception-list">
                <li class="return-exception-item">в момент отримання товару в магазині;</li>
                <li class="return-exception-item">в момент отримання товару «Замовником або Одержувачем» при доставці кур'єром (після підписання документів і
                    від'їзду кур'єра претензії не приймаються!)
                </li>
            </ul>
        </div>
    </div>

    <div class="return-details">
        <div class="container">
            <div class="return-details-text-wrap">
                <p class="return-text">Повернення грошей здійснюється тим способом, яким покупець здійснив оплату.</p>
                <p class="return-text">У разі відмови клієнта від замовлення, кошти повертаються на картку, якщо замовлення було
                    скасовано до виїзду кур'єра на
                    доставку.</p>
                <p class="return-text">Термін повернення коштів на картку може досягати 30 днів і залежить від банку емітента, який
                    випустив картку.</p>
            </div>
        </div>
    </div>
    
</section>