<section class="personal-cabinet"  data-pers-cab-main>
    <!-- style="display: none;" -->
    <div class="container">

        <h1 class="visually-hidden">Особистий кабінет</h1>

        <h2 class="pers-cab-title-desk">Особистий кабінет</h2>
        <button type="button" class="pers-cab-menu-btn" data-open-menu-btn>Меню
            <svg class="pers-cab-menu-close-icon" width="40" height="40">
                <use href="./img/symbol-defs.svg#burger-menu-icon"></use>
            </svg>
        </button>
        <button type="button" class="pers-cab-menu-btn is-hidden" data-close-menu-btn>Згорнути меню
            <svg class="pers-cab-menu-close-icon" width="40" height="40">
                <use href="./img/symbol-defs.svg#cross-icon"></use>
            </svg>
        </button>

        <div class="pers-cab-main">
            <include src="./partials/personal-cabinet/main/components/menu.html"></include>
            
            <div class="pers-cab-content-wrap" data-content-wrap>
                <include src="./partials/personal-cabinet/main/components/profile.html"></include>
                <include src="./partials/personal-cabinet/main/components/orders.html"></include>
                <include src="./partials/personal-cabinet/main/components/notification.html"></include>
                <include src="./partials/personal-cabinet/main/components/favorites.html"></include>
            </div>
        </div>
    </div>
</section>